<?php header('Content-Disposition: attachment; filename="example_products_import.csv";'); ?>
name,details,highlight,text,keyword,link1,link1_text,link2,link2_text,image_extension,active,special_offer,special_offer_headline,special_offer_body,type,price,quantity,expires,changed_expire,show_and_save,book_coupon,web_coupon,mobile_reward,phone_benefit,online_purchase,available_national,available_act,available_nsw,available_nt,available_qld,available_sa,available_tas,available_vic,available_wa,category
Andamooka Dukes Bottlehouse Motel,15% off.<br><br> TERMS & CONDITIONS: Not valid in conjunction with any other offer.,15% Discount,,,http://www.andamookaopal.com.au/,Click here to visit web site...,,,,1,0,,,offer,0,0,0000-00-00,2004-12-31 0:00,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,Automotive
McLaren Vale Lakeside Caravan Park,My Rewards members receive 10% OFF.<br><br> TERMS & CONDITIONS: Not valid in conjunction with any other offer.,10% Discount,,,http://www.mclarenvale.net/,Click here to visit web site...,,,,1,0,,,offer,0,0,0000-00-00,2004-12-31 0:00,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,Health & Beauty
Bindarah Valley Bed and Breakfast,Bindarah Valley Bed & Breakfast ****1/2 Star Stay 2 nights, 3rd night free.<br><br> TERMS & CONDITIONS: Sunday - Thursday night only. Not valid in conjunction with any other offer.,3 For 2,,,http://www.bindarah-valley-bed-and-breakfast.com,Click here to visit web site...,,,,1,0,,,offer,0,0,0000-00-00,2004-12-31 0:00,0,0,1,0,0,0,0,0,0,0,0,0,0,0,dfsdf
