<?php 

echo "<select style=\"width:4em\" name=\"data[MerchantAddress][$adId][state]\"><option value=\"\">State</option>\n";
foreach($cstates as $scode=>$sval ) 
{
	if($scode==$stateid)
	echo "<option value=\"$scode\" selected>$sval</option>\n";
	else
	echo "<option value=\"$scode\">$sval</option>\n";
}
echo "</select>";
?>