<ul>
<?php foreach  ($products as $product) : ?>
	<li><a href="<?php echo $this->Html->url('/products/edit/'. $product['Product']['id']); ?>"><?php echo $product['Product']['name']; ?></a></li>
<?php endforeach; ?>
</ul>

