<!--<table>
	<tr>
		<td valign="top" style="width:70px"><strong>Included Clients</strong></td>
		<td valign="top">
			<div style="width:500px;min-height:100px">
				<div style="height:180px;width:220px;background-color:#fff;overflow:auto;border:1px solid #ccc;">
					<?php foreach ($clientsList as $cval=>$cname):?>
						<?php echo $this->Form->checkbox('Product.client',array('value'=>$cval,'id'=>'client')); ?>
						&nbsp;&nbsp;<?php echo $cname ?><br>
					<?php endforeach; ?>
				</div>
			</div>
		</td>
	</tr>
</table>-->
<?php if(!empty($clientsList)) : ?>
	<div style="width:245px;background-color:#fff;overflow:auto;border:1px solid #ccc;padding-bottom:5px;" id="ic<?php echo $pid;?>">
		<strong><?php echo $program_name; ?></strong><br>
		<input type="checkbox" class="checkbox" id="checkall<?php echo $pid ?>" onclick="selectAll('<?php echo $pid ?>');"><span style="color:red"><b>Select All Clients</b></span><br>
		<?php foreach ($clientsList as $cval=>$cname):?>
			<input type="checkbox" name="data[Client][Client][]" value="<?php echo $cval;?>" class="checkbox" checked="checked"/>
			&nbsp;&nbsp;<?php echo $cname ?><br>
		<?php endforeach; ?>
	</div>
<?php endif; ?>