<?php foreach ($merchant_addresses as $address) : ?>
	<a href="<?php echo $this->Html->url('/products/view/'. $product_id. '/'. $address['MerchantAddress']['id']); ?>"><?php echo $address['MerchantAddress']['suburb']; ?></a>	<br/>
<?php endforeach; ?>