	<style>
		#message div
		{
			background-color:transparent !important;
			color: red !important;
		}		
	</style>
	<div style="padding:10px">
		<div style="padding-right:10px;">
			<?php echo $this->element('message'); ?><br/>
		</div>
		<h4 style=" margin: 0 0 21px 140px;">Post Your Comment</h4>	
		
		<!--<form action="/comments/add_comments" method="post" id="CommentAddForm" >-->
	<?php echo $this->Form->create('Comment', array('class'=>'standard'));?>
	
			<table>
			<!--	<tr>
					<td width="120px" style="padding:10px">Name</td>
					<td  style="padding:10px"><?php echo $this->Session->read('user.User.first_name'). ' '. $this->Session->read('user.User.last_name'); ?></td>
				</tr>	-->
				<tr>
					<td width="120px" style="padding:10px"><span style="color:red">*</span>Title</td>
					<td  style="padding:5px">
						<?php echo $this->Form->input('Comment.name',array('class'=>'comment_input','id'=>'name','label'=>''));?>
					</td>
				</tr>
				<tr>
					<td style="padding:5px"><span style="color:red">*</span>Comments</td>
					<td style="padding:5px">
						<?php echo $this->Form->input('Comment.comments', array('id'=>'comments','type' => 'textarea', 'escape' => false, 'rows' => 4,'cols' => 35,'class'=>'comment_input','label'=>''));?>
					</td>
				</tr>
				<tr>
					<td colspan="2" style="padding-left:145px;padding-top:10px">
						<?php //echo $this->Form->submit('Submit', array('class'=>'rounded_corners_button comment_button', 'div'=>false,'style'=>'width:80px', 'onclick'=>"Modalbox.show('/comments/add_comments/$prodid/$prodname', {params: Form.serialize('CommentAddForm'), method: 'post'}); return false;"));
						
		 echo $this->Form->submit('Submit', array('class'=>'button_search_module rounded_corners_button', 'div'=>false, 'type'=>'button', 'onclick'=>"addcomments(".$prodid.")"));				
						
						?>
					</td>
				</tr>
			</table>
		<!--</form>-->
		<?php echo $this->Form->end();?>
	</div>
	
	<script>
function addcomments(pid) {
	//alert(pid);
	$.ajax({
		url: '/comments/add_comments/'+pid,
		data: $('#CommentAddCommentsForm').serialize(),
		type: 'POST',
		success: function(data){
			
			$("#modalboxpopup").html(data).dialog({modal: true, "position": "top"});
		}
	});
	return false;
}
</script>