<?php if(($module_data['check_online']['ClientPage']['enabled'] == 1 || $module_data['check_online']['ClientPage']['enabled_override'] == 1) && ($module_data['check_online']['ClientPage']['page_id'] == 61)&& $this->Session->read('client.Client.dashboard')==1): ?>
	<div id="fourth_row">
		<div id="right_column">
			<div class="module">
				<div class="t rounded-corners content">
							        
			    </div>
				<div class="rounded-corners">
					<div class="content">
						<?php if (isset($module_data['check_online']['ClientPage']['content'])) : ?>
							<div class="tab_padding">
								<?php echo ($module_data['check_online']['ClientPage']['content']); ?>
							</div>
						<?php endif; ?>
						<div style="height:2px"></div>
					</div>
				
					<div class="b rounded-corners_bottom">&nbsp;</div>
				</div>
			</div>
	  	</div>
	</div>
<?php endif; ?>
<?php if(($module_data['check_online']['ClientPage']['enabled'] == 1 || $module_data['check_online']['ClientPage']['enabled_override'] == 1) && ($module_data['check_online']['ClientPage']['page_id'] == 61)&& $this->Session->read('client.Client.dashboard')==2): ?>
	<div id="fourth_row">
		<div id="right_column">
			<div class="module">
				<div class="t rounded-corners content">
			        <div class="tab_padding">
						<span class="tab_font_style">Check Out What's Online</span>
					</div>
			    </div>
				<div class="rounded-corners">
					<div class="content">
						<?php if (isset($module_data['check_online']['ClientPage']['content'])) : ?>
							<div class="tab_padding">
								<?php echo ($module_data['check_online']['ClientPage']['content']); ?>
							</div>
						<?php endif; ?>
						<div style="height:2px"></div>
					</div>
				
					<div class="b rounded-corners_bottom">&nbsp;</div>
				</div>
			</div>
	  	</div>
	</div>
<?php endif; ?>
<?php if(($module_data['check_online']['ClientPage']['enabled'] == 1 || $module_data['check_online']['ClientPage']['enabled_override'] == 1) && ($module_data['check_online']['ClientPage']['page_id'] == 61)&& $this->Session->read('client.Client.dashboard')==3): ?>
	<div id="fourth_row">
		<div id="right_column">
			<div class="module">
				<div class="t rounded-corners content">
			        <div class="tab_padding">
						<span class="tab_font_style">Check Out What's Online</span>
					</div>
			    </div>
				<div class="rounded-corners">
					<div class="content">
						<?php if (isset($module_data['check_online']['ClientPage']['content'])) : ?>
							<div class="tab_padding">
								<?php echo ($module_data['check_online']['ClientPage']['content']); ?>
							</div>
						<?php endif; ?>
						<div style="height:2px"></div>
					</div>
				
					<div class="b rounded-corners_bottom">&nbsp;</div>
				</div>
			</div>
	  	</div>
	</div>
<?php endif; ?>

