<?php
$bannerempty = true;
foreach($this->Session->read('client.ClientBanner') as $key => $value) {
if($this->Session->read('dashboardidinsession')==$value['dashboard_id'])
{
	$bannerempty = false;
	if($this->Session->read('dashboardidinsession')==1)
	{
		$foldername="";
		if($this->Session->read('client.Client.id') == 1408) 
			$path="/display/nominate_a_friend";
		else
			$path="/myrewards";
	}
	if($this->Session->read('dashboardidinsession')==2)
	{
		$foldername="_saf";
		$path="/send_a_friend";
	}
	if($this->Session->read('dashboardidinsession')==3)
	{
		$foldername="_points";
		$path="/mypoints";
	}
?>
 <?php if ($value['banner_option'] == '0') : ?>
	<table>
		<tr id="header_top" height="10px">
			<td>&nbsp;</td>
		</tr>
		
		<tr id="banner_container">
			<?php if(empty($value['banner_background_image_right_extension']) && !empty($value['banner_background_image_left_extension'])): ?>
				<td align="right" style="border-left:1px solid #DFDFDF;border-right:1px solid #DFDFDF;padding:0;">
					<?php if ($value['banner_background_image_left_extension']!= ''): ?>
						<a href=<?php echo $path ?> style="text-decoration:none;">
							<img src="<?php echo $this->Html->url('/files/banner_background_image_left'.$foldername.'/'. $value['client_id']. '.'. $value['banner_background_image_left_extension']); ?>" alt=""  border="0" />
						</a>
					<?php endif;?>
				</td>
			<?php elseif(!empty($value['banner_background_image_right_extension']) && !empty($value['banner_background_image_left_extension'])): ?>
				<td align="right" style="border-left:1px solid #DFDFDF;border-right:1px solid #DFDFDF;padding:0;">
					<a href=<?php echo $path ?> style="text-decoration:none;">
					<span style="display:block;<?php
					if ($value['banner_background_image_left_extension'] != '') {
						echo "background-image:  url('". $this->Html->url('/files/banner_background_image_left'.$foldername.'/'. $value['client_id']. '.'. $value['banner_background_image_left_extension']). "');";
					}
					echo 'height:100px';
					?>">
					<?php if($value['banner_background_image_right_extension'] !=''){ ?>

						<img src="<?php echo $this->Html->url('/files/banner_background_image_right'.$foldername.'/'. $value['client_id']. '.'. $value['banner_background_image_left_extension']); ?>" alt=""  border="0" />


					<?php } ?>
					</span>
					</a>
				</td>
			<?php elseif(empty($value['banner_background_image_right_extension']) && empty($value['banner_background_image_left_extension'])): ?>
				<table>
					<tr id="banner_container"><td style="border-left:1px solid #DFDFDF;border-right:1px solid #DFDFDF;padding:0;height:100px;color:#CCC">
					<i><center>No Banner Uploaded.</center></i></td></tr>
				</table>
			<?php endif;?>
		</tr>
	</table>
	<?php elseif ($value['banner_option'] == '1') : ?>
	<?php //if  ($this->Session->read('client.Client.header_links_disabled') != '1') :  ?>
		<table>
			<tr id="header_top" height="10px"  >
				<td> </td>
			</tr>
		</table>
	<?php //endif; ?>
	
	<table>
		<tr id="banner_container">
			<?php if(empty($value['banner_background_image_right_extension']) && !empty($value['banner_background_image_left_extension'])): ?>
				<td style="border-left:1px solid #DFDFDF;border-right:1px solid #DFDFDF;padding:0;">
					<?php if ($value['banner_background_image_left_extension'] != ''): ?>
						<a href=<?php echo $path ?> style="text-decoration:none;">
							<img src="<?php echo $this->Html->url('/files/banner_background_image_left'.$foldername.'/'. $value['client_id']. '.'. $value['banner_background_image_left_extension']); ?>" alt=""  border="0" />
						</a>
					<?php endif;?>
				</td>
			<?php elseif(!empty($value['banner_background_image_right_extension']) && !empty($value['banner_background_image_left_extension'])): ?>
				<td align="right" style="border-left:1px solid #DFDFDF;border-right:1px solid #DFDFDF;padding:0;">
					<a href=<?php echo $path ?> style="text-decoration:none;">
					<span style="display:block;<?php
					if ($value['banner_background_image_left_extension'] != '') {
						echo "background-image:  url('". $this->Html->url('/files/banner_background_image_left'.$foldername.'/'. $value['client_id']. '.'.$value['banner_background_image_left_extension']). "');";
					}

					echo 'background-repeat: no-repeat;height:100px';
					?>">
					<?php if($value['banner_background_image_right_extension'] !=''){ ?>

						<img src="<?php echo $this->Html->url('/files/banner_background_image_right'.$foldername.'/'. $value['client_id'] . '.'. $value['banner_background_image_left_extension']); ?>" alt=""  border="0" />


					<?php } ?>
					</span>
					</a>
				</td>
			<?php elseif(empty($value['banner_background_image_right_extension']) && empty($value['banner_background_image_left_extension'])): ?>
				<table>
					<tr id="banner_container"><td style="border-left:1px solid #DFDFDF;border-right:1px solid #DFDFDF;padding:0;height:100px;color:#CCC">
					<i><center>No Banner Uploaded.</center></i></td></tr>
				</table>
			<?php endif;?>
		</tr>
	</table>
<?php endif; ?>
<?php }} ?>

<?php if($bannerempty){?>
<table>
	<tr id="header_top" height="10px">
		<td>&nbsp;</td>
	</tr>

	<tr id="banner_container"><td style="border-left:1px solid #DFDFDF;border-right:1px solid #DFDFDF;padding:0;height:100px;color:#CCC">
	<i><center>No Banner Uploaded.</center></i></td></tr>
</table>
<?php }?>
<?php if($this->Session->read('dashboardidinsession')==1) : ?>
<table>
	<tr>
		<td style="border-bottom:none;padding-top:10px;">
			<?php echo $this->element('keyword_search');?>
		</td>
	</tr>	
</table>
<?php endif; ?>
<table>
	<tr>
		<td style="border-bottom:none;padding-top:10px;">
			<div class="module">
				<div class="tm rounded-corners menu_color" style="font-size:15px; height:38px">
					<?php echo $this->element('menu');?>
				</div>
			</div>
		</td>
	</tr>
</table>