<div class="module_box">
	<div class="t content">
		<div class="tab_padding" style="padding-bottom: 3px ! important; padding-left: 0px ! important; margin-left: -6px;" >
			<span class="tab_font_style"><?php //echo $module_data['replacement']['ClientPage']['title']; ?></span>
		</div>
    </div>
	<div>
		<div style="border:2px solid #cccccc;width:355px;height:435px;overflow:auto;">
			<div style="border:2px solid #ffffff;">
				<?php if (isset($module_data['replacement']['ClientPage']['content'])) : ?>
					<?php echo ($module_data['replacement']['ClientPage']['content']); ?>
				<?php endif; ?>
			</div>
		</div>
	
		<div style="height:2px"></div>
	</div>
</div>
