<?php if($this->Session->check('user')) : ?>
	<ul id="menu">
		<li>
			<a style="pading-left:12px" href="<?php if($this->Session->read('dashboardidinsession')==1){echo $this->Html->url('/myrewards');}if($this->Session->read('dashboardidinsession')==2){echo $this->Html->url('/send_a_friend');}if($this->Session->read('dashboardidinsession')==3){echo $this->Html->url('/mypoints');}?>">
				<?php if(($this->Session->read('client.Client.program_id') == 21) || ($this->Session->read('client.Client.program_id') == 7)) : ?>
					Home
				<?php else : ?>
					Dashboard
				<?php endif; ?>		
			</a>
		</li>
	</ul>
<?php endif;?>
<?php  
	if($this->Session->read('dashboardidinsession')==1)
	{
		echo $this->Tree->show_menu($this->Session->read('client1'),1);
	}
	if($this->Session->read('dashboardidinsession')==2)
	{
		echo $this->Tree->show_menu($this->Session->read('client2'),2);
	}
	if($this->Session->read('dashboardidinsession')==3)
	{
		echo $this->Tree->show_menu($this->Session->read('client3'),3);
	}  
?>
<?php if($this->Session->check('user')) : ?>
	<ul id="menu">
		<li>
			<?php if($this->Session->read('dashboardidinsession')==2) : ?>
				<a href="javascript:void(0)" onclick="SUDEffect('s_content')">Search</a>
			<?php else : ?>
				<a href="javascript:void(0)" onclick="SUDEffect('s_content')">Advanced Search</a>
			<?php endif; ?>
		</li> 
	</ul>
<?php endif;?>
