<div class="module_box">
	<div class="t content" style="padding:0px !important;">
		<div class="tab_padding" style="padding-left:0px !important;">
			<span class="tab_font_style"><?php //echo $title; ?></span>
		</div>
    </div>
	<div>
		<?php echo $this->element($module. '_module'); ?>
		<div style="height:2px"></div>
	</div>
</div>