	<div id="modalboxpopup1" style=" display: none;  width: 364px;  margin-top: 20px; height: 278px; background-color:#fff; "> </div>

<div style="border:2px solid #cccccc;height:435px;width:350px;padding-left:1px">
	<div style="border:2px solid #ffffff;height:430px;width:345px;">
		<div style="padding: 15px 1px 10px 4px;">
			<?php 
				echo "<strong>Points Available : ".$userredeempoints['User']['points']." points</strong>" ;
			?>
		</div>
	
		
		<div style="min-height:360px;">
			 <table style="width:340px;margin-left:3px;" border="1px">
				<tbody>
					<tr class="tr">
						<!--<th style="text-align:left;padding: 0.5em 1em 0.59em 0.9em !important;background-color:#cccccc;border:1px solid #969090;">Product Id</th>-->
						<th style="text-align:left;padding: 0.5em 1em 0.59em 0.9em !important;background-color:#cccccc;border:1px solid #969090;">Activity</th>
						<th style="text-align:left;padding: 0.5em 1em 0.59em 0.9em !important;background-color:#cccccc;border:1px solid #969090;">Points</th>
						<th style="text-align:left;padding: 0.5em 1em 0.59em 0.9em !important;background-color:#cccccc;border:1px solid #969090;">Qty</th>
						<th style="text-align:left;padding: 0.5em 1em 0.59em 0.9em !important;background-color:#cccccc;border:1px solid #969090;">Date</th>
					</tr>
					<?php 
					
						foreach ($user_redeem as $gmp)
						{
							
							foreach ($gmp as $gamp)
							{
							//	print_r($gmp);
								
					?>
					
					
								<tr class="altrow">
									<!--<td style="white-space:nowrap;padding: 14px 3px 2px 10px !important;">
										<?php if($gamp['RedeemTracker']['activity']=='Points Updated') : ?>
											<span style="padding-left:12px">----</span>
										<?php else : ?>
											<?php echo $gamp['RedeemTracker']['product_id'];?>
										<?php endif; ?>
									</td>-->
									<td style="white-space:nowrap;padding: 14px 3px 2px 10px !important;max-width: 145px; overflow: hidden;text-overflow: ellipsis;">
										<?php if($gamp['RedeemTracker']['activity']=='Points Updated') : ?>
											<?php echo $gamp['RedeemTracker']['activity'];?>
										<?php else : 
									$date = $gamp["RedeemTracker"]["activity_date"];
								$qty = $gamp["RedeemTracker"]["quantity"];
																			?>
									
							
											<a href="#" onclick="show(<?php echo $gamp["RedeemTracker"]["product_id"].','.$gamp["RedeemTracker"]["points"].','."'$date'".','."'$qty'"  ?>)" title=""><?php echo $gamp['Products']['name'];?></a>
			
			
			
								
	
	<script type="text/javascript">				
	 function show(pid,rid,rp,qty){ 
	
	 $.post('users/show_user_redeem/'+pid+'/'+rid+'/'+rp +'/'+qty+ '?>', function(data){	
   $('#modalboxpopup1').html(data); 
   $('#modalboxpopup1').dialog({width: 450, modal: true, "position": "top"});
 	
			} );
				}
				
				</script>							
								 			
											
											
										<?php endif; ?>
									</td>
									<td style="white-space:nowrap;padding: 14px 3px 2px 10px !important; text-align: right;">
										<?php echo $gamp['RedeemTracker']['points'];?>
									</td>
									
									<td style="white-space:nowrap;padding: 14px 3px 2px 10px !important;text-align: right;">
										<?php echo $gamp['RedeemTracker']['quantity'];?>
									</td>
									
									<td style="white-space:nowrap;padding: 14px 3px 2px 10px !important;">
										<?php echo $gamp['RedeemTracker']['activity_date'];?>
									</td>
								</tr>
					<?php
							}
						}	 
					?>

				</tbody>
			</table>
		</div>
		<div style="margin: 1px 0 0 250px;">
			<a href="<?php echo $this->Html->url('/users/redeem_history/'); ?>">More Details</a>
		</div>
	</div>
</div>

<script type="text/javascript">
	
</script>
