/* Font */
@font-face {
    font-family: 'RobotoLight';
    src: url('fonts/Roboto-Light-webfont.eot');
    src: url('fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Light-webfont.woff') format('woff'),
         url('fonts/Roboto-Light-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Light-webfont.svg#RobotoLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*! fancyBox v2.1.4 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top;
}

.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020;
}

.fancybox-skin {
	position: relative;
	background: #f9f9f9;
	color: #444;
	text-shadow: none;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}

.fancybox-opened {
	z-index: 8030;
}

.fancybox-opened .fancybox-skin {
	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	   -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
	position: relative;
}

.fancybox-inner {
	overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}

.fancybox-error {
	color: #444;
	font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 15px;
	white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
}

.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background-image: url('../images/fancybox/fancybox_sprite.png');
}

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: 0.8;
	cursor: pointer;
	z-index: 8060;
}

#fancybox-loading div {
	width: 44px;
	height: 44px;
	background: url('../images/fancybox/fancybox_loading.gif') center center no-repeat;
}

.fancybox-close {
	position: absolute;
	top: -18px;
	right: -18px;
	width: 36px;
	height: 36px;
	cursor: pointer;
	z-index: 8040;
}

.fancybox-nav {
	position: absolute;
	top: 0;
	width: 40%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	background: transparent url('../images/fancybox/blank.gif'); /* helps IE */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	z-index: 8040;
}

.fancybox-prev {
	left: 0;
}

.fancybox-next {
	right: 0;
}

.fancybox-nav span {
	position: absolute;
	top: 50%;
	width: 36px;
	height: 34px;
	margin-top: -18px;
	cursor: pointer;
	z-index: 8040;
	visibility: hidden;
}

.fancybox-prev span {
	left: 10px;
	background-position: 0 -36px;
}

.fancybox-next span {
	right: 10px;
	background-position: 0 -72px;
}

.fancybox-nav:hover span {
	visibility: visible;
}

.fancybox-tmp {
	position: absolute;
	top: -99999px;
	left: -99999px;
	visibility: hidden;
	max-width: 99999px;
	max-height: 99999px;
	overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
	overflow: hidden;
}

.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 8010;
	background: url('../images/fancybox/fancybox_overlay.png');
}

.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}

.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
	visibility: hidden;
	font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	position: relative;
	text-shadow: none;
	z-index: 8050;
}

.fancybox-opened .fancybox-title {
	visibility: visible;
}

.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -35px;
	z-index: 8050;
	text-align: center;
}

.fancybox-title-float-wrap .child {
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: transparent; /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(0, 0, 0, 0.8);
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
	        border-radius: 15px;
	text-shadow: 0 1px 2px #222;
	color: #FFF;
	font-weight: bold;
	line-height: 24px;
	white-space: nowrap;
}

.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
}

.fancybox-title-inside-wrap {
	padding-top: 10px;
}

.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	#LiveHelpScroll {
		right: 5px;
	}
}
#LiveHelpEmbedded * {
	-webkit-box-sizing:content-box; -moz-box-sizing:content-box; -ms-box-sizing:content-box; box-sizing:content-box;
}
#LiveHelpEmbedded div, #LiveHelpEmbedded a {
	font-family: Helvetica, Verdana, Arial, sans-serif;
}
#LiveHelpEmbedded a.fancybox {
	border-bottom: none !important;
}
#LiveHelpEmbedded div {
	color: #000;
	font-weight: normal !important;
}
#LiveHelpEmbedded a:link, #LiveHelpEmbedded a:visited, #LiveHelpEmbedded a:active {
	color: #333399;
	text-decoration: none;
	border-bottom-width: 0.05em;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}
#LiveHelpEmbedded a:hover {
	color: #333399;
	text-decoration: none;
	border-bottom-width: 0.05em;
	border-bottom-style: solid;
	border-bottom-color: #333399;
}
#LiveHelpScroll div {
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 12px; 
}
#LiveHelpScroll::-webkit-scrollbar-track{
  visibility: hidden; /* doesn't seem to work */
}
#LiveHelpScroll::-webkit-scrollbar{
  position: absolute;
  width: 8px;
  height: 8px;
}

#LiveHelpScroll::-webkit-scrollbar-button:start:decrement {
  display: block;
  width: 5px;
  height: 5px;
  background-color: transparent;
}
#LiveHelpScroll::-webkit-scrollbar-button:end:increment {
  display: block;
  width: 5px;
  height: 5px;
  background-color: transparent;
}
#LiveHelpScroll::-webkit-scrollbar-track:enabled {
  background-color: transparent;
}
#LiveHelpScroll::-webkit-scrollbar-track-piece {
  background-color: transparent;
  border: none;
  margin: 8px 0 5px 0;
}
#LiveHelpScroll::-webkit-scrollbar-thumb:vertical {
  height: 30px;
  border: 1px solid rgba(140, 140, 140, .5);
  background-color: rgba(155, 155, 155, .5);
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px; 
  border-radius: 5px; 
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2), inset 0 0 1px rgba(255, 255, 255, .8);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.2), inset 0 0 1px rgba(255, 255, 255, .8);
  box-shadow: 0 1px 3px rgba(0,0,0,0.2), inset 0 0 1px rgba(255, 255, 255, .8);
  -webkit-transition: background-color .2s;
  -moz-transition: background-color .2s;
  transition: background-color .2s;
}
#LiveHelpScroll::-webkit-scrollbar-thumb:vertical:active{
  background-color: rgba(155, 155, 155, 1);
  border: 1px solid rgba(140, 140, 140, 1);
}
#LiveHelpScroll::-webkit-scrollbar-thumb:horizontal {
  width: 30px;
  border: 1px solid rgba(140, 140, 140, .5);
  background-color: rgba(155, 155, 155, .5);
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px; 
  border-radius: 5px; 
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2), inset 0 0 1px rgba(255, 255, 255, .8);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.2), inset 0 0 1px rgba(255, 255, 255, .8);
  box-shadow: 0 1px 3px rgba(0,0,0,0.2), inset 0 0 1px rgba(255, 255, 255, .8);
  -webkit-transition: background-color .2s;
  -moz-transition: background-color .2s;
  transition: background-color .2s;
}
#LiveHelpScroll::-webkit-scrollbar-thumb:horizontal:active{
  background-color: rgba(155, 155, 155, 1);
  border: 1px solid rgba(140, 140, 140, 1);
}

#LiveHelpMessages {
	width: 290px;
	text-align: left;
	margin: 0 0 5px 0;
}

.sent {
	color:#666; margin:5px 0 5px;
}

.received {
	color:#000; margin:5px 0 5px;
}

.LiveHelpLogin {
	position:relative;
	margin: 15px auto;
	width: 220px;
	background: #f3f3f3;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}

.LiveHelpLogin.drop-shadow {
	margin: 15px auto;
}

.LiveHelpLogin label {
	text-align: left;
	float:none;
	color:#777;
	font-size:12px;
	line-height: normal;
	padding: 0;
}

#LiveHelpEmbedded .button, #LiveHelpOffline .button {
	display: inline-block;
	padding: 0 25px;
	margin: 0 auto;
	border-radius: 18px;
	height: 40px;
	border: solid #ccc 1px;
	background: #fefefe;
	background:-webkit-linear-gradient(top, #fefefe, #e5e5e5);
	background: -webkit-linear-gradient(top, #fefefe, #e5e5e5);
	background: -moz-linear-gradient(top, #fefefe, #e5e5e5);
	background: -o-linear-gradient(top, #fefefe, #e5e5e5);
	background: -ms-linear-gradient(top, #fefefe, #e5e5e5);
	background:linear-gradient(top, #fefefe, #e5e5e5);
	-box-shadow:inset 0 0 5px rgba(255,255,255,1.0);
	-webkit-box-shadow:inset 0 0 5px rgba(255,255,255,1.0);
	-moz-box-shadow:inset 0 0 5px rgba(255,255,255,1.0);
	font-family:'Segoe UI Light', 'Segoe WP Light', 'Helvetica Neue', 'RobotoLight', sans-serif !important;
	text-shadow:0 0 1px #ccc;
	font-size:20px;
	line-height:37px;
	color:#666;
	cursor:pointer;
	text-indent: 0 !important;
}

#LiveHelpEmbedded .button:hover, #LiveHelpOffline .button:hover {
	background: #fefdfd;
	background: -webkit-linear-gradient(top, #fefefe, #d8d9d9);
	background: -moz-linear-gradient(top, #fefefe, #d8d9d9);
	background: -o-linear-gradient(top, #fefefe, #d8d9d9);
	background: -ms-linear-gradient(top, #fefefe, #d8d9d9);
	background:linear-gradient(top, #fefefe, #d8d9d9);
}

/* BubbleTip CSS */

.bubbletip {
	position: absolute;
	z-index: 90000000;
	width: auto;
	border-collapse: collapse;
	margin: 0;
	border: none;
	-webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;
	direction: ltr;
}
.bubbletip td, .bubbletip th, .bubbletip table, .bubbletip table td, .bubbletip table th {
	border: none;
	margin: 0;
	padding: 0;
	width: auto;
	line-height: normal;
}
.bubbletip td.bt-topleft {
	background: transparent url(../images/bubbletip/bubbletip.png) no-repeat scroll 0px 0px;
	height: 33px;
	width: 33px;
}
.bubbletip td.bt-top {
	background: transparent url(../images/bubbletip/bubbletip-T-B.png) repeat-x scroll 0px 0px;
	height: 33px;
}
.bubbletip td.bt-topright {
	background: transparent url(../images/bubbletip/bubbletip.png) no-repeat scroll -73px 0px;
	height: 33px;
	width: 33px;
}
.bubbletip td.bt-left-tail div.bt-left, .bubbletip td.bt-left {
	background: transparent url(../images/bubbletip/bubbletip-L-R.png) repeat-y scroll 0px 0px;
	width: 33px;
}
.bubbletip td.bt-left-tail div.bt-left-tail {
	background: transparent url(../images/bubbletip/bubbletip.png) no-repeat scroll 0px -33px;
	width: 33px;
	height: 40px;
}
.bubbletip td.bt-right-tail div.bt-right, .bubbletip td.bt-right {
	background: transparent url(../images/bubbletip/bubbletip-L-R.png) repeat-y scroll -33px 0px;
	width: 33px;
}
.bubbletip td.bt-right-tail div.bt-right-tail {
	background: transparent url(../images/bubbletip/bubbletip.png) no-repeat scroll -73px -33px;
	width: 33px;
	height: 40px;
}
.bubbletip td.bt-bottomleft {
	background: transparent url(../images/bubbletip/bubbletip.png) no-repeat scroll 0px -73px;
	height: 33px;
	width: 33px;
}
.bubbletip td.bt-bottom {
	background: transparent url(../images/bubbletip/bubbletip-T-B.png) repeat-x scroll 0px -33px;
	height: 33px;
}
.bubbletip td.bt-bottomright {
	background: transparent url(../images/bubbletip/bubbletip.png) no-repeat scroll -73px -73px;
	height: 33px;
	width: 33px;
}
.bubbletip table.bt-top, .bubbletip table.bt-bottom {
	width: 100%;
}
.bubbletip table.bt-top th {
	width: 50%;
	background: transparent url(../images/bubbletip/bubbletip-T-B.png) repeat-x scroll 0px 0px;
}
.bubbletip table.bt-bottom th {
	width: 50%;
	background: transparent url(../images/bubbletip/bubbletip-T-B.png) repeat-x scroll 0px -33px;
}
.bubbletip table.bt-top td div {
	background: transparent url(../images/bubbletip/bubbletip.png) no-repeat scroll -33px 0px;
	width: 40px;
	height: 33px;
}
.bubbletip table.bt-bottom td div {
	background: transparent url(../images/bubbletip/bubbletip.png) no-repeat scroll -33px -73px;
	width: 40px;
	height: 33px;
}
.bubbletip td.bt-content {
	background-color: #fff;
	vertical-align: middle;
}

/* Background Sprites */
#LiveHelpEmbedded .background, #LiveHelpCallAction.background{background:url('../images/BackgroundSprite.png') no-repeat}
#LiveHelpEmbedded .background.ChatBackground{height:13px;background-position:0px 0px;background-repeat:repeat-x}
#LiveHelpEmbedded .background.MessageBackground{height:70px;background-position:0px -13px;background-repeat:repeat-x}
#LiveHelpEmbedded .background.OperatorBackground{height:50px;background-position:0px -83px;background-repeat:repeat-x}
#LiveHelpEmbedded .background.TabBackground{height:36px;background-position:0px -133px;background-repeat:repeat-x}
#LiveHelpEmbedded .background.ChatActionText{width:124px;height:64px;background-position:0px -169px}
#LiveHelpEmbedded .background.LiveChatIcon{width:54px;height:55px;background-position:0px -233px}

#LiveHelpCallAction.background.ChatActionText{width:124px;height:64px;background-position:0px -169px}

/* Box Effects */

.drop-shadow {
	background: none repeat scroll 0 0 #FFFFFF;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	margin: 15px 10px 10px;
	padding: 1em;
	position: relative;
}
.drop-shadow:before, .drop-shadow:after {
	content: "";
	position: absolute;
	z-index: -2;
}
.drop-shadow p {
	font-size: 16px;
	font-weight: bold;
}
.lifted {
	border-radius: 4px 4px 4px 4px;
}
.lifted:before, .lifted:after {
	-moz-transform: rotate(-3deg);
	bottom: 15px;
	box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
	height: 20%;
	left: 10px;
	max-width: 300px;
	width: 50%;
}
.lifted:after {
	-moz-transform: rotate(3deg);
	left: auto;
	right: 10px;
}
.curled {
	border: 1px solid #EFEFEF;
	border-radius: 0 0 120px 120px / 0 0 6px 6px;
}
.curled:before, .curled:after {
	-moz-transform: skew(-8deg) rotate(-3deg);
	bottom: 12px;
	box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
	height: 55%;
	left: 10px;
	max-width: 200px;
	width: 50%;
}
.curled:after {
	-moz-transform: skew(8deg) rotate(3deg);
	left: auto;
	right: 10px;
}
.perspective:before {
	-moz-transform: skew(50deg);
	-moz-transform-origin: 0 100%;
	bottom: 5px;
	box-shadow: -80px 0 8px rgba(0, 0, 0, 0.4);
	height: 35%;
	left: 80px;
	max-width: 200px;
	width: 50%;
}
.perspective:after {
	display: none;
}
.raised {
	box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.curved:before {
	border-radius: 10px 10px 10px 10px / 100px 100px 100px 100px;
	bottom: 10px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
	left: 0;
	right: 50%;
	top: 10px;
}
.curved-vt-2:before {
	right: 0;
}
.curved-hz-1:before {
	border-radius: 100px 100px 100px 100px / 10px 10px 10px 10px;
	bottom: 0;
	left: 10px;
	right: 10px;
	top: 50%;
}
.curved-hz-2:before {
	border-radius: 100px 100px 100px 100px / 10px 10px 10px 10px;
	bottom: 0;
	left: 10px;
	right: 10px;
	top: 0;
}
.rotated {
	-moz-transform: rotate(-3deg);
	box-shadow: none;
}
.rotated > *:first-child:before {
	background: none repeat scroll 0 0 #FFFFFF;
	bottom: 0;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	content: "";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: -1;
}

<!--[if IE]>
.bubbletip td.bt-topleft {
	background-image: url(../images/bubbletip/bubbletip-TL-corner.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-attachment: scroll;
}
.bubbletip td.bt-top {
	background: transparent url(../images/bubbletip/bubbletip-T.png) repeat-x scroll 0px 0px;
}
.bubbletip td.bt-topright {
	background: transparent url(../images/bubbletip/bubbletip-TR-corner.png) no-repeat scroll 0px 0px;
}
.bubbletip td.bt-left-tail div.bt-left, .bubbletip td.bt-left {
	background: transparent url(../images/bubbletip/bubbletip-L.png) repeat-y scroll 0px 0px;
}
.bubbletip td.bt-left-tail div.bt-left-tail {
	background: transparent url(../images/bubbletip/bubbletip-L-tail.png) no-repeat scroll 0px 0px;
}
.bubbletip td.bt-right-tail div.bt-right, .bubbletip td.bt-right {
	background: transparent url(../images/bubbletip/bubbletip-R.png) repeat-y scroll 0px 0px;
}
.bubbletip td.bt-right-tail div.bt-right-tail {
	background: transparent url(../images/bubbletip/bubbletip-R-tail.png) no-repeat scroll 0px 0px;
}
.bubbletip td.bt-bottomleft {
	background: transparent url(../images/bubbletip/bubbletip-BL-corner.png) no-repeat scroll 0px 0px;
}
.bubbletip td.bt-bottom {
	background: transparent url(../images/bubbletip/bubbletip-B.png) repeat-x scroll 0px 0px;
}
.bubbletip td.bt-bottomright {
	background: transparent url(../images/bubbletip/bubbletip-BR-corner.png) no-repeat scroll 0px 0px;
}
.bubbletip table.bt-top th {
	background: transparent url(../images/bubbletip/bubbletip-T.png) repeat-x scroll 0px 0px;
}
.bubbletip table.bt-bottom th {
	background: transparent url(../images/bubbletip/bubbletip-B.png) repeat-x scroll 0px 0px;
}
.bubbletip table.bt-top td div {
	background: transparent url(../images/bubbletip/bubbletip-T-tail.png) no-repeat scroll 0px 0px;
}
.bubbletip table.bt-bottom td div {
	background: transparent url(../images/bubbletip/bubbletip-B-tail.png) no-repeat scroll 0px 0px;
}
<![endif]-->

#LiveHelpInvite {
	width:31px;
	height:262px;
	overflow:hidden;
	position:fixed;
	top:250px;
	right:0px;
	z-index:10000;
	display:none;
}

#LiveHelpInviteTab {
	position:relative;
	top:0;
	height:228px;
	width:283px;
	right:0;
	z-index:20000;
	cursor:pointer;
}

#LiveHelpInviteClose {
	position:relative;
	bottom:-5px;
	height:20px;
	width:283px;
	right:0;
	z-index:20000;
	cursor:pointer;
}

#LiveHelpInviteText {
	display:block;
	width:119px;
	height:89px;
	overflow:hidden;
	position:fixed;
	top:320px;
	right:20px;
	z-index:0;
	display:none;
}

#LiveHelpCallAction {
	display:none;
	position:fixed;
	right:75px;
	bottom:50px;
	z-index:0
}

#LiveHelpEmbedded {
	display:none;
	position:fixed;
	bottom:-415px;
	right:65px;
	z-index:10000000;
	border:1px solid #afacac;
	width:320px;
	height:450px;
	line-height:normal;
	text-shadow:none;
	color: #000;
}

.LiveChatIcon {
	position:absolute;
	left:-10px;
	top:-15px;
	z-index:50000000;
}

#LiveHelpStatusText {
	position:absolute;
	font-family:'Segoe UI Light', 'Segoe WP Light', 'Helvetica Neue', 'RobotoLight', sans-serif !important;
	text-shadow:0 0 1px #ccc;
	font-size:24px;
	line-height:36px;
	color:#333;
	left:45px;
	z-index:30000000;
}

#LiveHelpInitiateChat {
	position:absolute;
	left:10px;
	top:10px;
	display:none;
	z-index:5000;
}

#LiveHelpCloseButton {
	position:absolute;
	display:none;
	cursor:pointer;
	right:5px;
	top:5px;
	z-index:40000000;
}

#LiveHelpNotification {
	position:absolute;
	display:none;
	top:-12px;
	left:90px;
	z-index:30000000;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size:12px;
	color:#fff;
	text-align:center;
}

#LiveHelpNotification span {
	height:17px; line-height:17px;
}

#LiveHelpTab {
	position:absolute;
	top:0px;
	left:0;
	height:36px;
	width:100%;
	background-color:#dddedf;
	background-repeat:repeat-x;
	background:-webkit-linear-gradient(top, #f6f7f8, #c4c5c6);
	-box-shadow:inset 0 0 5px rgba(255,255,255,1.0);
	-webkit-box-shadow:inset 0 0 5px rgba(255,255,255,1.0);
	-moz-box-shadow:inset 0 0 5px rgba(255,255,255,1.0);
}

.OperatorBackground {
	position:absolute;
	top:36px;
	left:0;
	height:50px;
	width:100%;
	background-color:#2b2b2b;
	background-repeat:repeat-x;
}

#LiveHelpOperatorImage {
	position:absolute;
	top:5px;
	left:18px;
	width:40px;
	height:40px;
	z-index:20000000;
	border-radius:40px;
}

.OperatorForeground {
	position:absolute;
	top:0px;
	z-index:30000000;
}

#LiveHelpOperatorNameBackground {
	position:absolute;
	top:7px;
	left:0;
	height:35px;
	width:220px;
	margin: 0 10px 0 70px;
	-webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;
	background: #3c3a3a;
	-box-shadow:inset 1px 1px 1px rgba(0,0,0,0.5);
	-webkit-box-shadow:inset 1px 1px 1px rgba(0,0,0,0.5);
	-moz-box-shadow:inset 1px 1px 1px rgba(0,0,0,0.5);
}

#LiveHelpOperatorName {
	position:absolute;
	top:2px;
	left:10px;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size:15px;
	color:#c4c2c2 !important;
}

#LiveHelpOperatorDepartment {
	position:absolute;
	bottom:2px;
	left:10px;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size:12px;
	color: #c4c2c2 !important;
	max-height: 15px;
	overflow: hidden;
	text-overflow: ellipsis;
}

#LiveHelpBody {
	position:absolute;
	top:36px;
	left:0;
	height:414px;
	width:100%;
	background:#f9f6f6;
	z-index:40000000;
}

#LiveHelpBackground {
	position:absolute;
	top:0px;
	left:0;
	background-color:#f9f6f6;
	background-repeat:repeat-x;
	height:13px;
	width:100%;
}

#LiveHelpCollapseButton {
	position:absolute;
	top:5px;
	right:5px;
	display:none;
}

#LiveHelpSignedIn {
	display:none;
	position:absolute;
	left:5px;
	top:25px;
	right:5px;
}

#LiveHelpScroll {
	font-family:Helvetica, Verdana, Arial, sans-serif;
	font-size:12px;
	height:314px;
	overflow:auto;
}

#LiveHelpWaiting {
	background:#faf6f7;
	color:#666;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #ddd;
	padding:5px;
	width:90%;
	margin:5px;
}

#LiveHelpSignIn {
	position: absolute;
	left: 0;
	margin:0 auto;
	text-align:center;
	width: 100%;
	height: 414px;
}

#LiveHelpSignInDetails, #LiveHelpBlockedChatDetails {
	margin:15px 2px 5px 2px;
	font-size:12px;
}

#LiveHelpMessagesEnd { height:3px }

#LiveHelpError {
	display:none;
	margin: 10px auto;
	border-radius:7px; -moz-border-radius:7px; -webkit-border-radius:7px;
	border:1px solid #9E1111;
	background:#FFB0B0;
	padding:3px 15px 3px 8px;
	width:150px;
}

#LiveHelpErrorIcon { margin:2px 2px 2px 0px }

#LiveHelpErrorText { margin:2px; float:right }

.LiveHelpLogin {
	text-align:left;
	color:#777;
}

.LiveHelpLoginContent {
	border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px;
}

#LiveHelpLoginForm input, #LiveHelpLoginForm select, #LiveHelpLoginForm textarea {
	color:#555;
	outline:none;
	padding:3px;
	margin:2px 0 5px 0;
	font-size:16px;
	width:210px;
	height:auto;
	background:#FBFBFB;
	border:none;
}

#LiveHelpLoginForm .Label { color: #777 }

.QuestionLabel div, #LiveHelpQuestionInput { height:50px }

.LiveHelpInput {
	position:relative;
	color:#555;
	border:1px solid #E5E5E5;
	background:#FBFBFB;
	padding:3px;
	height:20px;
	width:210px;
	margin:2px 0;
	-moz-box-shadow:inset 1px 1px 2px rgba(200,200,200,0.2); -webkit-box-shadow:inset 1px 1px 2px rgba(200,200,200,0.2); box-shadow:inset 1px 1px 2px rgba(200,200,200,0.2);
}

#LiveHelpLogin input, #LiveHelpLogin textarea {
	color:#555 !important;
	outline:none !important;
	resize:none !important;
	padding:0 !important;
	margin:0 !important;
	font-size:16px !important;
	width:185px !important;
	height:auto !important;
	border:none !important;
	background:#FBFBFB !important;
	-webkit-box-shadow:none !important; -moz-box-shadow:none !important; -box-shadow:none !important;
	min-height:0 !important;
}

.LiveHelpLogin select, #LiveHelpLoginForm select, #CallMessageForm select {
	color:#555 !important;
	outline:none !important;
	padding:3px !important;
	margin:0 !important;
	font-size:16px !important;
	width:218px !important;
	height:auto !important;
	border:1px solid #E5E5E5 !important;
	background:#FBFBFB !important;
	margin:2px 0 !important;
	-moz-box-shadow:inset 1px 1px 2px rgba(200,200,200,0.2) !important; -webkit-box-shadow:inset 1px 1px 2px rgba(200,200,200,0.2) !important; box-shadow:inset 1px 1px 2px rgba(200,200,200,0.2) !important;
	-webkit-appearance: menulist-button !important;
}

.InputError {
	display:none;
	position:absolute;
	right:5px;
	top:5px;
}

#LiveHelpDepartmentLabel { display:none }

.LiveHelpDepartment { position:relative }
.LiveHelpDepartment .InputError { top:8px; right:8px }

#LiveHelpConnectButton {
	color:#666 !important;
	text-shadow:0 0 1px #ccc !important;
	font-size:20px !important;
	line-height:37px !important;
	margin:10px auto 0;
	text-align:center;
	cursor:pointer;
}

#LiveHelpInput {
	position:absolute;
	bottom:-70px;
	height:70px;
	width:100%;
	background-color:#eaeaea;
	background-repeat:repeat-x;
	z-index:50000000;
}

#LiveHelpTyping {
	display:none;
	position:relative;
	top:4px;
	color:#9e9d9d;
}

#LiveHelpTyping div {
	margin-left:10px;
	float:left;
}

#LiveHelpTyping span {
	position:absolute;
	top:0;
	font-family:Helvetica, Verdana, Arial, sans-serif;
	font-size:10px;
	margin-left:5px;
	left:25px;
}

#LiveHelpMessageTextarea {
	position:absolute;
	top:20px;
	left:10px;
	padding:2px;
	resize:none;
	width:220px;
	height:40px;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size:12px;
	min-height: 0;
	overflow: auto;
}

#LiveHelpSmiliesButton {
	position:absolute;
	top:20px;
	left:240px;
	cursor:pointer;
}

#LiveHelpSendFileButton {
	display:none;
	position:absolute;
	top:40px;
	left:240px;
	cursor:pointer;
}

#LiveHelpInput #LiveHelpSendButton {
	position:absolute;
	top:22px;
	left:260px;
	cursor:pointer;
}

#LiveHelpInput #LiveHelpSendButton div {
	position:relative;
	text-align:center;
	line-height:42px;
	color:#fff;
	font-family:Helvetica, Verdana, Arial, sans-serif;
	font-size:12px;
	cursor:pointer;
}

#SmiliesTooltip { display:none }

#SmiliesTooltip span, .Smilie { display:inline-block; margin: 1px }

/* Smilies Bubble pop-up */

#LiveHelpEmbedded table * {
	margin: 0;
	padding: 0;
}

#SmiliesButton {
	position: absolute;
	bottom: 55px;
	right: 50px;
	z-index: 1;
}

#SmiliesBubble table.bt-bottom th {
	width: 100%;
}

#LiveHelpFileDownload {
	visibility:hidden;
	display:none;
	border:none;
}

#LiveHelpFileTransfer { display:none }

#LiveHelpDisconnect {
	display:none;
	margin:20px 20px 75px 20px;
}

#LiveHelpDisconnectButton div, #LiveHelpCancelButton div {
	position:absolute;
	line-height:39px;
	text-align:center;
	font-family:Helvetica, Verdana, Arial, sans-serif;
	font-size:14px;
	cursor:pointer;
}

#LiveHelpDisconnectButton {
	position:absolute;
	bottom:10px;
	right:111px;
}

#LiveHelpDisconnectButton div {
	width:119px;
	color:#fff;
}

#LiveHelpCancelButton {
	position:absolute;
	bottom:10px;
	right:10px;
}

#LiveHelpCancelButton div {
	width:91px;
	color:#999;
}

#LiveHelpDisconnectTitle {
	font-family:'Segoe UI Light', 'Segoe WP Light', 'Helvetica Neue', 'RobotoLight', sans-serif;
	text-shadow:0 0 1px #ccc;
	font-size:25px;
	line-height:28px;
	color:#999;
}

#LiveHelpInitiateText {
	position:relative;
	left:40px;
	top:145px;
	width:256px;
	height:35px;
	z-index:5001;
	text-align:center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
}

#LiveHelpRating {
	position:relative;
	height:20px;
	width:90px;
	margin:0 auto;
}

#LiveHelpRating .Rating {
	background:url(../images/star.png) no-repeat 0 0;
	height:16px;
	width:16px;
	position:absolute;
	top:0;
	margin:1px;
	cursor:pointer;
}

#LiveHelpRating .VeryPoor { left:0 }
#LiveHelpRating .Poor { left:16px }
#LiveHelpRating .Good { left:32px }
#LiveHelpRating .VeryGood { left:48px }
#LiveHelpRating .Excellent { left:64px }

#LiveHelpFeedbackRating {
	text-align:center;
	margin-top:10px
}

.LiveHelpInvite img {
	position:absolute;
	left:0px;
	z-index:15000;
	max-width:none !important;
}

#LiveHelpEmbedded #LiveHelpToolbar {
	position:absolute;
	display:none;
	right:20px;
	top:5px;
	width:98px;
	height:20px
}

#LiveHelpEmbedded #LiveHelpToolbar div {
	position:absolute;
	top:0px;
	opacity:0.5;
}

#LiveHelpEmbedded #LiveHelpEmailChatToolbarButton { display:none; left:0 }
#LiveHelpEmbedded #LiveHelpSoundToolbarButton { left:20px }
#LiveHelpEmbedded #LiveHelpSwitchPopupToolbarButton { left:40px }
#LiveHelpEmbedded #LiveHelpFeedbackToolbarButton { left:60px }
#LiveHelpEmbedded #LiveHelpDisconnectToolbarButton { left:80px }

#LiveHelpSocialLogin { visibility:hidden }
#LiveHelpTwitterButton, #LiveHelpFacebookButton { margin:5px; cursor:pointer }

#LiveHelpCopyright { position:absolute; left:0; bottom:10px; font-size:10px; margin:0 18px }
#LiveHelpCopyright a  {
	font-size:10px;
	color: #339;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	border-bottom-width: 0.05em;
	border-bottom-style: solid;
}
#LiveHelpCopyright a:link, #LiveHelpCopyright a:visited, #LiveHelpCopyright a:active {
	border-bottom-color: #CCCCCC;
}
#LiveHelpCopyright a:hover {
	border-bottom-color: #339;
}

#FileTransferActionText {
	margin:20px 50px 0 60px;
}

#FileTransferDropTarget {
	position:relative;
	margin:20px 100px 100px 100px;
	width:400px;
	background:url(/images/FileTransferDocument.png) center center no-repeat;
	height:300px;
	border:7px dashed #7C7B7B;
	border-radius:15px; -webkit-border-radius:15px; -moz-border-radius:15px;
}

#FileTransferText {
	display:none;
	position:absolute;
	top:140px;
	left:138px;
}

/* Live Help Invite Tab */
.LiveHelpInvite {
	width: 31px;
	height: 262px;
	overflow: hidden;
	position: fixed;
	top: 250px;
	right: 0px;
	z-index: 10000;
	display: none;
}
.LiveHelpInvite img {
	position: absolute;
	z-index: 15000;
	max-width: none !important;
}
.LiveHelpInviteTab {
	position: relative;
	top: 0;
	height: 228px;
	width: 283px;
	right: 0;
	z-index: 20000;
	cursor: pointer;
	background: url('../images/SliderButton.png') top right no-repeat;
}
.LiveHelpInviteClose {
	position: relative;
	bottom: -5px;
	height: 20px;
	width: 283px;
	right: 0;
	z-index: 20000;
	cursor: pointer;
	background: url('../images/SliderClose.png') top right no-repeat;
}

#LiveHelpContent {
	min-height: 415px;
	min-width: 625px;
	height: 100%;
	margin: 0px auto;
	text-align: center;
	position: relative;
	width: 100%;
}

#LiveHelpFooter {
	bottom: 10px;
	font-size: 10px;
	position: absolute;
	text-align: center;
	width: 100%;
}

#Logo {
	position:relative;
	height:60px
}

#LogoImage {
	position: absolute;
	top: 5px;
	left: 10px;
	border-style: none;
}

#LiveHelpTypingPopup {
	position: absolute;
	display: none;
	bottom: 95px;
	left: 5px;
	color:#9e9d9d;
}

#LiveHelpTypingPopup div {
	margin-left:10px;
	float:left;
}

#LiveHelpTypingPopup span {
	font-family:Helvetica, Verdana, Arial, sans-serif;
	font-size:10px;
	margin-left:5px;
}

#OfflineMessageForm table, #OfflineMessageForm table td, #OfflineMessageForm table tr {
	border:none;
	margin:auto;
	padding:3px;
}

#OfflineMessageForm input {
	vertical-align: baseline;
}

#OfflineMessageForm .button {
	color:#666 !important;
	text-shadow:0 0 1px #ccc !important;
	font-size:20px !important;
	line-height:37px !important;
}

@media only screen and (max-width: 320px) {

	#LiveHelpEmbedded {
		right: 0;
		width: 100%;
	}

}

@media only screen and (max-width: 480px) {

	#LiveHelpEmbedded {
		right: 0;
		width: 100%;
	}

}