<span style="color: #F535AA; font-family: trebuchet ms,geneva;"><strong><span style="font-size: large;">Privacy Policy</span></strong></span><br /><br /> <span style="font-family: trebuchet ms,geneva;">

<p>&nbsp; <span style="font-family: trebuchet ms,geneva; font-size: small;">As a valued Member, we want you to know that we are committed to protecting your privacy. </span><span style="font-size: small;"></span></p>
<table style="width: 85%; line-height: 25px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td>
<p>&nbsp;<span style="color: #808080; font-family: trebuchet ms,geneva;"><strong>My Rewards International Ltd ("MRI" and "we") adhere to the Australian Privacy Principles ("APPs") contained in the Privacy Act 1988 (Cth) ("Privacy Act"). This privacy policy sets out the way we collect and manage personal information and how we handle privacy issues. There are requirements of the APPs which we will adhere to that are not specifically described in our Privacy Policy but are deemed to be incorporated in this Privacy Policy.</strong></span></p>
<p><span style="color: #808080; font-family: trebuchet ms,geneva;"><strong>By using our website or services or transacting business with us, you agree to ,accept the terms and conditions of service at My Rewards and client affiliate sites including this privacy policy and how we collect and use your personal information.</strong></span></p>
<p><span style="color: #3c5a98; font-size: small; font-family: trebuchet ms,geneva;"><strong>The kinds of personal information we collect and hold</strong></span></p>
<p><span style="font-family: trebuchet ms,geneva;">Firstly, 'personal information' in our Privacy Policy has the same meaning as in the Privacy Act, namely, it means information about an identified individual or an individual who is reasonably identifiable.</span></p>
<p><span style="font-family: trebuchet ms,geneva;">We may collect and hold various types of personal information about you including your name, date of birth, phone number (landline or mobile), address, email address, your likeness,' business or trading name, financial information (such as credit card information if you purchase a good or service from us) and other information about you which we need in order to conduct our business and / or provide you with our goods and services. We may also obtain information about your interests, purchase history, website history, activities, gender, age, analytical data (such as state of sms delivery, state of email delivery, video playback data) and other demographic information.</span></p>
<p><span style="font-family: trebuchet ms,geneva;">Now and then, we may conduct surveys, run competitions or other promotions. If you choose to participate in one of our surveys or competitions, we'll probably ask for some personal information such as your shopping habits, email address and other information so that we can run the promotion and notify you if you win.</span></p>
<p><span style="font-family: trebuchet ms,geneva;">When you send us a request, such as to our customer service department, we may ask you to identify yourself by name or email address in order to send you a response, if appropriate.</span></p>
<p><span style="font-family: trebuchet ms,geneva;">The Privacy Act also protects your sensitive information. If we need to obtain this type of information, wewill ask for your consent, except where otherwise permitted by law.</span></p>
<p><span style="font-family: trebuchet ms,geneva;">It may not be practical for us to deal with you if you have not identified yourself or you are using a pseudonym.</span></p>
<p><span style="font-family: trebuchet ms,geneva;">However, where it is practical, such as to respond to an enquiry about our products or business, we will allow individuals to remain anonymous.</span></p>
<table style="width: 100%;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="dots">&nbsp;</td>
</tr>
</tbody>
</table>
<p><span style="color: #3c5a98; font-family: trebuchet ms,geneva;"><strong><span style="font-size: small;">How we collect <strong>and hold personal </strong>information.</span></strong></span> <br /><br /><span style="font-family: trebuchet ms,geneva;">If it is reasonable and practicable to do so, we will collect personal information directly/from you. We may also need to collect personal information from other sources including:</span>&nbsp;</p>
<ul style="list-style-type: disc; padding: 25px; font-family: trebuchet ms,geneva; color: #333333;">
<li><span style="font-size: small;"> third parties;</span></li>
<li><span style="font-size: small;"> publicly available sources of information (such as social media)</span></li>
<li><span style="font-size: small;"> our websites;</span></li>
<li><span style="font-size: small;"> your and our business partners and contractors;</span></li>
<li><span style="font-size: small;"> manage your account and provide you with customer support;</span></li>
<li><span style="font-size: small;"> perform research and analysis about your use of our products, services, or content, or productsor services;</span></li>
<li><span style="font-size: small;"> communicate with you by e-mail, postal mail, telephone and/or mobile devices about products or services that may be of interest to you;</span></li>
<li><span style="font-size: small;"> enforce our terms and conditions;</span></li>
<li><span style="font-size: small;"> manage our business and</span></li>
<li><span style="font-size: small;"> perform functions as otherwise described to you at the time of collection.</span></li>
</ul>
<p><span style="font-family: trebuchet ms,geneva;">Information from other sources. We may also periodically obtain both personal and non-personal information about you from business partners, contractors and other third parties. Examples of information that we may receive include: updated addresses, purchase history, and additional demographic information. For example, if you make a payment using our trusted and secure merchant facility and payment gateway, we may need to share information to process the transaction and link the accounts accordingly. At no stage, do we provide them with your contact information.</span></p>
<p><span style="font-family: trebuchet ms,geneva;">Use of cookies and other technologies to collect information. We use various technologies to collect information from your computer and about your activities on our site.</span></p>
<p><span style="font-family: trebuchet ms,geneva;">Information collected automatically. We automatically collect information from your browser when you visit our website. This information includes your IP address, your browser type and language, access times, the content of any undeleted cookies that your browser previously accepted from us, and the referring website address.</span></p>
<table style="width: 100%;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="dots">&nbsp;</td>
</tr>
</tbody>
</table>
<p><span style="color: #3c5a98; font-family: trebuchet ms,geneva;"><strong><span style="font-size: small;">Cookies</span></strong></span><br /><br /> <span style="font-family: trebuchet ms,geneva;">When you visit our website, we may assign your computer one or more cookies, to facilitate access to our site and to personalize your online experience. Through the use of a cookie, we also may automatically collect information about your online activity on our site, such as the web pages you visit and the links you click. Most browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies. If you choose to decline cookies, please note that you may not be able to sign in or use some of the interactive features offered on our website and platform.</span></p>
<p><span style="font-family: trebuchet ms,geneva; color: #808080;"><strong>Cookies defined: </strong></span><span style="color: #808080;"><strong></strong></span><span style="font-family: trebuchet ms,geneva;">A cookie is a small text file that is stored on a user's computer for record keeping purposes. Cookies can be either session cookies or persistent cookies. A session cookie expires when you close your browser and is used to make it easier for you to navigate our website. A persistent cookie remains on your hard drive for an extended period of time.</span></p>
<p><span style="font-family: trebuchet ms,geneva;">For example, when you sign in to our website, we will record your username and the name on your account in the cookie file on your computer. We also may record your password in this cookie file, if you indicated that you would like your password saved for automatic sign-in. For security purposes, we will encrypt any usernames, passwords, and other user or member account-related data that we store in such cookies. In the case of sites and services that do not use a username or ID, the cookie will contain a unique identifier. We may allow our authorized service providers to serve cookies from our website to allow them to assist us in various activities, such as doing analysis and research on the effectiveness of our site, content and services.</span></p>
<p><span style="font-family: trebuchet ms,geneva;">You may delete or decline cookies by changing your browser settings. If you do so, some of the features and services of our website may not function properly. </span></p>
<table style="width: 100%;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="dots">&nbsp;</td>
</tr>
</tbody>
</table>
<p><span style="font-size: small; color: #3c5a98; font-family: trebuchet ms,geneva;"><strong>Other Technologies</strong></span><br /><br /><span style="font-family: trebuchet ms,geneva;">We may use standard Internet technology, such as web beacons and other similar technologies, to track your use of our site. We also may include web beacons in promotional e-mail messages or newsletters to determine whether messages have been opened and acted upon. The information we obtain in this manner enables us to customize the services we offer our users and visitors in order to measure the overall effectiveness of our website, platform and business.</span></p>
<p><span style="color: #808080; font-family: trebuchet ms,geneva;"><strong>Web Beacons defined:</strong></span> <span style="font-family: trebuchet ms,geneva;">Web beacons (also known as clear gifs, pixel tags or web bugs) are tiny graphics with a unique identifier, similar in function to cookies, and are used to track the online movements of web users or to access cookies. Unlike cookies which are stored on the user's computer hard drive, web beacons are embedded invisibly on the web pages or in an email.</span></p>
<p><span style="font-family: trebuchet ms,geneva;">Web beacons may be used to deliver or communicate with cookies, to count users who have visited certain pages and to understand usage patterns. We also may receive an anonymous identification number if you come to our site from an online advertisement displayed on a third-party website.</span></p>
<p><span style="font-family: trebuchet ms,geneva;">We will only collect personal information from you by lawful and fair means. We may also collect, use and exchange your information in other ways where permitted by law.</span></p>
<p><span style="font-family: trebuchet ms,geneva;">We will take reasonable steps to protect the personal information we collect, in both paper and electronic form, from misuse and loss as well as from unauthorized access, modification and disclosure.</span></p>
<p><span style="font-family: trebuchet ms,geneva;">Reasonable steps include:</span></p>
<ul style="list-style-type: disc; padding: 25px; font-family: trebuchet ms,geneva; color: #333333;">
<li>Confirming the identity of any individual wishing to access personal information;</li>
<li>In order to make every effort to ensure that your experience at MRI is secure, we use encryption technology to protect you against the loss, misuse or alteration of your personal information.</li>
<li>Only staff members who need your personal information in order to deal with your business or answer your requests or are given access to it. Employees re provided with training and information regarding the proper handling of personal information. All information stored in our computer system is protected from unauthorised access and information that is stored in document form is kept in secure locations to prevent access by unauthorised persons.</li>
<li>MRI keeps your personal information for only as long as required to fulfil the purpose for which it was collected (subject to legal requirements, corporate regulation, or good practice). For those customers who have registered for a mailing list, their personal information is kept until we are notified that they no longer want their information stored.</li>
</ul>
<table style="width: 100%;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="dots">&nbsp;</td>
</tr>
</tbody>
</table>
<p><span style="color: #3c5a98; font-size: small; font-family: trebuchet ms,geneva;"><strong>The purposes for which we collect, hold, use and disclose personal information</strong></span></p>
<p style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;">MRI will only collect, hold, use and disclose personal and sensitive information that is reasonably necessary for us as a business to carry out our activities and functions. These activities and functions include:</p>
<ul style="list-style-type: disc; padding: 25px; font-family: trebuchet ms,geneva; color: #333333;">
<li>delivering and supplying our goods / products and services to you and to our clients andcustomers;</li>
<li>employing staff;</li>
<li>contracting and dealing with suppliers and subconsultants, partners and clients;</li>
<li>dealing with service providers, retailers and traders;</li>
<li>consulting to, with and for anyone necessary to deliver our products and services;</li>
<li>to achieve our firm / business objectives;</li>
<li>to send information, correspondence and news about our company and our products and services; and</li>
<li>handling privacy complaints and issues.</li>
</ul>
<table style="width: 100%;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="dots">&nbsp;</td>
</tr>
</tbody>
</table>
<p><span style="font-size: small; color: #3c5a98; font-family: trebuchet ms,geneva;"><strong>Does MRI share this information with anyone else?</strong></span></p>
<p><span style="font-family: trebuchet ms,geneva;">Yes, but your personal information is for the information of MRI and its associated trusted third party service providers only. These third parties provide specific services and administer activities.<br /><br />For example, we may also disclose your personal information:</span></p>
<ul style="list-style-type: disc; padding: 25px; font-family: trebuchet ms,geneva; color: #333333;">
<li>customer service and credit card processing;</li>
<li>Sending mobile numbers and content of SMS to our service providers for delivery; and</li>
<li>Sending recipient email address and content of the message to our service providers for delivery.</li>
<li>To Authorised service providers: We may share your personal information with our authorized service providers that perform certain services on our behalf. These services may include processing credit card payments, delivering emails and SMS messages, providing customer service and marketing assistance, performing business and sales analysis, supporting our website functionality, and other features offered through our website. These service providersmay have access to personal information needed to perform their functions but are not permitted to share or use such information for any other purposes.</li>
<li>To Business partners: To the extent any personal information is contained in any video, comment or other user submission, such information when you make purchases, reservations or engage in promotions offered through our website or our services, we may share personal information with the businesses with which we partner to offer you those products, services or promotions. When you elect to engage in a particular merchant's offer or program, youauthorize us to provide your email address and other information to that merchant.</li>
</ul>
<p style="font-family: trebuchet ms,geneva;">Person information may be stored in Australia and in Canada with third party storage providers.&nbsp; We may also combine or link other personal information held about you from various sources (such as clients).</p>
<p style="font-family: trebuchet ms,geneva;">These third parties are not authorised to discuss, disclose or make any use of your personal information except as necessary to provide such services.</p>
<p style="font-family: trebuchet ms,geneva;">We, or our third party service providers, may disclose specific individual information if we or they reasonably believe that it's necessary to comply with applicable laws or regulations, or to protect the interests of MRI, our business partners, affiliates or its guests, or the interests of our third party service providers.</p>
<p style="font-family: trebuchet ms,geneva;">We may also disclose your personal information:</p>
<ul style="list-style-type: disc; padding: 25px; font-family: trebuchet ms,geneva; color: #333333;">
<li>In response to a subpoena or similar investigative demand, a court order, or a request for cooperation from a law enforcement or other government agency; to establish or exercise our legal rights; to defend against legal claims; or as otherwise required by law. In such cases, we may raise or waive any legal objection or right available to us, in our sole discretion.</li>
<li>When we believe disclosure is appropriate in connection with efforts to investigate, prevent, report or take other action regarding illegal activity, suspected fraud or other wrongdoing; to protect and defend the rights, property or safety of our company, our users, our employees, or others; to comply with applicable law or cooperate with law enforcement; or to enforce our website terms and conditions or other agreements or policies.</li>
<li>In connection with a substantial corporate transaction, such as the sale of our business, a divestiture, merger, consolidation, or asset sale, or in the unlikely event of bankruptcy.</li>
</ul>
<p><span style="font-family: trebuchet ms,geneva;">We will use your personal information to send emails or regular mail to you about our products, services or other competitions and promotions you might be interested in, unless you indicate that you do not wish to receive such mail.</span></p>
<p><span style="font-family: trebuchet ms,geneva;">Any third parties to whom we may disclose personal information may have their own privacy policies which describe how they use and disclose personal information. Those policies will govern use, handling and disclosure of your personal information once we have shared it with those third parties as described in this Privacy Policy. If you want to learn more about their privacy practices, we encourage you to visit the websites of those third parties. These entities or their servers may be located in various places around the world.</span></p>
<p><span style="font-family: trebuchet ms,geneva;">We may share aggregated and non-personal information we collect under any of the above circumstances. We may also share it with third parties. We may combine non-personal information we collect with additional non-personal information collected from other sources. We also may share aggregated information with third parties, including advisors, advertisers and investors, for the purpose of conducting general business analysis. For example, we may tell third party businesses the number of visitors to our website and the most popular features or services used. This information does not contain any personal information.</span><br /><br /><span style="font-family: trebuchet ms,geneva; font-size: small;"></span></p>
<table style="width: 561px; height: 16px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="dots">&nbsp;</td>
</tr>
</tbody>
</table>
<p><span style="font-size: small; color: #3c5a98; font-family: trebuchet ms,geneva;"><strong>Third-Party Websites</strong></span><br /><br /><span style="font-family: trebuchet ms,geneva;">There are a number of places on our website or through our services where you may click on a link to access other websites that do not operate under this Privacy Policy. For example, if you click to pay, you may be taken to a secure website that we do not control. These third-party websites may independently solicit and collect information, including personal information from you. We recommendthat you consult the privacy statements of all third-party websites you visit by clicking on the "privacy policy" link typically located on the webpage you are visiting.</span></p>
<table style="width: 561px; height: 16px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td>&nbsp;</td>
</tr>
</tbody>
</table>
<p><span style="font-size: small; font-family: trebuchet ms,geneva;"><strong>How can I unsubscribe?</strong></span><br /><br /><span style="font-family: trebuchet ms,geneva;">We want to communicate with you only if you want to hear from us or the clients that have engaged us to communicate with you on their behalf. If you prefer not to receive information directly from MRI you can easily "Opt Out" by contacting us directly to request this. Please note that if content or messages are communicated to you on behalf of our client's you can "Opt Out" by contacting us or our client directly to request this. When you "Opt Out" you may be unsubscribing from communications from MRI, but your details may be on other client lists for which you have subscribed.</span></p>
<table style="width: 561px; height: 16px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td>&nbsp;</td>
</tr>
</tbody>
</table>
<p><span style="font-size: small; font-family: trebuchet ms,geneva;"><strong>How can I access or correct my personal information?</strong></span><br /><br /></p>
<p style="font-family: trebuchet ms,geneva;">If you have a MRI membership, you have the ability to review and update your personal and business information online by logging into your account.</p>
<p style="font-family: trebuchet ms,geneva;">After you close your account, you will not be able to sign in to our website or access any of your personal information. However, you can still open a new account at any time. If you close your account, we may still retain certain information associated with your account for analytical purposes and recordkeeping integrity, as well as to prevent fraud, collect any fees owed, enforce our terms and conditions, take actions we deem necessary to protect the integrity of our website or our users, or take other actions otherwise permitted by law. In addition, if certain information has already been provided to third parties as described in this Privacy Policy, retention of that information will be subject to those third parties' policies.</p>
<p style="font-family: trebuchet ms,geneva;">Also, after the closure of your account / membership we may invite you (at our absolute discretion) to join our &ldquo;My Rewards Alumni" Program. If you choose to do so, you will be able to access your membership&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; account. However, if you receive an invitation to join our My Rewards Alumni Program and you do not wish to do so, you can decline the membership and we will close your account and the above provisions will apply.</p>
<p style="font-family: trebuchet ms,geneva;">MRI is committed to ensuring that we have no personal information about customers that is not absolutely necessary in order to provide them with excellent service. We are also committed to ensuring that information about our customers is accurate and up-to-date.</p>
<p style="font-family: trebuchet ms,geneva;">You can access the personal information we are holding about you at any time (subject to the exceptions explained below). We ask that such a request is to be in writing. There will be no charge for providing the information to you. You can review and change certain personal information related to your account (such as your name and contact information). To access your information or to correct information we are holding or for more information or assistance with accessing your personal information, please contact us and we will endeavour to respond to your request as soon as possible. MRI will give access in the manner requested unless it is unreasonable or impractical to do so. Access will generally be granted within 30 days of the request.</p>
<p style="font-family: trebuchet ms,geneva;">There are some circumstances in which the APPs provide that we can refuse your request for access to your personal information including if we believe the access would pose a serious threat to the life or health of any individual or if the access would have an unreasonable impact on the privacy of other individuals or if the information contains commercially sensitive information or if we can refuse the request by law. We shall inform you of our decision and reasons for any refusal of your request.</p>
<table style="width: 561px; height: 16px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="dots">&nbsp;</td>
</tr>
</tbody>
</table>
<p><span style="color: #3c5a98; font-size: small; font-family: trebuchet ms,geneva;"><strong>Your Choices About Collection And Use Of Your Information</strong></span><br /><br /></p>
<p style="font-family: trebuchet ms,geneva;">You can choose not to provide us with certain information, but that may result in you being unable to use certain features of our website because such information may be required in order for you to register as a member; purchase products or services; ask a question; contact our support or initiate other transactions on our website.</p>
<p style="font-family: trebuchet ms,geneva;">When you register on our website you may be given a choice as to whether you want to receive email messages and/or newsletters about product updates, improvements, special offers, or containingspecial distributions of content by us. At any time you can choose to no longer receive commercial or promotional emails or newsletters from us by clicking on the unsubscribe or opt out link in all our emails. Please note it may take up to 5 business days for us to process an opt-out request. We may send you other types of transactional and relationship e-mail communications, such as service announcements, administrative notices, without offering you the opportunity to opt out of receiving them. Please note that, changing information in your account, or otherwise opting out of receipt of promotional email communications will only affect future activities or communications from us. If we have already provided your information to a third party (such as a credit card processing partner) before you have changed your preferences or updated your information, you may have to change you preferences directly with that third party.</p>
<table style="width: 561px; height: 16px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="dots">&nbsp;</td>
</tr>
</tbody>
</table>
<p style="font-family: trebuchet ms,geneva;"><span style="color: #3c5a98; font-size: small;"><strong>How does MRI protect the privacy of children?</strong></span></p>
<p style="font-family: trebuchet ms,geneva;">We do not sell or send any items directly or otherwise to anyone who we know to be under the age of 18, nor do we collect any personal information from anyone who we know to be under the age of 18. If you are under the age of 18, you should not submit any personal information to us.</p>
<table style="width: 561px; height: 16px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="dots">&nbsp;</td>
</tr>
</tbody>
</table>
<p style="font-family: trebuchet ms,geneva;"><span style="color: #3c5a98; font-size: small;"><strong>How to complain about a breach of the APPs and how we will deal with such a complaint</strong></span></p>
<p style="font-family: trebuchet ms,geneva;">If you would like to make a complaint about our handling of your personal information or if you think we have breached the APPs or any other binding APP code that has been registered under the Privacy Act, please contact us with your complaint in writing. We will endeavour to deal with your complaint as quickly as possible. We may give a copy of your complaint to any affected party for their comment so we can properly investigate any issues. We will determined what (if any) action we should take to resolve the complaint and notify you of our decision and our reasons.</p>
<p style="font-family: trebuchet ms,geneva;">If you are not satisfied with the way we have dealt with your complaint you may file a complaint with the Office of the Australian Information Commissioner.</p>
<table style="width: 561px; height: 16px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="dots">&nbsp;</td>
</tr>
</tbody>
</table>
<p style="font-family: trebuchet ms,geneva;"><span style="color: #3c5a98; font-size: small;"><strong>Overseas disclosure of personal information</strong></span></p>
<p style="font-family: trebuchet ms,geneva;">It is expected that, under normal circumstances, personal information will be released to overseas recipients being our service providers in Hong Kong, Singapore, India, New Zealand and Phillipines.If there is a request to release information to an overseas recipient then we will contact you and request your consent to release the information to the specific person or organisation. In addition, we will only release information overseas in accordance with the requirements of the APPs and all Australian data protection and privacy laws.</p>
<p style="font-family: trebuchet ms,geneva;">Where we send your information to overseas providers, we will make sure that appropriate data handling and security arrangements are in place. Some of our suppliers are based in Philippines, Hong Kong, India, New Zealand so it is possible that your personal information will be disclosed to this company. We have been advised by the relevant company that they will protect such personal information in accordance with the Privacy Act and we will take all reasonable steps to ensure such compliance.</p>
<p style="font-family: trebuchet ms,geneva;"><span style="color: #808080;"><strong>Notwithstanding the above, Privacy Principle 8.1 of the APPs, to the extent permissible by the Act, shall not apply to disclosure of your personal information</strong></span></p>
<table style="width: 561px; height: 16px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="dots">&nbsp;</td>
</tr>
</tbody>
</table>
<p style="font-family: trebuchet ms,geneva;"><span style="font-size: small; color: #3c5a98;"><strong>Visiting Our Websites From Abroad (Outside of Australia)</strong></span><br /><br />This Privacy Policy is intended to cover collection of information on or via our website from residents in Australia. If you are visiting our website from outside Australia, please be aware that your information may be transferred to, stored, and processed in countries outside of Australia or where our servers are located and our central database is operated. The data protection and other laws may not be as comprehensive as those in your country. Please be assured that we seek to take reasonable steps to ensure that your privacy is protected. By using our services, you understand thatyour information may be transferred to our facilities and those third parties with whom we share it as described in this privacy policy.</p>
<table style="width: 561px; height: 16px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="dots">&nbsp;</td>
</tr>
</tbody>
</table>
<p style="font-family: trebuchet ms,geneva;"><span style="color: #3c5a98; font-size: small;"><strong>No Rights Of Third Parties</strong></span><br /><br />This Privacy Policy does not create rights enforceable by third parties or require disclosure of any personal information relating to users of the website.</p>
<table style="width: 561px; height: 16px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="dots">&nbsp;</td>
</tr>
</tbody>
</table>
<p style="font-family: trebuchet ms,geneva;"><span style="color: #3c5a98; font-size: small;"><strong>The Privacy Act and the Office of the Australian Information Commissioner</strong></span><br /><br /></p>
<p style="font-family: trebuchet ms,geneva;">Our privacy policy is subject to the Privacy Act and the APPs. Where our privacy policy conflicts with the Privacy Act and the APPs, the Privacy Act and the APPs shall prevail to the extent of such inconsistency.</p>
<p style="font-family: trebuchet ms,geneva;">For more information in relation to Privacy you can contact the Office of the Australian Information Commissioner&nbsp; by visiting their website at <a href="http://www.oaic.gov.au">http://www.oaic.gov.au</a></p>
<table style="width: 561px; height: 16px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="dots">&nbsp;</td>
</tr>
</tbody>
</table>
<p style="font-family: trebuchet ms,geneva;"><span style="color: #3c5a98; font-size: small;"><strong>Access and changes to the MRI Privacy Policy</strong></span><br /><br /></p>
<p style="font-family: trebuchet ms,geneva;">The MRI Privacy Policy (as updated from time to time) is available upon request by contacting us. If you request a copy of our Privacy Policy in a particular form, we shall take such steps as are reasonable in the circumstances to give you a copy in that form.</p>
<p style="font-family: trebuchet ms,geneva;">When we post changes to this Privacy Policy, we will revise the "Last Updated" date at the top of this Privacy Policy. If we make any material changes in the way we collect, use, and/or share your personal information, we will notify you by sending an email to the email address you most recently provided us in your account, profile or registration (unless we do not have such an email address), or by posting notice of the changes on our Privacy Policy page on our Website. We recommend that you check our website from time to time to inform yourself of any changes in this Privacy Policy or any of our other policies.</p>
<table style="width: 561px; height: 16px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="dots">&nbsp;</td>
</tr>
</tbody>
</table>
<p><span style="color: #3c5a98; font-size: small; font-family: trebuchet ms,geneva;"><strong>Contact Us</strong></span><br /><br /><span style="font-family: trebuchet ms,geneva;">If you have any questions about this Privacy Policy or our information handling processes please contact us: <br /></span></p>
<p><span style="color: #808080; font-size: small;"><strong>My Rewards</strong><strong>, PO Box 622 Carnegie 3163</strong></span></p>
</td>
</tr>
</tbody>
</table>
<table style="width: 85%;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="dots">&nbsp;</td>
</tr>
</tbody>
</table>