body
{
	margin:0;
	padding:0;
	font-size:13px;
	font-family:Myriad Pro, Helvetica, sans-serif;
	background-color:#61d4f6;
	background-image:url(images/bg.jpg);
	background-repeat:repeat-x;
}


#header
{
	height:141px;background-image:url();background-color:#e9309a;
	background-repeat:no-repeat;
	width:1079px;
	margin:0 auto;
	margin-top:40px;
}
#logo
{
	padding:20px;
	background-image: url(url(images/head_bg.png));
}

#container
{
	width:1079px;
	margin:0 auto;
	
}


#homeimage
{
	/*background-image:url(images/home.jpg);*/
	background-repeat:no-repeat;
	float:left;
	width:1079px;
	height:594px;
}
#contactimage
{
	background-repeat:no-repeat;
	float:left;
	width:1070px;
	height:594px;
	padding-top: 10px;
	padding-left: 10px;
	background-image: url(images/contact.jpg);
}
#thankyouimage {
	background-repeat:no-repeat;
	float:left;
	width:1070px;
	height:594px;
	padding-top: 10px;
	padding-left: 10px;
	background-image: url(images/thankyou.jpg);
}

#mobileimage
{
	background-image:url(images/mobile.jpg);
	background-repeat:no-repeat;
	float:left;
	width:1082px;
	height:596px;
}

#mobileimage2
{
	background-image:url(images/advertise.jpg);
	background-repeat:no-repeat;
	float:left;
	width:1079px;
	height:594px;
}


#rightImage
{
	width:250px;
	float:right;
	margin-top:20px;
}


#clear
{
	clear:both
}


#footer
{
	background-color:#fff;
	color:#000000;
	font-size: 9pt;
	font-weight:bold;
	padding: 20px;
}

#bottom
{
	background-color:#6EEFBD;
	color:#FFF;
	height:168px;
	background-image:url(images/bottom_bg.jpg);
	background-repeat:repeat-x;
}
#bottom_container
{
	width:1079px;
	margin:0 auto;
}
.pink
{
	color:#6EEFBD;
}


.blue
{
	color:#6EEFBD;
}

.boxcontent
{
	background-image:url(images/bg2.png);
	background-repeat:no-repeat;
	background-position:center;
	float:left;
	padding:4px;
	width:1082px;
	height:149px;
}
.boxcontent div
{
	color:#EC008C;
	padding:20px;
	margin-top:2px;
	font-size:16px;
}

.box
{
	background-image:url(images/box_bg.png);
	background-repeat:no-repeat;
	background-position:center;
	float:left;
	padding:4px;
	width:169px;
	height:95px;
}
.box ul
{
	padding:22px;
	color:#EC008C;
	padding-top:8px;
	margin:0
}
.box ul li
{
	margin:0;
}
.box ul li img
{
	padding:2px;
}
.login
{
	background-image:url(images/login_bg.png);
	background-repeat:no-repeat;
	background-position:center;
	float:left;
	width:262px;
	height:264px;
	position:absolute;
	margin-left:880px;
	margin-top:120px;
}
.contact
{
	background-image:url(images/contact_bg.png);
	background-repeat:no-repeat;
	background-position:center;
	float:left;
	width:407px;
	height:533px;
	position:absolute;
	margin-left:740px;
	margin-top:55px;
}
.menu{
    width: 100%;
    background-color: #ec008c; 
	}
.menu ul{
    margin: 0; padding: 0;
    float: left;}
 
.menu ul li{
    display: inline; float:left;}
 
.menu ul li a{
    float: left; text-decoration: none;
    color: white;
    padding: 15.5px 52px;
    background-color: #ec008c; font-size:16px;}
	
 
.menu ul li a:visited{
    color: white;}
 
.menu ul li a:hover, .menu ul li .current{
    color: #fff;text-decoration:underline}
.menu li span{ float: left; text-decoration: none;
    color: white;
    padding: 5.5px 60px 0 20px;
    background-color: #ec008c; font-size:25px;}
	
	
.bottommenu{
	width: 100%;
	background-color: #EC008C;
}
.bottommenu ul{
    margin: 0; padding: 0;
    float: left;
	text-decoration: none;
	color: white;
	padding: 7px 20px;
	background-color: #EC008C;
	font-size:15px;}
 
.bottommenu ul li{
    display: inline; float:left}
 
.bottommenu ul li a{
	float: left;
	text-decoration: none;
	color: white;
	padding: 5.5px 10px;
	background-color: #EC008C;
	font-size:15px;
}
	
 
.bottommenu ul li a:visited{
    color: white;}
 
.bottommenu ul li a:hover, .bottommenu ul li .current{
    color: #fff;text-decoration:underline}
.bottommenu li span{
	float: left;
	text-decoration: none;
	color: white;
	padding: 2px 50px;
	background-color: #EC008C;
	font-size:15px;
}
.txtbox
{
	width:232px;
	height:21px;
	padding:4px;
	background:transparent url(images/text_bg.png);
	background-repeat:no-repeat;
	background-position:center;
	border:none;
}

.txtbox2
{
	width:338px;
	height:21px;
	padding:4px;
	background:transparent url(images/text_bg1.png);
	background-repeat:no-repeat;
	background-position:center;
	border:none;
}
.comments
{
	width:338px;
	height:145px;
	padding:4px;
	background:transparent url(images/comments_bg.png);
	background-repeat:no-repeat;
	background-position:center;
	border:none;
}
