<div id="style">
  
	<?php foreach($cstyles as $cstyle): ?>
		<div class="rounded-corners" style="margin-left:10px;margin-right:10px;float:left;width: 50px;height: 20px;background-color: #<?php echo $cstyle['Style']['tab_background_color']; ?>;">
			&nbsp;
		</div>
		<div style="margin-right:5px;margin-top:5px;float:left;background-color: #<?php echo $cstyle['Style']['button_border_color']; ?> ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
		<div style=" float:left;margin-top:5px;background-color: #<?php echo $cstyle['Style']['h1_color']; ?> ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
		 
	 <?php endforeach; ?>

</div>