<script type="text/javascript">
	$('#message').html('<div id="flashMessage" class="message">Comment deleted.</div>');
	$('#Comments').html('Retrieving comments...');
	$.ajax({
		url: '/admin/clients/ajax_comments/<?php echo $id;?>',
		type: "GET",
		success: function (data) {
			$('#Comments').html(data);
		}
	});
</script> 