body {
	/*font-family: 'Trebuchet MS',Helvetica,sans-serif;*/
	font-family: 'Droid Sans', sans-serif;
	background-color:#05222C;
}

.list h1, .list h2, .list h3, .list h4, .list h5 {
	display: inline;
}

h1 {
	margin: 10px 0;
}

h4 {
	margin: 5px 0;
}

a {
	color: #CF2626;
	text-decoration: none;
}

a:hover {
	color: #777;
	text-decoration: underline;
}

a.disabled {
	color: #777;
}

input, textarea, select {
	border: 2px inset #D4D0C8;
	font-size: 14px;
	margin: 2px;
}

button {
	border: 2px outset #D4D0C8;
	font-size: 14px;
	margin: 2px;
	padding: 0px;
}

#header {
	/*padding-left: 10px;*/
	margin:auto;
	background-color:#ffffff;
	font-size: 12px;
	color: #333;
	width:1006px;
}

#content {
	margin: 0 1em;
	background-color: #fff;
	border-left: 0;
}

.list {
	float: left;
	margin-right: 1em;
}

.list table {
	border-left: 1px solid #DFDFDF;
	border-right: 1px solid #DFDFDF;
}

.list table th {
	background-color: #fff;
}

.list table td, .list table th  {
	border-top: 1px solid #DFDFDF;
	border-bottom: 1px solid #DFDFDF;
	padding: 0.2em;
}

.list table tr.altrow {
	background-color: #efefef;
}

div.actions {
	
}

.paging {
	clear: both;
	float:left;
	text-align: center;
	padding-top:10px;
}

.paging div {
	display: inline;
}

.paging div.disabled {
	color: #bbb;
}

.edit {
	float: left;
	margin-right: 1em;
}
.edit_new {
	margin-right: 1em;
}
.edit table {
	border-left: 1px solid #DFDFDF;
}

.edit table td {
	padding: 0.3em;
}

.edit table td.bt {
	border-top: 1px solid #DFDFDF;
}

.edit table td.bl {
	border-left: 1px solid #DFDFDF;
}

.edit table td.br {
	border-right: 1px solid #DFDFDF;
}

.edit table td.bb {
	border-bottom: 1px solid #DFDFDF;
}

.edit input {
	width: 220px;
}
.edit select {
	width: 225px;
}
.input_radio {
	width: 20px !important;
	border:none;
}
.edit .checkboxMultiple input, .edit input.checkbox, .edit select {
	width: auto;
}

.message {
	display: inline;
	background-color:#FFDC7F;
	font-weight: bold;
	padding: 0 5px;
}

.categories {
	border: 1px solid #DFDFDF;
	width: 200px;
	overflow:auto;
	float: left;
/*	width: auto;padding-right: 10px;*/
}

.categories li, .categories a.add {
	/*white-space: nowrap;
	margin-left: 10px;*/
	margin-left:5px;
	margin-bottom:2px;
}

.edit_table input {
	font-size: 10px;
	padding: 0 1px;
}

#footer {
	clear: both;
	color:#FFFFFF;
}
#footer a{
	color:#FFFFFF;
	text-decoration:none;
}
.popup_div {
	position: absolute;
	top: 0;
	left: 0;
	bottom:0;
	right: 0;
	background-image: url(img/transparent_50.png);
	visibility: hidden;
	padding: 20px;
	behavior: url(iepngfix.htc);
}

.popup_div .preview_center {
	margin-left: 25%;
	margin-right: 25%;
}

.popup_div .preview_container {
	background-color: white;
	padding: 20px;
	border: 0;
}

.popup_div .preview_content {
	padding: 20px;
}

.popup_div table {
	border: none;
	border-collapse: collapse;
}

.popup_div .preview_content td {
	border: none;
	padding: 0;
}

.newsletter {
	float: left;
	margin-right: 1em;
	
}
.newsletter table {
	border-left: 1px solid #DFDFDF;
	
}
.newsletter table td {
	padding: 2px;
}

.newsletter table td.bt {
	border-top: 1px solid #DFDFDF;
}

.newsletter table td.bl {
	border-left: 1px solid #DFDFDF;
}

.newsletter table td.br {
	border-right: 1px solid #DFDFDF;
}

.newsletter table td.bb {
	border-bottom: 1px solid #DFDFDF;
}

.newsletter input {
	width: 130px;
}
.newsletter select {
	width: 225px;
}
.news_input
{
	width: 220px ! important;
}
.button_product
{
	border: 2px outset #D4D0C8;
	font-size: 14px;
	margin: 2px;
	padding:0 20px;
	width:120px !important;
}

.pagination1
{
	padding:1px 2px 1px 2px;
	font-family: 'Droid Sans',sans-serif;
    font-size: 12px;
	text-decoration:none !important;
}

.current
{
	border: medium none !important;
    font-family: 'Droid Sans',sans-serif;
    font-size: 12px;
    padding: 0 !important;
}