#maincampaign {
   /* background-color: #F7F6F6;
    border: 1px solid #E2E2E2;*/
    float: left;
    font-size:14px;
    width: 930px;
}

div.mainc {
    color: #666666;
    font-family: "Verdana",sans-serif;
    font-size: 1em;
    margin: 0.7em 0.7em 0;
    padding: 0;
}

table.cpanel {
    border-spacing: 20px;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

.produtos {
   /* background-image: url("/files/campaign/homeactive.png");
    background-repeat: repeat-x;*/
    background-color:#cccccc;
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    line-height: 30px;
}

.draw {
    background-color: #8EDF53;
    border-color: #6CCC26;
    border-radius: 5px 5px 5px 5px;
    border-style: solid none;
    border-width: 3px 0;
    color: darkgreen;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

#maincontent {
   /* background-color: #F7F6F6;*/
    border: 1px solid #DFDFDF;
    float: left;
    padding-bottom:20px;
    width:920px;
}

.info {
    float: left;
    /*margin: 0 0 0 6px;*/
    margin-right:10px;
    width: 202px;
}

.infoheader {
   /*background-image: url("/files/campaign/infoheader.png");
    border: 1px solid #064760;*/
    background-color:#cccccc;
    color: #000000;
    font-family: "Verdana",sans-serif;
    font-size: 11px;
    font-weight: bold;
    height: 21px;
    padding: 9px 9px 0;
}

.infoborder {
    background-color: #ECECEC;
    border: 1px solid #D5D5D5;
    float: left;
    padding: 5px;
    width: 233px;
}

.infotext {
    background-color: white;
    border: 1px solid #D5D5D5;
    float: left;
   /* margin: 0 1px 20px;*/
    width: 200px;
    height: 260px;
}

a.menu_links {
    color: black;
    font-family: Verdana,Arial,sans-serif;
    font-size: 11px;
    text-decoration: none;
}

#content_border {
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    margin-left: 20px !important;
    padding-left: 15px !important;
    width: 938px;
    height:100px;
    padding-right:0px !important;
}

.icondiv {
         float:left;
        /* padding: 35px; height: 180px;*/
         width: 220px; 
        
         white-space:nowrap;
         text-align:center;
         
         }
.link_icons
{
	font-weight:bold;
	font-size:13px;
	color:#565454 !important;
}

.sweeps-selector{
    border-bottom: 3px solid #D7D7D7;
    padding: 0px important;
}
	.campaign_td
{
	background-color:#FAFAFA;
	/*color:#666666;font-weight:bold;*/
	font-size:13px;
}
.campaign_button_style
{
	height:29px;width:90px;font-size:13px;padding-bottom:2px;
}
.campaign_back_button_style
{
	height:24px;width:180px;font-size:13px;padding-bottom:2px;
}
.admin_button
               {
               height: 26px;
               padding-bottom: 1px;
               border-radius: 5px 5px 5px 5px;
               background-color: #0066cc;
               border: 1px solid #cccccc;
               color: #FFFFFF; 
               cursor: pointer;
               font-size:13px;
       }
