/* defaults */
html, body {
	margin: 0;
	padding: 0;
	font-size: 12px;   
}
body {
	background-position: -292px;
    background-repeat:repeat y  ;
}
.body_background {
	background-image:url('/files/newimg/bodybg.png');
}
table {
	border-collapse: collapse;
	font-size: 12px;
}
form{
	margin-bottom: 0px;
}
td, th {
	padding: 0;
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
img {
	border: none;
}
input {
	padding: 2px 5px;
}
input, button {
	font-size: 14px;
	border: 1px solid black;
}
input.radio, input.checkbox {
	width: auto;
	border: none;
}
button {
	padding: 0 10px;
	cursor : pointer;
}
input.radio, input.checkbox {
	border: 0;
}
h1, h2, h3, h4, h5 {
	font-weight: bold;
	color: #0066CC;
}
h1{
	font-size: 20px;
}
h2 {
	font-size: 18px;
}
h3 {
	font-size: 16px;
}
h4 {
	font-size: 14px;
}
h5 {
	font-size: 12px;
	margin: 4px 0;
}
p {
	color: #333333;
}
a:link, a:visited, a:active {
	color: #FF0000;
	text-decoration: none;
}
a:hover {
	color: #0066CC;
	text-decoration: underline;
}
.submit_button {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	background-color: #005EAB;
	color: #FFFFFF;
	border: 1px solid #333333;
}
form.standard table td {
	padding: 5px;
}
form.standard_first_time_login table td {
	padding: 2px;
}
.small {
	font-size: 95%;
}

/* header */
#header {
	font-size: 12px;
	color: #333;
	margin:auto;
	background-color:#ffffff;
	width:1006px;
	background-image:url('/files/newimg/header.png');
	background-repeat:repeat-x;
}
#header table {
	width: 952px;
	margin-left:22px;
}
#header td {
	border-bottom: 1px solid #DFDFDF;
	padding: 0px 0;
}
#header #banner_container td  {
	padding: 0;
}
#header a {
	color: #333;
	text-decoration: none;
}
#header a:hover {
	text-decoration: underline;
}

#message {
	height: 17px;
	margin: 0;
	text-align: center;
	padding-top: 2px;
}
#message div {
	display:inline;
	 background-color:#FAD163;
	 padding: 1px 3px;
}

/* Overall minimum width */
#container {
	width: 1006px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:auto;
	background-color:white;
}
#content {
	background-color: #fff;
	padding: 0 22px 5px 22px;
	min-height:500px;
	overflow:hidden;
}

/* left hand navigation */
#left_nav {
	width: 150px;
	float: left;
	border-right: 1px solid black;
}
#nav_links li.root {
	border-bottom: 1px solid black;
	padding: 0;
}

.root {
	float:left;
}
#nav_links li.root div.root {
	font-weight: bold;
}
#nav_links li, #nav_links li.root div.root {
	padding: 2px 0 2px 10px;
}
#nav_links li div.children li {
	padding: 2px 0 2px 20px;
}
#nav_links li a {
	display: block;
	width: 100%;
	text-decoration: none;
	font-weight: bold;
}
#nav_links p {
	margin: 5px 0 10px 0;
}
#nav_browser {
	margin-left: 10px;
}
#nav_links hr {
	background-color: black;
	color: black;
	height: 1px;
	border: 0;
}

/* footer */
#footer {
	clear: both;
	font-size: 12px;
	background-color: #03151b;
	width:1006px;
	padding-top:20px;
	margin:auto;
	line-height:18px;
}
#footer a {
	text-decoration: none;
}

/* home page */
#home_modules {
	padding-left: 0%;
	padding-right: 0%;
	background-color: #fff;
	min-width: 960px;
	width:expression(((document.compatMode && document.compatMode=='CSS1Compat') ? document.documentElement.clientWidth : document.body.clientWidth) < 990 ? "950px" : "auto");
}
#second_row #left_column {
	float: left;
	width: 570px;
	margin-left: 0%;
	height:100%;
}
#second_row #right_column {
	float: left;
	width: 360px;
	/*width: 348px;;
	margin-left: 10px;*/
}
#second_row #right_column2 {    
	float: left;
	width: 348px;
	margin-left: 10px;
	padding-top:6px;
}
#second_row #right_column3 {    
	float: left;
	width: 348px;
	margin-left: 10px;
	padding-top:6px;
}
#third_row {
	float: left;
	width: 960px;
	margin-left: 20px;
	padding-top:6px;
}
#fourth_row #left_column {
	float: left;
	width: 590px;
	margin-left:5px;
}
#fourth_second_row #left_column {
	float: left;
	width: 590px;
	margin-left:5px;
}

#fourth_row #right_column {
	float: left;
	width: 348px;
	margin-left:10px;
}

.module div.t {
	border-top: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
	line-height:15px;
	font-weight: bold;
	white-space: nowrap;
	background-repeat:repeat-x;
}
.module div.t img {
	vertical-align: middle;
	padding-bottom: 2px;
}
.stay_touch {
	font-weight: bold;
}
.module div.b {
	border-bottom: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
	height: 12px;
	line-height: 12px;
}
.module div.content {
	padding: 2px 10px 0 10px;
	border-left: 1px solid;
	border-right: 1px solid;
}
.module div.icons {
	position: absolute;
	right: 0;
	padding-right: 230px;
}
.module_box div.t {
	line-height:15px;
	font-weight: bold;
	white-space: nowrap;
}
.module_box div.content {
	padding: 2px 10px 0 10px;
}
.form_error_message img,  .form_error_message span {
	vertical-align: middle;
	color:#FF0000;
}

.special_offer .first_special_offer {
	padding: 2px 0;
}
.special_offer {
	border-top: 1px dotted black;
}
.whats_new {
	border-top: 1px dotted black;
}
#products {
	margin:0 10px;
}
.voucher_content {
	text-align:center;
}

.search_results td {
}
.search_results {
	border:1px solid;
	margin-bottom:15px;
	width:950px;
}
.search_results div.icons {
	position: static;
	float:right;
	padding: 7px;
}

.paging .disabled {
	display: inline;
}

.cake-sql-log td {
	border: 1px solid #bbb;
	padding: 2px;
}

.rounded-corners {
	-moz-border-radius: 10px 10px 0px 0px; /* Firefox */
	-webkit-border-radius: 10px 10px 0px 0px; /* Safari, Chrome */
	border-radius: 10px 10px 0px 0px; /* CSS3 */
}
.rounded-corners_bottom {
	-moz-border-radius: 0px 0px 10px 10px; /* Firefox */
	-webkit-border-radius: 0px 0px 10px 10px; /* Safari, Chrome */
	border-radius: 0px 0px 10px 10px; /* CSS3 */
}
.rounded_corners_map {
	-moz-border-radius : 10px 10px 10px 10px;
	-webkit-border-radius : 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
}
.rounded_corners_button {
	-moz-border-radius : 5px 5px 5px 5px;
	-webkit-border-radius : 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.rounded-corners_left {
	-moz-border-radius: 10px 0px 0 10px; /* Firefox */
	-webkit-border-radius: 10px 0px 0px 10px; /* Safari, Chrome */
	border-radius: 10px 0px 0px 10px; /* CSS3 */
}
.rounded-corners_right {
	-moz-border-radius: 10px 10px 10px 10px; /* Firefox */
	-webkit-border-radius: 10px 10px 10px 10px; /* Safari, Chrome */
	border-radius: 10px 10px 10px 10px; /* CSS3 */
}
.button_search_module {
	width:80px;
	padding-bottom:5px;
	height:25px;
}

.search_input {
	width:135px;
	height:21px;
}
.first_time_input {
	width:200px;
	height:21px;
}
.map_input {
	width:275px;
	height:22px;
}
.map_input1 {
	width:180px;
	height:22px;
	color: #e61873;
}
.invite_family_textbox {
	width:160px;
	height:22px;
	color: #e61873;
}
.first_time_select {
	width:210px;
	height:25px;
}
.search_input1 {
	width:190px;
	height:20px;
}
.keyword_search_input {
	width:300px;
	height:25px;
}
.select_input {
	width:150px;
	height:25px;
	font-family:'Droid Sans',sans-serif;
}
.select_input_state {
	width:200px;
	height:25px;
}
.select_input_exact {
	width:80px;
	height:25px;
}
.quick_search {
	width:130px;
	height:20px;
}
/*module2*/
.module2 {
	overflow:hidden;
}
.module2.leftcolumn {
	float: left;
	width:950px;
	margin-left: 2%;
}
.module2 div.t2 {
	float:left;
	font-weight: bold;
	white-space: nowrap; 
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-left: 1px solid; 
	background-repeat:repeat-x;
	height:47px;
	width:130px;
	padding-top:0px;
}
.tab_text {
	font-weight: bold;
}
.module2 .tabtext {  
	padding:15px;
  	white-space: normal;
}

.t3 {
	float:left;
	border-top: 1px solid; 
	border-left: 1px solid;
	border-right: 1px solid; 
	width:950px;
	padding-top:1px 5px;
	border-bottom: 1px solid;
}

.module2 .ct1 {
	padding-left: 10px;
  	float:left;
}

.row1b {
	position:absolute;
	float:left;
   	margin-left:663px;  
 	padding:0px 20px;
} 
  
#first_row {
	float: left;
	width: 952px;
}  
.module2 div.b {
	border-bottom: 1px solid;
   	border-left: 1px solid;
    border-right: 1px solid;
    height: 12px;
    line-height: 12px;
}
.search_content {
	border-bottom:1px solid;
}
.homepage_box {
	border-bottom:1px solid;
	border-left:1px solid;
	border-right:1px solid;
}
.search_printcoupon {
	margin-top:0px;
	padding-bottom:5px;
	padding-left:2px;
    width:940px;
}
.menu_color a {
	padding-left:10px;
	padding-right:10px;
	font-size:15px;
	margin-top:-5px;
}
.menu_color a:hover {
	text-decoration:none !important;
}
.tab_padding {
	padding-left:10px;
	padding-top:5px;
	padding-bottom:5px;
	font-size:13px;
}
.pagination {
	padding:2px 8px 2px 8px;
	border: 1px solid;
	font:11px arial;
	text-decoration:none !important;
}

.current {
	padding:2px 8px 2px 8px;
	border: 1px solid;
	font:11px arial;
}
.map_border {
	border:1px solid;
}


/* SHOW SUBMENU 1 */
#menu li:hover ul  {
	display:block !important; 
}
#menu a {
	display:block;
	text-decoration:none;
	line-height:43px;
}
#menu li ul {
	position:absolute; 
	left: -999em;
	/*line-height: 15px;*/
  	z-index:1001;
}
#menu li {
	float:left;
	width:auto;
	/*line-height:20px;*/ 
}
#menu li ul li {
	white-space: nowrap;
	float:none;
}
#menu li ul li a {
	line-height:30px;
	padding-left:20px;	
}
.module div.tm {
	line-height:13px;
	font-weight: bold;
	background-repeat:repeat-x;
}
#menu li ul li a {
	font-size:13px;
}
#menu li:hover ul, #menu li.sfhover ul {
	display:block;
	left: auto;
}
/*menu ends */

.module25 {
	height:272px;
	width:254px;
	float:left;
	margin:0px;
	margin-left:0px;
	margin-bottom: 0px;
	margin-right:0px;
}
.module35 {
	background-image: url('/files/newimg/result_bg1.png');
	background-repeat:no-repeat;
	height:250px;
	width:240px;
	float:left;
	padding:3px;
}
.module36 {
	background-image: url('/files/newimg/result_bg1.png');
	background-repeat:no-repeat;
	height:250px;
	width:240px;
	float:left;
	padding:3px;
}
.module37 {
	background-image: url('/files/newimg/result_bg_home.png');
	background-repeat:no-repeat;
	height:250px;
	width:220px;
	float:left;
	padding:3px;
}
.highlight {
    color:#e41c24;
}
.module25 div.t {
	line-height:15px;
	font-weight: bold;
}
.module3 div.t {
	line-height:15px;
	font-weight: bold;
	white-space: nowrap;
	border-top: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
}
.module3 div.b {
	border-bottom: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
	height: 12px;
	line-height: 12px;
}
.module3 div.content {
	padding: 2px 10px 0 10px;
	border-left: 1px solid;
	border-right: 1px solid;
	height:290px;
	overflow:auto;
}

.favourite_image {
	float: left;
	text-align: center;
	width: 132px;
	height: 135px;
	margin-top: 5px;
	margin-left: 10px;
	position:relative;
	background:url(/files/newimg/logo_bg.png);
	background-repeat:no-repeat;
}

.tooltip {  
    border:1px solid #000;  
    background-color:#fff;  
    height:25px;  
    width:200px;  
    font-family:"Lucida Grande",Verdana;  
    font-size:10px;  
    color:#000;  
} 
.main {
	width:952px;
}
.button_style {
	height:40px;width:65px;font-size:16px;margin-top:10px;font-weight:bold;
}
.map_button_style {
	height:29px;width:65px;font-size:13px;font-weight:bold;padding-bottom:2px;
}
.qsearch_button_style {
	height:24px;width:65px;font-size:13px;font-weight:bold;padding-bottom:2px;
}
.quick-search_button_style {
	height:25px;width:42px;font-size:12px;font-weight:bold;padding-bottom:4px;padding-left:3px;padding-right:3px;padding-top:2px;
}
.ribbon{
	background-image: url("/files/newimg/ribbon.png");
    background-repeat: no-repeat;
    color: #FFFFFF;
    display: inherit;
    font-size: 11px;
    height: 59px;
    left: 225px;
    line-height: 13px;
    position: absolute;
    text-align: left;
   	top:570px;
    width: 463px;
    white-space:nowrap;
}
.offer_ribbon {
	background-image: url("/files/newimg/special_offer2.png");
	background-repeat: no-repeat;
	color: #FFFFFF;
   	height: 80px;
 	margin-left:-34px;
    margin-top: -177px;
    width: 79px;
}

#header_top a {
	text-decoration: none;
}

#header_top a:hover {
	text-decoration: underline;
}
.left_column_border{border-right:1px solid;}

.image {
	position:relative;
	float:left; /* optional */
}
.image .text1 {
	position:absolute;
	top:25px; /* in conjunction with left property, decides the text position */
	width:100px; /* optional, though better have one */
}
.footer_links {	
}
.how_it_works {
	border:1px solid;
}

/* SHOW footer SUBMENU */

#menuf li ul {
	display:block !important;
}

#menuf a {
	display:block;
	text-decoration:none;
	padding:0 8px;
	height:20px;
}

#menuf a:hover {
	color:#fff;
}
 
}
#menuf ul a {
}
#menuf li ul {
	position:absolute; 
	margin-left:0em;
	display:none;
	line-height: 15px;
  	margin-left: -2px;
  	z-index:1001;
}
#menuf ul li ul {
	margin-top:-3em;
	margin-left:7em;
}
#menuf li {
	float:left;
	position:relative;
	width:auto;
}
#menuf li ul li {
	line-height: 1.3em;
	white-space: nowrap;
	float:none;
}
.boxTitle {
    color: #0A7DD0;
    font-size: 13px;
    font-weight: bold;
    padding: 5px;
    width: 160px;
}
.options {
    height: 250px;
    overflow: auto;
    width: 170px;
    margin-top: 5px;
}
.optionsCtry {
	min-height: 30px;
    overflow: hidden;
    width: 170px;
    margin-top: 5px;
}
.optionsCat {
	min-height: 50px;
    overflow: hidden;
    width: 170px;
    margin-top: 5px;
}
.selected a {
	color:#0A7DD0;
	font-weight:bold;
}
.box {
	width:175px;
}
.options li, .optionsCtry li, .optionsCat li {
	padding:2px 10px 3px 5px;
}
.results_background {
	border:1px solid;
}
.ui-autocomplete-loading {
	background: white url('/images/ui-anim_basic_16x16.gif') right center no-repeat;
}