#header, #left_nav, #footer, .no_print, #header_top, #wishPaging, .header_color, #removeWish{
	display: none;
}
#wishbackground, #wishdiv, .map_border {
	border:none;
}
#content {
	margin-left: 0;
	border-left: 0;
}