#my-wraper
{
	margin:0 auto; 
	width:920px; 
	height:auto;
}

/*Savings Calculator */
#CalcPage {
	width:880px;
	height:700px;
	background-image:url(../images/calculator/calculatorBg.png);
	background-repeat:repeat-y;
	-moz-border-radius:10px;
	border-radius:10px;
	float:left;
}
#Calcbg {
	width:880px;
	height:670px;
	background-image:url(../images/calculator/calculator.png);
	background-repeat:no-repeat;
	float:left;
	margin-top:20px;
}
#Calc {
	width:550px;
	margin:0 auto;
	margin-top:95px;
	padding-left:150px;
	color:#000000;
	font-size:14px;
	text-align:right;
	line-height:25px;
}
#calcItemTitle {
	margin-right:60px;
}
#calcOtherTitle {
	margin-left:40px;
}
#calcItemResults {
	margin-right:35px;
}
#calcOtherResults {
	margin-right:7px;
	width:90px;
	text-align:left;
}

#tableColumn {
	width:550px;
	margin-top:6px;
	float:left;
	background-color:#FFFFFF;
	border:#666666 solid thin;
	-moz-border-radius:10px;
	border-radius:10px;
}
#calcItem {
	width:155px;
	padding-left:10px;
}

#calcContent {
	width:115px;
	padding-left:10px;
}

#inputForm {
	border:none;
	background-color:#FFFFFF;
	padding-top:5px;
	color:#CC3333;
}

.calcSmallText {
	font-size:11px; 
}
.calcTitle {
	float:left;
	padding:1px 10px;
	background-color:#ec008c;
	border:#FFFFFF thin solid;
	color:#FFFFFF;
	-moz-border-radius:10px;
	border-radius:10px;
}
.calcResults {
	float:left;
	padding:1px 15px;
	background-color:#00b9f2;
	border:#FFFFFF thin solid;
	color:#FFFFFF;
	-moz-border-radius:10px;
	border-radius:10px;
	margin-top:8px;
}
.calcSelect {
	color:#00bff2;
	font-size:16px;
	float:left;
	margin-top:5px;
	margin-bottom:10px;
	margin-left:200px;
}
.tableSpace {
	float:left;
}
.field {
	border:#000000 thin solid;
	padding-left:10px;
}

/*Dom news start*/
#news {
	width:700px;
	background:#FCF9F9;
	padding-top:10px;
}
#news a {
	color:#000;
}
#news ul {
	margin:0 .5em 0 1em;
	padding:0;
}
#news li {
	line-height:2em;
}
#news.hasJS {
	height:150px;
	overflow:hidden;
	position:relative;
}
#news.hasJS ul {
	position:absolute;
	top:120px;
	left:0;
	margin:0 .5em 0 .5em;
	padding:0;
}
/*Dom news ends*/