.inside_page_main_content .item-list ul {
	margin-top:10px;
	text-align:left;
	margin-left:0px;
}
.inside_page_main_content {
	margin-top:20px;
	float:left;
}
#main_content_without_left {
	width:880px;
	margin-left:20px;
}
.padded_10 {
	margin-top:-10px;
}