/* $Id: example.css,v 1.5 2006/03/27 02:44:36 pat Exp $ */

/*--------------------------------------------------
  REQUIRED to hide the non-active tab content.
  But do not hide them in the print stylesheet!
  --------------------------------------------------*/
.tabberlive .tabbertabhide {
 display:none;
}

/*--------------------------------------------------
  .tabber = before the tabber interface is set up
  .tabberlive = after the tabber interface is set up
  --------------------------------------------------*/
.tabber {
}
.tabberlive {
 margin-top:2em;
 width:879px;
 padding-left:35px;
 margin-bottom:3em;
}

/*--------------------------------------------------
  ul.tabbernav = the tab navigation list
  li.tabberactive = the active tab
  --------------------------------------------------*/
ul.tabbernav
{
 margin:0;
 padding: 5px 0;
/* border-bottom: 1px solid #778; */
 font: 12px Arial, sans-serif;
}

ul.tabbernav li
{
 list-style: none;
 margin: 0;
 display: inline;
}

ul.tabbernav li a
{
 margin-left: 3px;
 border: 1px solid #778;
 border-bottom: none;
 background: #0066CC;
 text-decoration: none;
 color:#FFF !important;
 padding:5px;
  -webkit-user-select: none;
  	-moz-user-select: none;
  	user-select: none;
  	-moz-border-radius-topleft: 4px;
  	-moz-border-radius-topright: 4px;
  	-moz-border-radius-bottomright: 0px;
  	-moz-border-radius-bottomleft: 0px;
  	border-top-left-radius:4px;
  	border-top-right-radius: 4px;
  	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px; 
 
}

ul.tabbernav li a:link { color: #448; }
ul.tabbernav li a:visited { color: #667; }

ul.tabbernav li a:hover
{
 color: #000 !important;
 background: #CCCCCC;
 border-color: #227;
 -webkit-user-select: none;
 	-moz-user-select: none;
 	user-select: none;
 	-moz-border-radius-topleft: 4px;
 	-moz-border-radius-topright: 4px;
 	-moz-border-radius-bottomright: 0px;
 	-moz-border-radius-bottomleft: 0px;
 	border-top-left-radius:4px;
 	border-top-right-radius: 4px;
 	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px; 
}

ul.tabbernav li.tabberactive a
{
 background-color: #ccc;
 border-bottom: 1px solid #778;
 color:#000 !important;
}

ul.tabbernav li.tabberactive a:hover
{
 color: #fff !important;
 background: #0066CC;
 border-bottom: 1px solid #778;
}

/*--------------------------------------------------
  .tabbertab = the tab content
  Add style only after the tabber interface is set up (.tabberlive)
  --------------------------------------------------*/
.tabberlive .tabbertab {
 padding-left:30px;
 padding-top:20px;
 padding-bottom:20px;
 border: 1px solid #cccccc;
 
 margin-left:3px;
 

 /* If you don't want the tab size changing whenever a tab is changed
    you can set a fixed height */

 /* height:200px; */

 /* If you set a fix height set overflow to auto and you will get a
    scrollbar when necessary */

 /* overflow:auto; */
}

/* If desired, hide the heading since a heading is provided by the tab */
.tabberlive .tabbertab h2 {
 display:none;
}
.tabberlive .tabbertab h3 {
 display:none;
}

/* Example of using an ID to set different styles for the tabs on the page */
.tabberlive#tab1 {
}
.tabberlive#tab2 {
}
.tabberlive#tab2 .tabbertab {
 height:200px;
 overflow:auto;
}
