body {
    background-color: #61D4F6;
    background-image: url("bg.jpg");
    background-repeat: repeat-x;
    font-family:Arial;
    font-size: 13px;
    margin: 0;
    padding: 0;
}
#content {width:1000px; margin:0 auto;margin-bottom:10px}
	.login_container { padding:20px 20px 20px 20px;  border:1px solid #039; background-color:#CEECFB; width:420px; margin:0 auto;}
	.login {  background:url(images/key_64.png) no-repeat left center; margin-left: 200px; padding:40px 40px 0px 100px; line-height:300%;width: 500px; }
	.admin {  background:url() no-repeat left center; margin-left: 20px; padding:30px 100px 30px 100px;}
	.page {  background:url() no-repeat left top; margin-left: 0px; padding:10px 0px 0px 30px;}
	.page1 {  background:url() no-repeat left top; margin-left: 0px; padding:10px 0px 0px 30px; color:#CEECFB;}
	.data {  background:url() no-repeat left top; margin-left: 0px; margin-top: 0px;  padding: 0px 0px 0px 0px;}
	.screen {  background:url() no-repeat left center; margin-left: 550px; margin-top: -410px;  padding: 0px 0px 30px 0px;}
	.union {  background:url() no-repeat left center; margin-left: 550px; margin-top: -650px;  padding: 0px 0px 30px 0px;}
	.union1 {  background:url() no-repeat left center; margin-left: 550px; margin-top: -550px;  padding: 0px 0px 30px 0px;}
	.union2{  background:url() no-repeat left center; margin-left: 550px; margin-top: -450px;  padding: 0px 0px 30px 0px;}
	

.headermenu {   border-bottom:1px solid #666;background-color: #D8DF20;text-align:center; padding-top: 5px;padding-left:10px; padding-bottom: 5px;}
.menu {   border-bottom:1px solid #666;text-align:center; padding-top: 5px;padding-left:10px}
	.item { text-align:center;margin:0 10px 0 10px;}
	.item a { text-decoration:none; color:#333; font-size:12px; font-weight:bold;}
	
.left { float:left; }
.right { float:right; }

.topRow { background:#01BAF2; color:#FFFFFF; font-size:12px;}
.odd { background:#EFF3ED; font-size:12px;line-height:28px}
.even { background:#FFFFFF; font-size:12px;line-height:28px}

.paging a{ color:#06C;}

.extensions_text { font-size:9px;}



#blogComments {}
#blogComments .commentWrap {margin: 10px 0;}
#blogComments .commentAuthor {}
#blogComments .commentAuthor img {float: left}
#blogComments .commentAuthor ul {margin-left: 7px;padding-top: 10px;float: left; list-style:none;}
#blogComments .commentAuthor ul li {margin: 0;padding: 0}
#blogComments .commentAuthor ul li.siteLink a {color: #333;font-size: 12px;text-transform: uppercase;text-decoration: none}
#blogComments .commentAuthor ul li.date {color: #555;font-size: 11px;text-transform: uppercase}
.commentWrap {position: relative}
#blogComments .commentEntry {margin: 15px 0 0 0;padding: 7px 15px;background: #ecebeb;border: 1px solid #dbdbdb}



ul.menu, ul.menu ul {
  list-style-type:none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align:left;
  border-bottom: 0 !important;
}

ul.menu table { font-size:11px;}

ul.menu a {
  display: block;
  text-decoration: none;	
}

ul.menu li {
 
}

ul.menu li a, ul.menu ul.menu li a {
 font-family: Verdana,Arial,sans-serif; font-size: 1.1em;
   border: 1px solid #d3d3d3; color: #555555;
  background: #dadada url(smoothness/images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x;
   
  cursor: pointer; position: relative; margin-top: 1px; zoom: 1;
  display: block; font-size: 1em; padding: .5em .5em .5em .7em;
   -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
   outline:none;
}

ul.menu li a:hover, ul.menu ul.menu li a:hover {
  border:1px solid #999999;color: #222222; outline:none;
}

ul.menu li ul li a, ul.menu ul.menu li ul li a {
  background: #ccc;
  color: #000;
  padding-left: 20px;
}

ul.menu li ul li a:hover, ul.menu ul.menu li ul li a:hover {
  background: #aaa;
  border-left: 5px #000 solid;
  padding-left: 15px;
}
ul.menu ul.menu li a:hover {
    border-left: 0;
    padding-left: 0.5em;
}
ul.menu ul.menu {
    border-left: 5px #f00 solid;
}
ul.menu a.active, ul.menu ul.menu li a.active, ul.menu a.active:hover, ul.menu ul.menu li a.active:hover {
    text-decoration: none;
    border: 1px solid #aaaaaa; background: #ffffff url(smoothness/images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x; font-weight: normal; color: #212121;
	
	border-bottom: 0 !important;
	outline:none;
	
	
}
div.panel {
    border: 1px #999999 solid;
    padding: 5px;
    margin-top: -2px !important;
	 border-top:none;
	  -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px;
}

ul.menu div.panel a, ul.menu div.panel li a:hover  {
    display :inline;
    color: #666;
    background: none;
    margin: 0;
    padding: 0;
    border: none;
    font-weight: bold;
}
ul.menu div.panel a:hover {
    color: #000;
    text-decoration: underline;
}


.index_h1 { text-align:center; width:100%;}
#header {
    background-repeat: no-repeat;
    margin: 0px auto 0;
    background-color: #FFFFFF;
}
.slidingDiv {
    background-color:#F8FCFF;
    padding:20px;
    margin-top:10px;
    border-bottom:3px solid #013541;
}
.slidingDiv2 {
    background-color: #F8FCFF;
    padding:20px;
    margin-top:10px;
    border-bottom:3px solid #013541;
}
#branding h1 {
    background: none repeat scroll 0 0 transparent;
    color: #FFFFFF;
    font-size: 129%;
    margin: 0;
    padding: 7px 0 5px 10px;
    text-align: left;
}
#maincontent {border-bottom:1px solid #666; padding: 10px; background: url(header.jpg) repeat-x scroll 0 0 #FFFFFF;min-height:750px}
#execontent {border-bottom:1px solid #666; padding: 10px 10px 10px 50px; background: url(header.jpg) repeat-x scroll 0 0 #FFFFFF;}
#uploadcontent {border-bottom:1px solid #666; padding: 10px 10px 10px 50px; background: url(header.jpg) repeat-x scroll 0 0 #FFFFFF;min-height:350px}
#leftmenutop{
    background-color: #013541;
    color: white;
    font: bold 9pt/25px Arial;
    height: 26px;
    width: 179px;
}


#rounded-corner
{
margin:0px;
width:920px;
text-align: left;
border-collapse: collapse;
}
#rounded-corner thead th.rounded-company
{
	width:26px;
	background-color: #322CF2;
	background-image: url(../images/left.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
#rounded-corner thead th.rounded-q4
{
	background-color: #322CF2;
	background-image: url(../images/right.jpg);
	background-repeat: no-repeat;
	background-position: right top;
}
#rounded-corner th
{
	padding: 8px;
	font-weight: normal;
	font-size: 13px;
	color: #FFFFFF;
	background-color: #322CF2;
}
#rounded-corner td
{
	padding: 8px;
	border-top: 1px solid #fff;
	color: #FFFFFF;
	background-color: #839FEB;
}
#rounded-corner tfoot td.rounded-foot-left
{
	background-color: #839FEB;
	background-image: url(../images/botleft.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
}
#rounded-corner tfoot td.rounded-foot-right
{
	background-color: #839FEB;
	background-image: url(../images/botright.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
}
#rounded-corner tbody tr:hover td
{
	background-color: #CAD7FA;
}

.menu ul table ul a, .menu ul table ul a:visited  {width:14em; w\idth:12em;}


/* style the table so that it takes no part in the layout - required for IE to work */
.menu table {position:absolute; left:0; top:0; font-size:1em; z-index:-1;}
.menu ul ul table {lef\t:-1px;}
.menu ul ul table ul.left {margin-lef\t:2px;}

.valid_box{width:540px;clear:both;background:url(phpSecurePages/images/valid.png) no-repeat left #edfce9;
border:1px #cceac4 solid;background-position:15px 10px;padding:10px 10px 10px 20px;margin:0 0 10px 0;}


@charset "utf-8";
/* CSS Document */

.paginate {
font-family:Arial, Helvetica, sans-serif;
	padding: 3px;
	margin: 3px;
}

.paginate a {
	padding:2px 5px 2px 5px;
	margin:2px;
	border:1px solid #999;
	text-decoration:none;
	color: #666;
}
.paginate a:hover, .paginate a:active {
	border: 1px solid #999;
	color: #000;
}
.paginate span.current {
    margin: 2px;
	padding: 2px 5px 2px 5px;
		border: 1px solid #999;
		
		font-weight: bold;
		background-color: #999;
		color: #FFF;
	}
	.paginate span.disabled {
		padding:2px 5px 2px 5px;
		margin:2px;
		border:1px solid #eee;
		color:#DDD;
	}
	
	li{
		padding:4px;
		margin-bottom:3px;
		background-color:#FCC;
		list-style:none;}
		
	ul{margin:6px;
	padding:0px;}

a {
    color: #6B00BD;
    cursor: pointer;
    text-decoration: none;
	text-shadow:inherit;
}
a:hover {
	color: #000000;
}
a.active {
    color: #2F7491;
}