<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<head>
<title><?php echo $title_for_layout;?></title>
</head>
<body style="margin:0">
<?php echo $content_for_layout; ?>
</body>
</html>