body {
    background: url("") no-repeat scroll center top transparent;
    color: #666666;
    font-family: "lucida sans unicode","lucida grande",sans-serif;
    font-size: 12px;
    letter-spacing: -0.2pt;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    word-spacing: 0;
}
small {
    font-size: 8px;
    font-weight: normal;
}
strong {
    font-weight: bold;
}
h1 {
    border-bottom: 0px solid #EFEFEF;
    color: #CF310F;
    font-size: 20px;
    margin: 16px 16px 0;
    padding: 6px 0;
    text-align: center;
}
h2 {
    color: #000000;
    font-size: 14px;
}
h3 {
	color: #C5021B;
	font-size: 14px;
	margin: 0 0;
	padding-bottom: 6px;
}
h4 {
    font-size: 18px;
    margin: 12px 0;
    text-align: center;
}
hr {
    border: 1px solid #DDDDDD;
    clear: both;
    color: #DDDDDD;
    float: left;
    height: 1px;
    margin-bottom: 24px;
    width: 100%;
}
p {
	color: #333333;
	font-size: 12px;
	line-height: 22px;
	margin-bottom: 14px;
}
p.leading {
    color: #000000;
    font-family: times new roman;
    font-size: 22px;
    font-style: italic;
    line-height: 30px;
    text-align: center;
}
a {
    color: #CF310F;
    cursor: pointer;
    text-decoration: none;
}
a:hover {
	color: #000000;
}
a.active {
    color: #2F7491;
}
#header_wrap, #footer_wrap, #copyright_wrap, #content_wrap {
    margin: 0 auto;
    position: relative;
    width: 955px;
}
#copyright_wrap {
    background: url("../images/footerbg.jpg") no-repeat scroll center top transparent;
    margin-top: 4px;
}
#body_wrap #header #header_container, #content_wrap #index_display, #footer_wrap #footer {
    margin: 0 auto;
    position: relative;
    width: 955px;
}
#navigation {
    height: 43px;
    margin: 0 auto;
    width: 955px;
    background-image:url(navbg.png);
}
#navigation ul li {
    display: inline-block;
    *display:inline;
    zoom:1;
}
#header_wrap #header ul#sub_links {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
#header_wrap #header ul#sub_links {
    background-color: #666666;
    padding: 4px 12px 8px;
    position: absolute;
    right: 16px;
    top: -12px;
}
#header_wrap #header ul#sub_links li {
    display: inline-block;
    *display:inline;
    zoom:1;
    float: left;
    font-size: 12px;
    text-shadow: 1px 1px 1px #666666;
}
#header_wrap #header ul#sub_links li a {
    color: #FFFFFF !important;
    display: block;
    padding: 0 16px;
}
#header_wrap #header ul#sub_links input {
    border: 1px solid #CCCCCC;
}
#body_wrap {
    padding-top: 0;
}
#header_wrap {
    padding-top: 12px;
}
#body_wrap #header {
    height: 74px;
}
#body_wrap #header #logo {
    left: 0px;
    position: absolute;
    top: 6px;
}


#login{
	
	background:url("../images/login_bg.png");
	height:229px;
	margin-top:10px;
	width:248px;
	
}
#login .input_text, #login .input_password {
	width: 180px;
	margin: 4px 0;
	padding:3px 10px;
	border:#666666 solid 2px;
	-moz-border-radius:10px;
	boreder-radius:10px;
}
.login .input_checkbox {
	margin-left:50px;
}



#content_wrap #page_display {
    background-color: #EFEFEF;
    border: 1px solid #DDDDDD;
    border-radius: 0 0 15px 15px;
    margin: 0 auto;
    width: 953px;
}
#content_wrap #page_display h1 {
}
ul, li {
    margin: 0;
    padding: 0;
}
#content_wrap #page_display ul li {
    display: inline-block;
    *display:inline;
    zoom:1;
    vertical-align: top;
}
#content_wrap #page_display div#page_content {
	padding-top: 0px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}
#content_wrap #page_display ul li#page_menu {
    width: 25%;
}
#content_wrap #page_display ul li#page_menu ul.menulist {
    padding: 8px 20px;
}
#content_wrap #page_display ul li#page_menu ul.menulist li {
    border-bottom: 1px solid #EFEFEF;
    display: block;
    padding: 6px 4px;
}
#content_wrap #page_display ul li#page_content {
    padding: 20px;
    width: 70%;
}
div#hero_image {
    margin-top: 12px;
    text-align: center;
}
div.ThreeColumn, div.FourColumn, div.TwoColumn {
    clear: both;
    overflow: hidden;
}
div.ThreeColumn, div.TwoColumn {
}
div.BottomBlock {
    background: url("../images/content_bottom_bg.html") repeat-x scroll center top #FFFFFF;
}
div.BottomBlock ul li {
    padding: 4px;
    width: 100%;
}
div.BottomBlock a {
    color: #FFFFFF !important;
    font-size: 13px;
    padding: 2px 0;
}
div.footerBlock {
    padding: 12px;
}
div.ThreeColumn div, div.FourColumn div, div.TwoColumn div {
	float: left;
	vertical-align: top;
	padding-top: 0px;
	margin-top: 3px;
	margin-left: 0px;
	margin-bottom: 10px;
}
div.ThreeColumn div p, div.FourColumn div p, div.TwoColumn div p {
    color: #FFFFFF;
    font-size: 11px;
    line-height: 18px;
    margin: 0;
    padding: 8px 0 4px;
}
div.TopBlock {
    font-family: "lucida sans unicode","lucida grande",sans-serif;
    font-size: 12px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
div.TopBlock div p {
    font-family: "lucida sans unicode","lucida grande",sans-serif;
    font-size: 12px;
    color: #333333;
    font-size: 12px;
    line-height: 22px;
    margin: 0 12px;
}
div.Offer {
    background-color: #FFFFFF;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
div.BottomBlock {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
div.ThreeColumn div h2, div.FourColumn div h2, div.TwoColumn div h2 {
    color: #FFFFFF;
}
div.TwoColumn div h1 {
    border: 0 none;
    margin: 6px;
}
div.ThreeColumn div.columnlinks, div.TwoColumn div.columnlinks {
    color: #333333;
    width: 28.5%;
}
div.TwoColumn div.one {
    width: 71.5%;
}
div.ThreeColumn div.one {
    width: 50%;
}
div.TwoColumn div.one ul.offerBox li {
    display: inline-block;
    *display:inline;
    zoom:1;
    width: 49.4%;
}
div.TwoColumn div.one ul.offerBox li div.offers {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 5px 5px 0 0;
    margin: 12px 8px 12px 12px;
    position: relative;
}
div.TwoColumn div.one ul.offerBox li div.offers h2 {
    background-color: #666666;
    border-radius: 5px 5px 0 0;
    color: #FFFFFF;
    padding: 12px 10px;
}
div.TwoColumn div.one ul.offerBox li div.offers p {
    padding: 12px 5px;
}
div.TwoColumn div.one ul.offerBox li div.offers a.more {
	color: #FFFFFF;
	position: absolute;
	right: -1px;
	top: 15px;
}
div.TwoColumn div.one ul.offerBox li div.offers a.more:hover {
    color: #FFFFFF;
}
div.FourColumn div {
    width: 25%;
}
div.TopBlock div div.content {
    padding: 20px;
}
div.TopBlock div div.columnContent h1 {
    margin:24px 24px;
}
div.TopBlock div div.columnContent p {
	padding:10px 18px;
}
div.ThreeColumn div div.columnContent, div.FourColumn div div.columnContent, div.TwoColumn div div.columnContent {
    min-height: 100%;
    vertical-align: top;
    width: 100%;
}
div.BottomBlock div.columnContent h2 {
    background-color: #666666;
    padding: 12px 18px;
}
div.BottomBlock div.columnContent p {
    padding: 12px 12px 0 22px;
}
div.BottomBlock div.columnContent ul {
    padding: 12px 0;
}
div.BottomBlock div.columnContent ul li a {
    margin: 4px 18px;
}
div.ThreeColumn div div.noPadd, div.FourColumn div div.noPadd, div.TwoColumn div div.noPadd {
	padding-top: 0px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0px;
}
ul#center li {
    text-align: center;
}
div.columnlinks {
    background: url("../images/columnlinks_bg.html") no-repeat scroll left top transparent;
}
div.columnlinks h3 {
    font-size: 18px;
    padding: 12px 16px 2px;
}
div.columnlinks h4 {
    color: #000000;
    font-size: 14px;
    font-weight: normal !important;
    margin: 0;
    padding: 12px 16px 2px;
    text-align: left;
}
div.columnlinks input.stepbtn, div.columnContent input.stepbtn {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("../images/header_bg.png") repeat-x scroll 0 0 transparent;
    border-color: #DDDDDD #CCCCCC #CCCCCC #DDDDDD;
    border-radius: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 1px 2px 2px 1px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-size: 15px;
    font-weight: bold;
    margin: 12px auto 24px;
    padding: 10px 0;
    width: 70%;
}
div.columnlinks input.stepbtn:hover {
    background-color: #F8F8F8;
}
div.columnlinks ul li {
    border-bottom: 1px solid #DDDDDD;
    color: #FFFFFF;
    display: block;
    width: 100%;
}
div.columnlinks ul li:last-child {
    border-bottom: 0 none;
}
div.columnlinks ul li:first-child {
    background: url("../images/content_bottom_bg.html") repeat-x scroll center top #FFFFFF;
    border-top: medium none;
}
div.columnlinks ul li.header {
    margin-top: 24px;
}
div.columnlinks ul li:first-child h2, div.columnlinks ul li.header h2 {
    padding: 12px;
}
div.columnlinks ul li a {
    color: #09335F;
    display: block;
    font-size: 14px;
    padding: 12px;
}
div.columnlinks ul li a span.small {
    font-size: 11px;
}
div.columnlinks ul#center li a {
    color: #09335F;
    display: block;
    font-size: 17px;
    padding: 12px;
}
div.columnlinks ul#center li a span.small {
    font-size: 14px;
}
div.columnlinks ul li a:hover {
    background-color: #FFFFFF;
}
#copyright_wrap {
    color: #888888;
    font-size: 11px;
    padding-top: 30px;
    text-align: center;
}
#copyright_wrap p {
    font-size: 11px !important;
}
#copyright_wrap p.small {
    color: #BBBBBB;
    font-size: 9px !important;
    line-height: 14px;
    margin: 0 auto 12px;
    width: 90%;
}
.form_2column {
    padding-top: 20px;
}
.formerror {
    background-color: #F7EEEE;
    border: 1px solid #DCC2C2;
    color: #EC0000;
    font-weight: bold;
    margin-bottom: 12px;
    padding: 12px;
    text-align: center;
}
form.cmxform li {
    display: inline-block;
    *display:inline;
    zoom:1;
    margin-left: 20px;
    width: 432px;
}
form.cmxform div.frow {
    margin: 0 0 6px;
    vertical-align: top;
}
form.cmxform div.frow div.fwrap {
    display: inline-block;
    *display:inline;
    zoom:1;
    vertical-align: top;
    width: 48%;
}
form.cmxform div.wide div.fwrap {
    width: 100%;
}
form.cmxform div.frow div.fwrap label {
    display: block;
    padding: 4px;
}
form.cmxform div.frow div.fwrap label span.note {
    font-size: 11px;
}
form.cmxform div.frow div.fwrap input, form div.frow div.fwrap select, form div.frow div.fwrap textarea, select.shippingSelect {
    border: 1px solid #CCCCCC;
    font-size: 12px;
    padding: 6px;
    width: 88%;
}
select.shippingSelect {
    font-size: 12px;
    padding: 2px;
    width: auto;
}
form.cmxform div.frow div.fwrap textarea {
    width: 91%;
}
form.cmxform div.options div.fwrap {
    line-height: 24px;
    padding: 6px 0;
}
form.cmxform div.frow div.fwrap input:focus, form div.frow div.fwrap select:focus, form div.frow div.fwrap textarea:focus {
    background-color: #ECF2F6;
    border: 1px solid #C0CFD8;
}
form.cmxform div.wide div.fwrap input, form div.wide div.fwrap select {
    width: 91%;
}
form.cmxform div.fbtnrow {
    margin: 24px 0;
    text-align: center;
    width: 100%;
}
form.cmxform div.fbtnrow input {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("../images/forms/submit_bg.html") repeat-x scroll center top transparent;
    border-color: #C58F00 #A47800 #A47800 #C58F00;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    padding: 6px 12px;
}
form.cmxform div.fbtnrow input.image {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    padding: 0;
}
form.cmxform div.fbtnrow input.stepbtn {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("header_bg.png") repeat-x scroll 0 0 transparent;
    border-color: #DDDDDD #CCCCCC #CCCCCC #DDDDDD;
    border-radius: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 1px 2px 2px 1px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-size: 15px;
    font-weight: bold;
    margin: 12px auto 24px;
    padding: 10px 24px;
}
form.cmxform div.fbtnrow span.note {
    font-size: 11px;
}
form.cmxform div.frow div.fwrap label.error {
    display: inline-block;
    *display:inline;
    zoom:1;
}
form.cmxform div.frow div.fwrap input.error, form div.frow div.fwrap select.error, form div.frow div.fwrap textarea.error {
    background: url("../images/forms/error.html") no-repeat scroll right 5px #F7EEEE;
    border: 1px solid #DCC2C2;
}
form.cmxform div.frow div.fwrap input.valid, form div.frow div.fwrap select.valid, form div.frow div.fwrap textarea.valid {
    background: url("../images/forms/valid.html") no-repeat scroll right 5px #F3F7EC;
    border: 1px solid #83CA13;
}
table tr.suborder td {
    background: url("../images/forms/sub_order_bg.html") repeat-x scroll 0 0 #EFEFEF;
    text-align: center;
}
label.error {
    color: #A73C3C;
    font-size: 11px !important;
}

ul.list {
    list-style-type: circle outside!important;
    margin:12px 36px !important;
}
ul.list li {
    list-style-type: disc  !important;
    display:list-item !important;
    padding:6px 6px;
    margin: 0 24px;
}
