<?php if(!empty($clientsList)) : ?>
	<div style="width:245px;background-color:#fff;overflow:auto;border:1px solid #ccc;padding-bottom:5px;" id="ic<?php echo $pid;?>">
		<strong><?php echo $program_name; ?></strong><br>
		<input type="checkbox" class="checkbox" id="checkall<?php echo $pid ?>" onclick="selectAll('<?php echo $pid ?>');" checked="checked"><span style="color:red"><b>Select All Clients</b></span><br>
		<?php foreach ($clientsList as $cval=>$cname):?>
			<input type="checkbox" name="data[Client][Client][]" value="<?php echo $cval;?>" class="checkbox" checked="checked"/>
			&nbsp;&nbsp;<?php echo $cname ?><br>
		<?php endforeach; ?>
	</div>
<?php endif; ?>