<style>
.checkbox {
display:inline;

}
.checkbox label{
margin-left:-78px;
display:inline;
}
</style>


<!--<div class="search_content search_results"  style="margin-bottom:0px !important;min-height:10px;overflow:hidden;">-->
	<div style="padding-left:30px" class="rounded-corners_bottom">
       
	<h1 style="margin-top:0px;"><br>Send a Friend Now!</h1>

	<div class="module">

		<div>
		<?php echo $this->Form->create('saf',array('url'=>'/saf/saf_request','id'=>Safrequestform , 'class'=>'standard'));?>
			<table>
				<tr>
					<td style="padding:10px;width:160px" >First Name:</td>
					<td style="padding:10px;width:200px"><?php echo $this->Session->read('user.User.first_name'); ?></td>
					<td style="padding:10px;width:80px">Last Name:</td>
					<td style="padding:10px"><?php echo $this->Session->read('user.User.last_name'); ?></td>
				</tr>

				<tr>
					<td style="padding:10px">Membership Number:</td>
					<td style="padding:10px"><?php echo $this->Session->read('user.User.username'); ?></td>
					<td style="padding:10px">Client Name:</td>
					<td style="padding:10px"><?php echo $this->Session->read('client.Client.name'); ?></td>
				</tr>
				<!--<tr>
					<td style="padding:10px"></td>
					<td colspan="3" style="padding:10px">This is found on your membership card issued by your dealer when you purchased a car. It usually begins with an alpa prefix. E.g. BG103456.<br /></td>	
				</tr>-->
				<tr>
					<td style="padding:10px">Your email:</td>
					<td style="padding:10px" colspan="3"><?php echo $this->Session->read('user.User.email'); ?></td>
				</tr>
			</table>
			<?php //if ($count[0][0]['count'] <5 ): ?>
				<div style="min-height:100px;overflow:hidden;padding:10px;">
					<strong>Friend:</strong><br>
					<div style="float:left;">
						<table>
							<tr>
								<td>Friends name:</td>
								<td><?php echo $this->Form->input('ProductsSaf.0.friendname',array('class'=>'search_input','id'=>'friendname0','label'=>false)); ?><span style="color:red"> * </span></td>
							
								<td>Friends email address:</td>
								<td><?php echo $this->Form->input('ProductsSaf.0.friendemail',array('class'=>'search_input','id'=>'friendemail0','label'=>false)); ?><span style="color:red"> * </span></td>
							
								<td>
									<?php //if ($count[0][0]['count'] <5 ): ?>					
										<button onclick="addFriends(0)" type="button" class="button_search_module rounded_corners_button" id="add0" style="width:50px">Add</button>
									<?php //endif; ?>
								</td>
							</tr>
							<!--<tr>
								<td style="padding:10px">Sales Manager Name:</td>
								<td style="padding:10px" colspan="3"><?php echo $this->Form->input('ProductsSaf.salesmanagername',array('class'=>'map_input')); ?></td>
							</tr>-->
						</table>
					</div>
					<div id="fid"></div>
					<div><input type="hidden" id="count" value="0"/></div>
				</div>
				<br>
				<div align="center">
					<button type="button" onclick="friendSubmit()" class="button_search_module rounded_corners_button">Submit</button>
				</div><br>
			<?php //endif; ?>
		</div>
	</div>
	<!--</div>-->
</div></div>