<div class="search_content search_results"  style="width:930px !important;padding:10px;">
	<?php if(!empty($error_text['Client']['login_error_text']) || $error_text['Client']['login_error_text']!=''):?>
		<?php echo $error_text['Client']['login_error_text'];?>
	<?php else : ?>
			<div>
				<h3>Ooops! ...something is not quite right!!!</h3><br/>
				<p>Your Login details are incorrect...</p>
				<p>Please try again to login <a href="/users/login"><strong>Click here to login</strong></a></p>				
			</div>
	<?php endif;?>
</div>