<div class="main">
	<?php echo $this->element('message'); ?>
	<?php if ($step == 2) : ?>
		<div class="content">
				<table>
					
					<tr>
						<td colspan="3">
						
							<img src="http://www.myrewards.com.au/files/clients/My_Rewards_Express_Congratulations.jpg" usemap="#planetmap" />
							<map name="planetmap">
							<area shape="rect" coords="189,451,259,501" href="mailto:pip@myrewards.com.au?subject=Win a double pass to the movies!" alt="Click Here" title="Click Here"    />
							</map>						

						</td>
					</tr>
					

				</table>
			</form>
			&nbsp;
		</div>
	<?php else : ?>
		<div class="content">
					<form action="<?php echo $this->Html->url('/users/express/1'); ?>" method="post" class="standard">
						<table>
						<tr><td colspan="3">
						<?php if ($this->Session->read('client.Client.id') == '714') : ?>
							<img src="http://www.myrewards.com.au/files/clients/MR-ExpressMobile_awe.png" width="1024px" alt="" border="" />
						<?php else : ?>
							<img src="http://www.myrewards.com.au/files/clients/Mr-Express-Mobile.png" width="900px" alt="" border="" />
						<?php endif; ?>

						</td></tr>
						<tr>
							<td align="right">Mobile Number   :</td>
							<td><?php echo $this->Form->input('User.mobile'); ?></td>
							<td><?php echo $this->Form->error('User.mobile', array('required' => 'Mobile Number required'), array('required' => 'Mobile Number required')); ?></td>
						</tr>
						<tr>
							<td></td>
							<td colspan="2"><button type="submit">Submit &gt;&gt;</button></td>
						</tr>
																
						</table>
					</form>
					&nbsp;
		</div>
	<?php endif; ?>
</div>
