<?php echo $this->element('module2', array('module2' => 'Keyword_search', 'title' => 'Search'));?>
<div id="wishdiv" class="search_content rounded-corners_bottom  map_border" style="width:950px;min-height: 410px;">
		<div style="margin-top: 10px; margin-bottom: 10px; width: 815px; margin-left: 65px;" class="no_print" >
			<div style="float:left;width:600px;margin-top:5px;">
				<h3 style="margin:0px !important;" >My Redeemed History</h3>
			</div>
			<div  align="right">
				<a class="link_color" style="text-decoration:none;font-weight:normal;" href="javascript:window.history.back()">
					<img src="/files/newimg/back.png" alt="Back" title="Back"/>
				</a>
			</div>
		</div>
		<div id="wishbackground" class="rounded_corners_map map_border" style="width: 800px; margin-left: 60px; padding: 10px;background-color:#ffffff;">
		<div style="min-height:40px;overflow:hidden;">	 
			<div class="list" style="width: 99%;"><?php echo "<strong>Currently You have ".$userredeempoints['User']['points']." points</strong>" ; ?>
				<table cellpadding="0" cellspacing="0" width="100%" style="border-left: 1px solid #DFDFDF;border-right: 1px solid #DFDFDF;">
					<tr height="30">
						<th style="background-color:#cccccc;border-top-left-radius: 9px;width: 190px;">Product Id</th>
						<th style="background-color:#cccccc;width: 190px;">Product Name</th>
						<th style=";background-color:#cccccc;width: 190px;">Activity</th>
						<th style=";background-color:#cccccc;width: 190px;">Points</th>
						<th style=";background-color:#cccccc;border-top-right-radius: 9px;width: 190px;">Activity Date</th>
		       			</tr>
				   	  <?php
						$i=1;
						foreach ($redeem_history as $gmp)
						{
						$class = null;
						if ($i++ % 2 == 0)
						{
							$class = ' style="background-color:#EFEFEF;"';
						}
					?>
						<tr<?php echo $class;?>>
							<td style="text-align:center;height:20px;border-bottom: 1px solid #DFDFDF;border-top: 1px solid #DFDFDF;"><?php echo $gmp['RedeemTracker']['product_id'];?></td>
							<td style="text-align:center;height:20px;border-bottom: 1px solid #DFDFDF;border-top: 1px solid #DFDFDF;"><?php echo $gmp['Products']['name'];?></td>
							<td style="text-align:center;height:20px;border-bottom: 1px solid #DFDFDF;border-top: 1px solid #DFDFDF;"><?php echo $gmp['RedeemTracker']['activity'];?></td>
							<td style="text-align:center;height:20px;border-bottom: 1px solid #DFDFDF;border-top: 1px solid #DFDFDF;"><?php echo $gmp['RedeemTracker']['points'];?></td>
							<td style="text-align:center;height:20px;border-bottom: 1px solid #DFDFDF;border-top: 1px solid #DFDFDF;"><?php echo $gmp['RedeemTracker']['activity_date'];?></td>
						   </tr>
					  <?php
					  				
					  			}
					   ?>
				  
			</table>
		</div></div></div>
		<br/><br/>
</div>