<style>
#content {
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    margin-left: 20px !important;
    padding-left: 15px !important;
    width: 938px;
    padding-right:0px !important;
    margin-bottom:20px !important;
}
</style>
<div id="maincampaign">
	<div class="mainc"><br>
    	<h2 style="padding-left:50px">Welcome to Competition Manager!</h2>
    		<div class="icondiv">
			     <p>
			     	<a href="<?php echo $this->Html->url('/admin/campaigns/edit/'); ?>">
			     		<img style="cursor:pointer" src="/files/campaign/create_compaign.png"  alt="Create Competition" title="Create a Competition" />
			     	</a>
			     </p>
			     <p><a class="link_icons" href="<?php echo $this->Html->url('/admin/campaigns/edit/'); ?>">Create a Competition</a></p> 
			</div>
			<div class="icondiv">
			      <p>
			     	<a href="<?php echo $this->Html->url('/admin/campaigns/list_campaign/'); ?>">
			     		<img style="cursor:pointer" src="/files/campaign/compaign_management.png"  alt="Competitions Management" title="Competitions Management" />
			     	</a>
			     </p>
			     <p><a class="link_icons" href="<?php echo $this->Html->url('/admin/campaigns/list_campaign/'); ?>">Competitions Management</a></p> 
			</div>
			<div class="icondiv">
			      <p style="height:100px;">
			     	<a href="<?php echo $this->Html->url('/admin/campaigns/view_pages/'); ?>">
			     		<img width="100" style="cursor:pointer" src="/files/campaign/view.jpg" alt="View Pages" title="View Pages" />
			     	</a>
			     </p>
			     <p><a class="link_icons" href="<?php echo $this->Html->url('/admin/campaigns/view_pages/'); ?>">View Pages</a></p> 
			</div>
			<!--<div class="icondiv">
			      <p>
			     	<a href="<?php echo $this->Html->url('/admin/campaigns/participants/'); ?>">
			     		<img style="cursor:pointer" src="/files/campaign/participants.png"  alt="Participants" title="Participants" />
			     	</a>
			     </p>
			     <p><a class="link_icons" href="<?php echo $this->Html->url('/admin/campaigns/participants/'); ?>">See All the participants</a></p> 
			</div>
			<div class="icondiv">
			     <p>
			     	<a href="<?php echo $this->Html->url('/admin/campaigns/view_winners/'); ?>">
			     		<img style="cursor:pointer" src="/files/campaign/winner.png"  alt="Selected participants" title="Selected participants" />
			     	</a>
			     </p>
			     <p><a class="link_icons" href="<?php echo $this->Html->url('/admin/campaigns/view_winners/'); ?>">Selected participants</a></p> 
			</div>-->
	</div>
	
	<br>
</div>