<div style="width:750px">
<h2>Contact Us</h2>
<table border="0" cellpadding="0" cellspacing="0" class="content_table_2col">
  <tr align="left" valign="middle" class="content_table_row">
    <td><p>Email address: </p></td>
    <td valign="middle"><p><?php echo $contact['Contact']['email']; ?></p></td>
	
  </tr>
  <?php  foreach($typeArray as $key=> $type):  ?>
  
  <tr align="left" valign="middle" class="content_table_row">
    <td><p><?php echo $type; ?>: </p></td>
    <td valign="middle"><p><?php echo $dataArray[$key]; ?></p></td>
	
  </tr>
  <?php endforeach; ?>
  
</table>
</div>
