.dc_clear { clear:both; padding:0; margin:0; width:100%; font-size:0px; line-height:0px; }
#slide { margin: 0 auto 0; position: relative; width: 100%; z-index: 95; overflow: hidden; }
header, nav, section, article, aside, footer { display: block; }

/*Flick Slider Gallery*/

.ps-slider { height:440px; margin:0 0 0 0; }

/* Thumbnail slider style */
.navig-photo-stack a.next, .navig-photo-stack a.prev { width:25px; height:41px; top:190px; cursor:pointer; outline:none; position:absolute; }
.navig-nivo a.prev { -o-transition: margin-left 0.3s; -moz-transition: margin-left 0.3s; -webkit-transition: margin-left 0.3s; transition: margin-left 0.3s; }
.navig-photo-stack a.next { -o-transition: margin-right 0.3s; -moz-transition: margin-right 0.3s; -webkit-transition: margin-right 0.3s; transition: margin-right 0.3s; }
.navig-photo-stack a.prev { z-index: 99999; background: url("../images/flick/arrow-l.png") no-repeat 0 0; float:left; }
.navig-photo-stack a.next { z-index: 99999; background: url("../images/flick/arrow-r.png") no-repeat right 0; float:right; right:0; }
.navig-photo-stack a.prev:hover, .navig-photo-stack a.next:hover { }
.navig-photo-stack a.prev:hover {width:30px; background-position:0 -41px; }
.navig-photo-stack a.next:hover { width:30px; background-position: right -41px; }
.navig-photo-stack a.temp_disabled, .navig-photo-stack a.temp_disabled:hover { cursor:default; opacity:0.5; background-position: 0 0 !important; }

/*****************************/
#ps-albums { overflow:hidden; }
.ps-slider .ps-album { margin-left: 24px; width: 210px; height: 420px; padding: 5px; background: #d6d6d6; position:absolute; top:0px; cursor:pointer; -webkit-border-radius: 5px; border-radius: 5px; -webkit-box-shadow:  0px 0px 5px 1px #242222; box-shadow:  0px 0px 5px 1px #242222; }
.ps-slider .ps-album img { height: auto; width: 100%; }
.ps-slider .ps-album .ps-desc { display:none; color:#666; width: 80%; position:absolute; left: 10%; bottom:44px; line-height:20px; overflow:hidden; }
.ps-head { background-color:rgba(0, 0, 0, 0.70); -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; padding:2px 19px 4px 19px; margin:0 0 0px 0; position:relative; }
.ps-head h3 { padding:4px 0; margin:0; }
.ps-cont { background-color:rgba(252, 252, 252, 0.7); -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; padding:15px 20px; margin:10px 0 0 0; color:#333333; display:block; float:left; text-shadow:none; }
.ps-slider .ps-album .ps-desc span { display:block; text-shadow:none; }
/*End Photo Stack Gallery*/


/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) { 
	

}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {

.ps-slider .ps-album { width: 195px; height: 390px; margin: 0 0px 0 20px; }
.ps-slider { height: 410px; }
#slide { width: 700px; }

}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {

.ps-slider .ps-album { width: 156px; height: 313px; margin-left: 0; }	 
.navig-photo-stack a.next, .navig-photo-stack a.prev { top: 135px; }
.ps-slider { height: 350px; }
.navig-photo-stack a.next { margin-right: 0px; }
#slide { padding-left: 3%; width: 92%; }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
#slide { width: 260px; }
.ps-slider .ps-album { width: 180px; height: 360px; margin-left: 40px; }
.ps-slider { height: 378px; }
.navig-photo-stack a.next { margin: 0px 0px 0 0; z-index: 9999999; }
.navig-photo-stack a.next:hover { margin-right: 0px; }
.navig-photo-stack a.prev { margin: 0px 0  0 0px; z-index: 9999999; }
.navig-photo-stack a.prev:hover { margin-left: 0px; } 

}

