

/*

* Skeleton V1.2

* Copyright 2011, Dave Gamache

* www.getskeleton.com

* Free to use under the MIT license.

* http://www.opensource.org/licenses/mit-license.php

* 6/20/2012

*/



/* Table of Content

==================================================

	#Site Styles

	#Page Styles

	#Media Queries

	#Font-Face */



/* #Site Styles

================================================== */



/* #Page Styles

================================================== */



/* #Media Queries

================================================== */



	/* Smaller than standard 960 (devices and browsers) */

	@media only screen and (max-width: 959px) {

		.container .col3 { margin-right: 26px; }

		.container .prefooter_resize .fcol { margin: 0 20px 0 0; }

		.container .sidebar_recent h3,.container .sidebar_recent p { width: 132px; }

		.container .maps_view { width: 97%; }

		.container .col4 { margin-right: 20px; }

		.container .pic.some { width: 97.2%; }

		}

		



	/* Tablet Portrait size to standard 960 (devices and browsers) */

	@media only screen and (min-width: 768px) and (max-width: 959px) {

		#controls { right: 6%!important; }

		#slider-wrapper object { height: 315px; }

		.container .col3.last { margin-right: 0px; }

		.container .col4.last { margin-right: 0px; }

		.container .prefooter_resize .fcol.last {  margin-right: 0px;}

		 }



	/* All Mobile Sizes (devices and browser) */

	@media only screen and (max-width: 767px) {
		
		#panel_setting_side { position: absolute !important; top: 30% !important; z-index: 999999999 !important; }

		.container #coment img { float: none; }

		.container #coment2 img { float: none; }

		.container #coment .podpis { float: none; }

		.container #coment2 { margin-left: 0px; }

		.container #coment2 img { float: none; }

		.container #coment2 .podpis { float: none; }

		.container #coment3 { margin-left: 0px; }

		.container #coment3 img { float: none; }

		.container #coment3 .podpis { float: none; }

		.container #coment { padding-bottom: 12px; }

		.container #coment br { display: none; }

		.container #coment2 br { display: none; }

		.container #coment3 br { display: none; }

		.container #coment3 .podpis { width: 100%; }

		.container .r_plus_overlay { display: none; }

		.container .r_plus { display: none; }

		.container .col3 { margin: 0 0 20px 0; width: 100%; }

		.container .pic img { width: 100%; }

		.container .prefooter .fcol { margin-right: 0px; width: 100%; }

		.container .prefooter_resize .fcol { margin: 0 0 10px 0px; width: 100%; }

		.container .flickr a img { margin: 0 39px 15px 0; }

		.container .social_img  img { margin-right: 5px; }

		.container .sidebar_recent img { width: auto; }

		.container .sidebar_recent h3,.container .sidebar_recent p { width: 330px; }

		.container .maps_view { width: 96.2%; }

		.container .col1 { width: 90%; }

		.container .col1.last { padding-top: 10px; float: none; width: 90%; }

		.container .wright { float: left; }

		.container .cols3.diff .col3 h3 { padding-top: 10px; }

		.container .col4 { margin: 0 0 30px 0px; width: 46%; }

		.container .col4.second { float: right; }

		.container .col4.last { float: right; }

		.container .pic.some { width: 96.7%; }

		.content .adjust { width: 100%; overflow: hidden; background: url(../images/content_resize_bg.png) center top no-repeat; }

		.container .content_resize { background: none; }

		.now_page_bg .set { width: 100%; overflow: hidden; background: url(../images/now_page_bg2.png) center bottom no-repeat; }

		.container .now_page_resize { background: none; }

		.menu .menusm { display: none; }

		.menu .tinynav { padding: 3px 0 3px; margin: auto; width: 100%; display: block; height: 30px;}

		.camera_caption > div { padding: 5px !important; font-size: 8px !important; line-height: 12px; }

		#slider-wrapper object { height: 240px; }

		.header_menu { background: none; }

		.menu { padding-top: 14px; }

		div.ppt { display: none !important; }

		#now_slider.gap95 { padding-bottom: 13px; }

		.footer p { text-align: left; }

		}

 

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */

	@media only screen and (min-width: 480px) and (max-width: 767px) {

		#controls { right: 8%!important; }

		.pricing_six .pricing_column, .pricing_six .pricing_column_first { width: 15.4% !important; }

		}



	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */

	@media only screen and (max-width: 479px) {

		

		.container .flickr a img { margin-right: 26px; }

		.container .sidebar_recent h3,.container .sidebar_recent p { width: 210px; }

		.container .maps_view { width: 94.7%; }

		.container .cols3.diff .col3 { width: 100%; }

		.container .col1 { width: 86%; }

		.container .col1.last { width: 86%; }

		.container .col4 { margin: 0 0 30px 0px; width: 100%; }

		.container .col4.second { float: left; }

		.container .col4.last { float: left; }

		.container .pic.some { width: 95%; }

		#slider-wrapper object { height: 160px; }

		.menu .tinynav { width: 100%; }

		}

		





/* #Font-Face

================================================== */

/* 	This is the proper syntax for an @font-face file

		Just create a "fonts" folder at the root,

		copy your FontName into code below and remove

		comment brackets */





