@charset "utf-8";
/* CSS Document */

.header_menu { width: 100%; height:51px;  background: url("../images/menu_bg.png") no-repeat scroll center top rgba(0, 0, 0, 0); margin-top:4px; }
.header_menu_resize {margin:0 auto; }
/* DESIGN TOPNAV (mainmenu) */
.menu {
	padding: 12px 0px 0px 0px;
	text-transform: uppercase;
	font-size: 14px;
	width: 100%;
	font-style: normal;
	margin-top:55px;
	
}
/* level 0 */
.menu ul.menusm { padding:0 0 0px; width: 100%; text-align: center; }
.menu ul li.ms_top { display: inline-block; }
.menu ul li a.ms_top { display:block; margin:0; font-weight:normal; color:#ededed; text-decoration:none;text-align:center; 
padding:0 80px 0 0px;}
.menu ul li a.ms_top span { color:#ededed; }

.menu ul li a.ms_top span { display:block; margin:0; padding:6px 10px 24px 10px; height:14px; }
/*.menu ul li a.ms_top.ms_first span { padding-left:0; }*/
.menu ul li a.ms_top {/*background:url(../images/menu_sep.png) no-repeat right top;*/}
.menu ul li a.ms_top.ms_last {/*background:none; padding-right:0;*/}

/*//active*/
.menu ul li#active_menu-nav a.ms_top,
.menu ul li a.ms_top.active,
.menu ul li a.ms_top.ms_hover,
.menu ul li.active a.ms_top,
.menu ul li a.ms_top.ms_hover span,
.menu ul li.active a.ms_top span { color:#00aeef; text-decoration:none; /*background:url(../images/menu_a.png) repeat-x top center; /**/}


/*/////////////////////buttons*/
/* have_submenu */
.menu ul li a.ms_top.ms_havesubmenu span {/*background:url(../images/menu_r_d.png) no-repeat right top;/**/ }
.menu ul li.active a.ms_top.ms_havesubmenu span {/*background:url(../images/menu_r_da.png) no-repeat right top;/**/ }
.menu ul li a.ms_top.ms_havesubmenu.ms_hover span {/*background:url(../images/menu_r_da.png) no-repeat right top;/**/ }
.menu ul li a.active,
.menu ul li a.ms_hover,
.menu ul li a.ms_havesubmenu.active,
.menu ul li a.ms_havesubmenu.ms_hover {/*background:url(../images/menu_l_a.png) repeat-x top left; */}


/* level 1 */
.menu ul li ul { line-height: 1em; margin:0; padding:0px 0 0  0px; top:36px; left:0px; font-style:normal; font-size:12px; /*border-top:1px solid #ffe012; */text-transform:none;}
.menu ul li ul li { padding:0; border-bottom:1px solid #313131; margin:0;}
.menu ul li ul li.ms_last { border-bottom:none; }
.menu ul li ul li a { display:block; margin:0; padding:10px 10px 10px 10px; width:120px;font-weight:normal; color:#ededed; 
background:url(../images/overlay.png) repeat top center;
 }
.menu ul li ul li a span { color:#ededed; }

.menu ul li ul li a span { padding:0 0 0 0px; /*background:url(../images/menu_sub_li.png) no-repeat center left;*/}

.menu ul li ul li.ms_last a { }
.menu ul li ul li a.ms_hover { text-decoration:none;}
.menu ul li ul li ul { top:0px; left:140px;  }
.menu ul li ul li a.ms_first.ms_havesubmenu.ms_hover,
.menu ul li ul li a.ms_first.ms_havesubmenu.active,
.menu ul li ul li a.ms_first.ms_havesubmenu.ms_hover span,
.menu ul li ul li a.ms_first.ms_havesubmenu.active span,
.menu ul li ul li a.active span,
.menu ul li ul li a.active,
.menu ul li ul li a.ms_hover ,
.menu ul li ul li a.ms_hover span {color:#f93813;/*background:#92a869;*/}

.menu ul li ul li a.ms_first.ms_havesubmenu.ms_hover span,
.menu ul li ul li a.ms_first.ms_havesubmenu.active span,
.menu ul li ul li a.active span,
.menu ul li ul li a.ms_hover span {/*background:url(../images/menu_sub_li_a.png) no-repeat center left;*/}


.menu * { z-index:9003; }


/* DO NOT EDIT!!! */
ul.menusm { list-style:none; }
ul.menusm li { cursor:pointer; position:relative; }
ul.menusm li a { position:relative; }
ul.menusm li ul { display:none; position:absolute; list-style:none; height:auto; }
ul.menusm li ul li ul { position:absolute; list-style:none; }
