@charset "utf-8";
@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('MyriadPro-Regular.eot');
    src: url('MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
         url('MyriadPro-Regular.woff') format('woff'),
         url('MyriadPro-Regular.ttf') format('truetype'),
         url('http://www.iolivo.com/fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;

}


* { outline:none; }
body,.main,.clr,.header,.content,.prefooter,.footer,form,ol,ol li,ul { margin:0; padding:0; }
ol,ul,li { list-style:none; }
body { width:100%;}
body,input,textarea {font:normal 11px/1.8em 'MyriadPro-Regular' !important; color:#909090; }
img { border:none; }
.clr { clear:both; padding:0; margin:0; width:100%; font-size:0; line-height:0; }
.fl { float:left; }
.fr { float:right; }
.tal { text-align:left; }
.tar { text-align:right; }
.tac { text-align:center; }
hr { border:1px solid #c8c8c8; margin:30px 0; }

.small{ }
.separator { clear:both; margin:30px auto 20px; padding:0px 0 0px 0; width:100%; height:5px; background:url(../images/sep.png) repeat-x top left; }
.separator.small { margin:15px auto 15px;}
.separator_clear { clear:both; margin:15px auto; padding:0; width:100%; height:2px; }
.separator_clear.small { margin:10px auto;}
#webstore .right { float: none !important; }

/*MAIN BACKGROUNDS*/
.body_pattern { background:#ffffff url(../images/bg_76.png) repeat top left;}

.main { margin:0 auto; padding:0; width:100%; position:relative;  }

#page { background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4); overflow: hidden; position: relative; width: 100%; }
a { color:#da3616; font-weight:normal; text-decoration:none; }
p { margin:0; padding:0 0 10px; }

h1 { margin:0; padding:38px 0 0 0px; font-weight:normal; font-size:24px;   line-height:24px; color:#fff; text-transform:none; text-align:center; font-style:normal; }
h1 a { color:#fff; text-decoration:none; }
h1 span { color:#fff; font-size:11px; font-style:italic; font-weight:normal; line-height:1.8em;  text-transform:none;  display:block; margin-top:5px;  }
h1 a:hover { text-decoration:none; }

.index_page h1 {font-size:18px; line-height:24px; padding-top:0;}
.index_page h1 span {text-align:center; }/**/

/*post_titles*/
h2 { margin:15px 0 20px 0; padding:0 0 0 0; font-size:18px; font-weight:normal; color:#36383c; text-align:left; text-transform:none; font-style:normal; }
h2 span,h2 a span { color:#36383c; }
h2 a,h2 a span { color:#36383c;  }
h2 a:hover,h2 a:hover span { color:#da3616; }

.h2_with_btn {width:100;}
.h2_with_btn h2 {float:left;}
.h2_with_btn .btn { float:right;}

/*.h2_background  {margin:0px; padding:2px 0 2px; width:100%;}
.h2_background h2{background: url(../images/sep.png) repeat-x left; width:100%; padding-bottom:0px;  margin:10px 0 20px; font-style:normal;}
.h2_background h2 span{ text-align:left; margin:0 auto; padding:0 25px; background:#ffffff;  }
*/

em.first_color { font-style:normal;}
em.second_color {color:#949494; font-style:normal;}
a:hover em.second_color {color:#da3616;}

/*images titles etc,...*/
h3 {  font-size:14px; font-weight:bold; color:#1b1b1b; text-transform:none; line-height:1em;  text-align:left; margin:5px 0 10px; }
h3 span { color:#8a8a8a; text-decoration:none; font-weight:normal; font-style:italic; margin:7px 0 0 0; padding:0; font-size:11px; display:block; text-transform:none; }
h3 a { color:#171717; text-decoration:none; font-weight:normal;  }
h3 a:hover { text-decoration:none; color:#da3616; }
h3 span a:hover { text-decoration:none; color:#da3616; }

h3.h3_center {text-align:center;margin:15px 0 10px;}
h3.h3_center span {text-align:center;}

/*h3.no_background {padding:0; text-align:left; background:none; margin:15px 0 15px; font-size:12px;}
h3.no_background a{padding:0; text-align:left; background:none;font-size:12px;}
*/

/* header */
.header {
	margin: 0 auto 0px;
	padding: 0 0 0px;
	width: 100%;
	min-height: 195px;
	/*background-color: #e9309a; */
	
	background-image:url("../images/header_bg.png");
background-repeat:repeat-x;
	background-position: center top;
}
.header_resize {
	margin: 0 auto;
	padding: 15px 0 0;
	width: 100%;
	height: 176px;
	/*background-color: #e9309a;background-repeat: no-repeat; */
	background-image:url(../images/header_bg.png) left top repet-x;
	
	background-position: center top;
}
.header_height {margin:0 auto; padding:0; height:70px;}
.logo { margin:0 auto  0px; padding:0px 0 5px 0px; font-size:40px;  line-height:1em; float:none; }
.logo div { margin:0 auto; padding:0 0 0; font-weight:normal;  text-transform:none; text-align:center;  }
.logo div a,
.logo div span,
.logo div a:hover { color:#fff; text-decoration:none; font-weight:normal;  font-style:normal;text-transform:none;  }
.logo p { padding:4px 0 1px 2px; margin:0; font-size:10px; line-height:1em;  color:#da3616; font-weight:normal; font-style:normal; text-transform:none;text-align:center;;}

.logo div a span {color:#fff;}

/*now_page*/
.now_page { margin:0px auto 0px; padding:0px 0 0px; width:100%;  }
.now_page_bg { margin:0px auto 0px; padding:0px 0 0px; width:100%; background:url(../images/now_page_bg.png) repeat-x bottom left; }
.now_page_resize { margin:0 auto; padding:0px 00px 50px; text-align:center; width: 100%; background:url(../images/now_page_bg2.png) no-repeat bottom center; min-height:50px;}


/*slider*/
.slider_back {
	background-image:url(images/now_page_bg2.png);
	background-repeat:repeat-x;
	background-size: 100% auto;
	padding: 0px 0 0;
	width: 100%;
	background-color: #0066CC;
	background-repeat: no-repeat;
	background-position: center top;
	background-image: url(../images/slider_bg.jpg);
}
.index_page .slider_back { background-size:100% 100%;  padding:30px 0 0;}
#now_slider {margin:0 auto 0px; padding:30px 0 15px; background:url(../images/slider_bg.png) no-repeat bottom center; width: 100%; position:relative; z-index:45; background-size: contain;}
#now_slider.gap95 { padding-bottom: 31px; }
#now_slider.gap96 { padding-bottom: 20px; background: none; }
.menu .tinynav { display: none; }
#slider-wrapper object { width: 100%; }
#slider { padding:0; margin:00px auto 0px; }
#slider h1 { font: bold italic 30px 'MyriadPro-Regular' !important; sans-serif; color:#fff; padding:0; margin:0; }



h2.h2_act_href { clear:both; padding-left:0px; height:25px;margin-top:0px; }
h2.h2_act_href a span,h2.h2_act_href a{ color:#36383c; text-decoration:none; font-weight:normal;}
h2.h2_act_href a:hover,h2.h2_act_href a:hover em.first_color{ color:#da3616;}

h2.h2_act_href a.h2_href {padding:3px 0 15px 40px; }

h2.h2_act_href a.ico_1{background:url(../images/ico-01.png) no-repeat left top;}
h2.h2_act_href a.ico_2{background:url(../images/ico-02.png) no-repeat left top;}
h2.h2_act_href a.ico_3{background:url(../images/ico-03.png) no-repeat left top;}
h2.h2_act_href a.ico_4{background:url(../images/ico-04.png) no-repeat left top;}
h2.h2_act_href a.ico_1:hover{background:url(../images/ico_a-01.png) no-repeat left top;}
h2.h2_act_href a.ico_2:hover{background:url(../images/ico_a-02.png) no-repeat left top;}
h2.h2_act_href a.ico_3:hover{background:url(../images/ico_a-03.png) no-repeat left top;}
h2.h2_act_href a.ico_4:hover{background:url(../images/ico_a-04.png) no-repeat left top;}




/* social */

.social { margin:0px 0px 40px 0px; padding:0px 0 0px 0px; /*float:right; width:270px; */ }

.social_text { padding:0px 6px 0px 0px; color:#5a5a5a; font-size:18px;text-align:right; width:130px; font-weight:normal; font-style:normal; font-size:14px; color:#fff; float:left; display:none; }
.social_text span, .social_text a {color:#da3616; font-size:11px;}

.social_img {float:none; margin-top:0px;}
.social1 { background:url(../images/social-01.png); }
.social2 { background:url(../images/social-02.png); }
.social3 { background:url(../images/social-03.png); }
.social4 { background:url(../images/social-04.png); }
.social5 { background:url(../images/social-05.png); }
.social6 { background:url(../images/social-06.png); }
.social7 { background:url(../images/social-07.png); }
.social8 { background:url(../images/social-08.png); }
.social9 { background:url(../images/social-09.png); }
.social10{ background:url(../images/social-10.png); }
.social11{ background:url(../images/social-11.png); }
.social1:hover { background:url(../images/social_a-01.png); }
.social2:hover { background:url(../images/social_a-02.png); }
.social3:hover { background:url(../images/social_a-03.png); }
.social4:hover { background:url(../images/social_a-04.png); }
.social5:hover { background:url(../images/social_a-05.png); }
.social6:hover { background:url(../images/social_a-06.png); }
.social7:hover { background:url(../images/social_a-07.png); }
.social8:hover { background:url(../images/social_a-08.png); }
.social9:hover { background:url(../images/social_a-09.png); }
.social10:hover{ background:url(../images/social_a-10.png); }
.social11:hover{ background:url(../images/social_a-11.png); }



.p404 h2{ font-size:50px; color:#da3616;  text-align:center; margin:40px auto 0; line-height:1.2em;  background:none;}
.p404 h2 span{ font-size:36px;  color:#7D7D7D; text-align:center; margin:10px auto 0; line-height:1.2em; }
.p404 p,.p404 a{ font-size:24px; color:#B4B4B4; text-align:center; padding:80px 0 60px; line-height:1.2em; }
.p404 p span { font-size:24px; display:block; text-align:center; margin:20px auto; line-height:1.2em; }
.p404 h2,
.p404 .btn { margin-bottom:0; }
.p404 .content_box { margin-bottom:40px; }
/* Slider */

/* content */
.content { margin:00px auto 0; padding:0px 0px 0px; width:100%;  /*background:url(../images/bg7.jpg);*/
background:url(../images/bg7old.png);  }
.content1 { margin:0 0px auto 0; padding:0px 0px 0px; width:100%;    }
.content_resize { margin:0 auto; width: 100%; padding:40px 0 50px; position:relative; background:url(../images/content_resize_bg.png) no-repeat top center; }

.img_hover_box.pic a { display: block; position: relative; }
.img_hover_box.pic a img { margin:0;}
.img_hover_box.pic a img.h { position: absolute; top: 0; left: 0; visibility:hidden; background:none; border:none; }
.img_hover_box.pic a:hover img.h { visibility:visible; }

/*4cols*/
.cols4 { margin:0 auto; width:100%; padding:0; text-align:left; }

.col4 { width: 23%; margin:0 25px 0 0; float:left; padding:0px;}
.col4.last { margin-right:0; }
.cols4 .img_hover_box.pic a { width: 218px; height: 176px; }

/*3cols*/
.cols3 { margin:0px auto 0; width:100%; padding:0; text-align:left; }
.col3 { width: 31%; margin:0 33px 0 0; float:left; }
.col3 p { margin:0; padding:0; }
.col3.last { margin-right:0; }
.cols3 .img_hover_box.pic a { width: 225px; height: 196px; }

.cols_bg {background:none; }
.cols_pad { padding: 10px 0 20px 0; width: auto; background:#eaeaea; border:1px solid #d9d9d9;}

/*2cols*/
.cols2 { margin:0px auto 0; width:100%; padding:0; text-align:left; }
.col2 { width:307px; margin:0 36px 0 0; float:left; }
.col2.last { float:right; margin-right:0;  }
.col2 .img_hover_box.pic a { width: 338px; height: 240px;}

.col2.big {width:350px;}
.col2.small {width:180px;}

/*1cols*/
.cols1 {/* margin:0px auto 0; width:100%; padding:0; text-align:left; */}
.col1 {  margin:0 0 0 0; padding:0; width:100%; padding:0px 0 0px; float:left;}
.col1.small { width: 100%;  }
.col1.last { float:right; margin-right:0; }
.col1 .img_hover_box.pic a { width: 713px; height:340px; }

/*h3.bottom_border { padding-bottom:15px; margin-bottom:15px; border-bottom:1px solid #b7b7b7;}
h3.bottom_border:hover { border-bottom:1px solid #da3616;}*/

/*blog_info*/
.blog_info { width:100%; margin:0 0 18px;}
.blog_info h3{margin-top:0;}
.blog_info .date { float:left; width:52px; height:40px; color:#232323; font-size:18px; text-align:center; margin:5px 20px 30px 0; background:#f2f2f2; padding:6px 0 0;}
.post .blog_info .date {margin-bottom:10px;}
.blog_info .date span { width:100%; display:block; margin-top:6px; text-transform: uppercase; background:#727272; color:#fff; font-size:12px;}

.content_box {background:none;  margin-bottom:30px;}
.content_box_pad { padding:10px 20px 20px 20px;border:1px solid #d9d9d9; background:#fff;}
.content_box_pad.grey { background:#eaeaea;}

.content_box.last { padding:0; margin-bottom:0px;  }
.content_box.padding {  }
.content_box.no_border{border-bottom:none;}

.content_full_size { width:120%; }

/*columns*/
.columns { margin:00px auto 00px; padding:0; width:100%; }

.columns .list_li ul{ list-style:none;}
.columns .list_li ul li{display:block; padding-bottom:10px;}
.columns .list_li ul li a{padding:5px 0 5px 15px; background:url(../images/c_li.png) no-repeat left; }
.columns .list_li ul li a:hover{ text-decoration:underline;}

.padding {padding:20px; border:1px solid #d9d9d9; background:#eaeaea; }
.padding_clear {padding:20px;}
.padding.sides {padding:0 20px;}
.no_margin {margin:0; padding:0; background:none;}
.no_margin_top {margin-top:0; padding-top:0; background:none;}
.no_margin_bottom {margin-bottom:0; padding-bottom:0; background:none;}

/*centercol*/
.centercol { width: 100%; float:left; padding:0px 0 0; }
.centercol.last {float:right;}
/*sidebar*/
.sidebar {width: 100%; float:left;}
.sidebar.last { float:right; }
.sidebar h2,.sidebar h3 { margin-top:0; padding-top:0;  }/**/
.sidebar_flickr,
.sidebar_text,
.sidebar_testom,
.sidebar_twit,
.sidebar_recent { margin:0px; padding:0px 0 40px;}
.sidebar_recent a {/*font-size:11px; font-style:italic; display:block;*/}
.sidebar_twit p { padding:0 0 10px 0px ;font-style:italic; /*background:url(../images/twitter_li.png) no-repeat top left; /**/}
.sidebar_twit a { display:block;  font-size:11px; font-style:normal; font-weight:bold; }
.sidebar_rec {margin-bottom:20px; }
.sidebar_rec img {float:left; margin:0 5px 5px 0; }
.sidebar_rec p { padding:0px 0 00px; }
.sidebar_rec a { display:block; font-style:normal; text-decoration:none; text-decoration:none; }
.sidebar_rec span { display:block; color:#989898; font-style:normal; font-size:11px;  }


.sidebar_recent h3 ,
.sidebar_recent p{ float:right; width: 194px;}
.sidebar_recent img{ float:left; }

/*.sidebar h2 {margin-bottom:0; padding-bottom:35px; background:url(../images/sidebar_bg_top.png) no-repeat bottom center;}
.sidebar .backgr { padding:10px 20px 10px; background:url(../images/sidebar_bg.png) repeat-y top center;}
.sidebar_flickr,
.sidebar_text,
.sidebar_testom,
.sidebar_twit,
.sidebar_recent { margin:0px auto 30px; padding:0px 0 7px; background:url(../images/sidebar_bg_bottom.png) no-repeat bottom center;}
*/

.testom p {font-style:italic;background:url(../images/quote.png) no-repeat left top;padding:14px 0 0 35px; }
.testom span { text-align:right; margin-top:5px; display:block; margin-bottom:0; padding:0; font-style:normal; }
.testom span a{font-weight:bold;}


.post .pic { margin:0 0 00px; }
.post_detail { color:#a4a4a4; font-style:normal; padding:0; font-size:11px; font-weight:normal; margin:0px 0 10px 0; }
.post_detail a { font-size:11px; color:#a4a4a4; font-weight:normal; font-style:normal; text-decoration:none; }
.post_detail a:hover { font-size:11px; color:#a4a4a4; text-decoration:none; }
.post_date {  color:#fff; font-style:normal; font-weight:normal; font-size:18px; float:left; text-align:center; padding:8px 15px; background:#da3616; border-top:3px solid #353535; margin:0 20px 20px 0; display:none;}
.post_date span { color:#fff; font-style:normal; font-weight:normal; font-size:12px; display:block; margin-top:5px; padding:5px 3px 0; text-align:center; border-top:1px solid #fff; }


.post_detail a.read_more:hover { color:#da3616; font-style:normal; font-weight:normal; }
/*pagination*/
.pagination { margin:0; float:none; padding:10px 10px 00px 0; width:100%; text-align:left; font-weight:normal; }
.pagination a { padding:5px 8px; color:#939393; font-weight:normal; text-decoration:none; background:none; border:transparent; }
.pagination a:hover { padding:5px 8px; text-decoration:none; background:#222222; color:#939393; border:transparent; }
.pagination span.current_page { padding:5px 8px; color:#fff; background:#da3616; border:transparent; }
.pagination span.count_pages { margin-left:11px; padding:5px 8px 5px 8px; background:#222222; color:#939393; border:transparent; }
/*navigation*/
.navigation { margin:0 auto 20px; padding:8px 0 10px 0; width:900px; }
.navigation a { padding:2px 4px; color:#656563; font-size:11px; text-decoration:none; font-weight:normal; }
.navigation a:hover { color:#656566; }
.navigation span.current { color:#656566; padding:0; font-size:11px; }
.navigation span.text { color:#c3c3c3; padding:0; font-size:12px; }
/*sub_page_contact*/

/*form Contact_us*/
#contactform_main { margin:0; padding:5px 60px;  }
#contactform_main * { color:#fff; font-family:'MyriadPro-Regular' !important;  }
#contactform_main ol { margin:0; padding:0; list-style:none; }
#contactform_main li { margin:0; padding:0; background:none; border:none; display:block; clear:both; }
#contactform_main li.buttons { margin:5px 0 5px 0; clear:both;
-webkit-appearance: none;
    border-radius: 0;
	-webkit-border-radius: 0; }
#contactform_main label { margin:0; width:90px; padding:6px 0; text-transform:none; float:left; font-weight:normal; text-align:left; }
#contactform_main label .ness { color:#656566; }
#contactform_main label span { color:#8b8b8b; }
#contactform_main input.text {
	width:150px;
	border: 1px solid #d3d3d3;
	margin-top: 2px;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 5px;
	padding: 5px 2px;
	height: 10px;
	background: #ffffff;
	float: left;
	font-size: 12px;
	 color:#8b8b8e;
	 -webkit-appearance: none;
    border-radius: 0;
	-webkit-border-radius: 0;
}
#contactform_main textarea {
	width:150px; 
padding:6px 0;
 text-align:left; 
 border:1px solid #d3d3d3;
 margin:4px 0;
  padding:5px 2px;
  background:#ffffff; 
 float:left; 
 font-size:12px; 
 color:#8b8b8e; 
 -webkit-appearance: none;
    border-radius: 0;
	-webkit-border-radius: 0;
 }
#contactform_main li.buttons { padding:0 0 3px 0; margin:10px 30px 0 0px; border:0;  float:right; }

/* prefooter */
.prefooter {
	margin: 0px;
	padding: 0px;
	width: 100%;
	border-top: 1px solid #000;
	background-color:#231f20;
}
.prefooter_resize {margin:0 auto; width: 100%; padding:40px 0px 30px 0; }
.prefooter_resize h2 {  }
.prefooter_resize h2 span {  }
.prefooter .fcol { margin:0; float:left; width: 18%; padding:0; text-align:center; }
.prefooter .fcol.last { margin-right: 0px; width:40%; float:right;  }
.prefooter .fcol p { color:#b6b6b6;  }
/*.prefooter .fcol a { color:#da3616;}*/
.prefooter .fcol.pop_posts p { padding:0 0 10px 0; }
.prefooter .fcol.pop_posts h3 { padding:0px 0 0px 0px ;}
.prefooter .fcol.pop_posts h3 span{padding-bottom: 0px ;}
.prefooter .fcol.twit a { font-style:normal; font-size:11px; font-weight:normal;  margin:0; padding:0; }
.prefooter .fcol.twit p {  /*margin:0 0 5px 0; padding:0 0 0 30px;   background:url(../images/twitter_li.png) no-repeat top left;*/}
.prefooter .fcol.twit p span{display:block; font-size:11px; color:#bfbfbf; margin:15px 0 5px;}
.prefooter .fcol.pop_posts img { float:left; margin:5px 20px 0 0; }
.prefooter .fcol.last { margin-right:0; }
.prefooter .fcol.client_says p {font-style:normal; padding:0 0 10px 0;}
.prefooter .fcol.pop_posts a span,
.prefooter .fcol.client_says a span{font-style:italic; color:#4fafd9;  font-size:11px; font-weight:normal; display:block; margin:0; padding:0;}

.prefooter .logo {float:none; width:auto; padding:0 0 20px; margin:0; background:none; text-align:left;}
.prefooter .logo div,.prefooter .logo p {text-align:left; padding-left:0;}

.prefooter h2 { /*margin-bottom:15px;*/ margin-top:0;}
em.footer_h2_font{ color:#ffffff; font-style:normal;}
em.footer_h3_font{ font-style:normal; }

.flickr a img { margin:1px 2px 0 0; padding:0px; background:#ffffff; border:1px solid #d9d9d9; }
.flickr a img:hover { background:#d9d9d9;border:1px solid #d9d9d9; /**/}

.fcol.list_li ul{ list-style:none;}
.fcol.list_li ul li{display:block; padding-bottom:10px;}
.fcol.list_li ul li a{padding:5px 0 5px 15px; background:url(../images/p_li.png) no-repeat left; color:#b6b6b6;}
.fcol.list_li ul li a:hover{background:url(../images/p_li_a.png) no-repeat left; color:#da3616; text-decoration:underline;}

/* footer */
.footer {margin:0 auto; padding:0px 0px; width:100%; height:80px;  }
.footer_resize { margin:0 auto; width: 100%; padding:0px 0 0; background:url(../images/footer_bg.png) repeat-x top left; }
.footer a { color:#b6b6b6; }
.footer p { color:#b6b6b6; text-align:center; padding-top:30px; }



/*coments*/
#coment { overflow:hidden; margin:10px 0; padding-bottom:10px; }
#coment img { float:left; margin-right:20px; }
#coment h3 { margin:0; padding:0; }
#coment .podpis { float:left; margin:5px 0; width:75%; }
#coment .podpis a { margin-left:10px; }
#coment2 { overflow:hidden; margin:10px 0 00px 50px;  padding-bottom:10px; }
#coment2 img { float:left; margin-right:20px; }
#coment2 h3 { margin:0; padding:0; }
#coment2 .podpis { float:left; margin:5px 0; width:74%; }
#coment2 .podpis a { margin-left:10px; }
#coment3 { overflow:hidden; margin:10px 0 00px 100px;  padding-bottom:10px; }
#coment3 img { float:left; margin-right:20px; }
#coment3 h3 { margin:0; padding:0; }
#coment3 .podpis { float:left; margin:5px 0; width:72%; }
#coment3 .podpis a { margin-left:10px; }
#coment3 .lin { border-top:1px solid #c8c8c8; margin-top:20px; }


.pic img { max-width: 100%; height: auto; background:#ffffff; margin-bottom:0px;}
.pic.sm img {padding:1px;}
.pic a:hover img {/*background:#ffde00;border:1px solid #ffde00; */ } 
.pic img.h {background:none;}
.pic.fl { margin:5px 20px 10px 0; }
.pic.fr { margin:5px 0 20px 10px; }

.no_border_top { border-top:none;}
.no_border_bottom { border-bottom:none;}

.btn { margin:2px 0 0;  padding:10px 0px 0; text-align:center; }
.btn a {  color:#da3616; padding:3px 5px; background:#fff; border:1px solid #f93813; font-weight:normal; }
.btn a em.second {color:#fff; font-style:normal;}
.btn a:hover,.btn a:hover em.second {color:#da3616; background:#fff;}
/*.btn a span{color:#da3616; font-size:12px; font-weight:normal; }*/






/*img_hover_box_r_plus*/
.img_hover_box.pic a img.r_plus_overlay { position: absolute; top: 0; left: 0; visibility:hidden;  border:none; width:100%; height:100%; padding:0; }
.img_hover_box.pic a:hover img.r_plus_overlay { visibility:visible; background:url(../images/overlay.png) repeat;}
.img_hover_box.pic a img.r_plus { position: absolute; top: 38%; left: 38%; visibility:hidden; background:none; border:none; }
.img_hover_box.pic a:hover img.r_plus { visibility:visible; }

/* gallery-categ */
.gallery-categ { margin:0; padding:0;}
.gallery-categ li { padding:0; float:left; border-right:1px solid #CCC;}
.gallery-categ li:last-child { border-right:0;}
.gallery-categ li a { font-weight:bold; display:block; padding:5px 10px;}
.gallery-categ li.active a { text-decoration:underline;}

/*4cols_gallery*/
.col44 { width:235px; float:left; padding:0; margin-right:15px; position:relative; top:0px; margin-top:50px; padding-bottom:40px;}
.col44 h3 { position:relative; bottom:0px; margin-bottom:0px;}
.col44 a img { margin-top:0px;}
.col44.last { float:right; margin:0; margin-right:0px;}
.col44.invisible-box { display: none; opacity: 0;  z-index: 999999;}

/*detail a*/
.detail a,a.detail { font-size:11px; text-align:left; font-weight:normal; display:block;/* color:#c0c0c0;}
.detail a:hover,a.detail:hover {color:#da3616;/**/}

/*note*/
.note {margin:0px auto; padding:40px 0;  width:100%; background:url(../images/sep.png) repeat-x top left; }
.note p {margin:0px auto 15px; width:90%; font-style:italic; font-weight:normal; padding:0px 10px 0px 60px; background:url(../images/quote.png) no-repeat left top; font-size:14px;  }
.note span { text-align:left; font-size:12px; display:block;  color:#939393;  font-size:14px; padding-top:5px;}
.note a {color:#939393; font-style:italic; font-size:12px;}

/* search */
.search { margin:0px 0 0 0; float:right; padding:00px 0 0 0; width:205px; height:27px; }
.search form { margin:0; padding:0; width:auto; }
.search span { display:block; margin:0; padding:0; float:left; background:url(../images/search_bg.png) no-repeat left top; }
.search input.editbox_search { margin:0; padding:4px 10px 2px 10px; float:left; width:157px; height:22px; font-size:11px; line-height:16px; color:#979797; background:none; border:none; }
.search input.button_search { margin:0; padding:0; border:none; float:left; }



.rad,.rad_top,.rad_bottom{}

/* special */
.pic.rad_top { padding: 7px; border: 1px solid #D9D9D9; 		}
.pic.rad { padding: 7px; border: 1px solid #D9D9D9; }
.wright { float: right; }
#coment img { margin-bottom: 5px; width: auto; }
#coment2 img { margin-bottom: 5px; width: auto; }
#coment3 img { margin-bottom: 5px; width: auto; }
.maps_view { width: 97.5%; height:350px; float:left; position:relative;padding: 7px; background: white; border: 1px solid #D9D9D9; border-right: none; margin-bottom: 0px; }
.cols3.diff .col3 { width: 47%; }
.cols3.diff .col3.last { margin-right: 0px; float: right; }
.pic.some { padding: 7px; width: 97.7%; float: left; border-top: 1px solid #d9d9d9; border-bottom: 1px solid #d9d9d9; }
one_half_pad h3, p{
	color:#FFFFFF;
	font-family:'MyriadPro-Regular' !important;
}

 .testimonials .text h3 { color:#fff !important;}
.one_third_pad img { max-width: 100%; height: auto; }
.one_half_pad img { max-width: 100%; height: auto; }
.two_third_pad img { max-width: 100%; height:auto; }
.dc_pricingtable03 li h2 { font-size:24px !important;}
.dc_pricingtable03 li h2 { font-size:24px !important;}
.dc_pricingtable03 li h2, .dc_pricingtable03 li h1, .dc_pricingtable03 li h1 span, .dc_pricingtable03 li h3 { color:#fff !important; float: none !important; bottom: 0px !important; background: none !important;}
.dc_pricingtable03 li h2.caption { color:#999 !important; font-size:28px !important;}
.dc_pricingtable06 ul li h3 { font-size:28px !important; color:#fff !important; line-height:180% !important;}
.dc_pricingtable05 ul li h3 { font-size:28px !important; line-height:250% !important; color: #555555 !important; text-align: center;}
div.dc_pricingtable03 .align_center h2 { text-align: center !important; float: none !important; bottom: 0px !important; }
.recent_works.gap { width: auto !important; }

/* */
.oneForth { margin:20px auto; float: left; width: 25%; }
.oneForth img { max-width: 100%; height: auto; }
.oneThird { margin: auto; width: 23%; }
.one_fourth_pad img { max-width: 100%; height: auto; }
/* */
.center_small_box > div:after { clear: both; display: block; }
.center_small_box > div {  position: relative; }
/* img h2 */
h2 img { max-width: 100%; height: auto; }
#slider-wrapper object { width: 100%; }
div.dc_pricingtable03 h1 { font-size: 42px !important; float: none !important; bottom: 0px !important; }
div.dc_pricingtable03 h1 span { display: inline !important; line-height: 52px; }
.dc_pricingtable03 li h2, .dc_pricingtable03 li h1, .dc_pricingtable03 li h1 span, .dc_pricingtable03 li h3 { text-align: center; }

h1.gap90 {
    color: #FFFF !important;
    font-size: 24px !important;
    font-weight: bold !important;
    padding: 20px 0 !important;
    text-align: left !important;
}

.photo:after { content:"" !important; }

.dc_pricingtable03 h2 { background: none !important; }
.dc_pricingtable03 h1 { background: none !important; }
.dc_pricingtable06 ul li h3 { text-align: center; }
.dc_pricingtable05 ul, .dc_pricingtable06 ul, .dc_pricingtable05 ul li,  .dc_pricingtable06 ul li { list-style: none !important; list-style-type: none !important;  } 
div.dc_pricingtable03 h1, div.dc_pricingtable03 h2, div.dc_pricingtable03 h3 { width: auto !important; }
h2.gap87 { text-align: left; }

@media only screen and (max-width: 767px) {
#webstore-navigation li { float:none !important; margin: 5px 0 0 0 !important;}
#catalogue .last-column > div { margin:5px 0 0 0 !important;}
#catalogue .product { float:none !important; width: auto !important;}
#webstore { min-width: auto !important;}
	}



<style>
  body { font-size:"11px"; line-height:"1.5em"; color: #f2f2f2; background-color:#cbb8a1; }
  .logo, h1, h2, h3, h4, h5, h6,.note p,.menu,.btn a,.detail a,a.detail, .label_skitter p,.cs-title,.cs-prev,.cs-next,.camera_caption,.slideDiv div.title,.cp-title,.showcase-thumbnail-caption,.showcase-thumbnail-content,.caption-head,.creative_layer,.caption_green,.caption_blue,.caption_black,.caption_red,.caption_white,.caption_orange,.cr-titles h3 span { font-family:'MyriadPro-Regular' !important; }
  .logo, .logo span, .logo a, h1 span { color: #fff; font-size:"40px"; }
  h1, h1 a { color: #fff; font-size:"24px"; }
  h2, h2 span, h2 a { color: #36383c; font-size:"18px"; }
  h3, h3 a span, h3 a { color: #1b1b1b; font-size:"14px"; }
  body, code, input[type='text'], textarea { font-family:'MyriadPro-Regular' !important; }
  a { color: #f2f2f2; }
  .body_pattern { background-image: URL(http://cdn.dcodes.net/backgrounds/7.jpg); background-position: "50% 0" }
  

.panel {
height: 34px;
padding: 10px;
}
.panel a#login_pop, .panel a#join_pop {
border: 2px solid #07839f;
color: #fff; background-color: #0483a0;
background-image: -webkit-gradient(linear, left top, left bottom, from(#31b2c3), to(#0483a0));
background-image: -webkit-linear-gradient(top, #31b2c3, #0483a0);
background-image: -moz-linear-gradient(top, #31b2c3, #0483a0);
background-image: -ms-linear-gradient(top, #31b2c3, #0483a0);
background-image: -o-linear-gradient(top, #31b2c3, #0483a0);
background-image: linear-gradient(top, #31b2c3, #0483a0);
display: block;
float: right;
margin-right: 10px;
padding: 5px 10px;
text-decoration: none;
text-shadow: 1px 1px #000;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
-ms-border-radius: 10px;
-o-border-radius: 10px;
border-radius: 10px;
}
a#login_pop:hover, a#join_pop:hover {
border-color: #31b2c3; background:#31b2c3;
}
.overlay {
background-color: rgba(0, 0, 0, 0.6);
bottom: 0;
cursor: default;
left: 0;
opacity: 0;
position: fixed;
right: 0;
top: 0;
visibility: hidden;
z-index: 999999;
-webkit-transition: opacity .5s;
-moz-transition: opacity .5s;
-ms-transition: opacity .5s;
-o-transition: opacity .5s;
transition: opacity .5s;
}

.overlay:target {
visibility: visible;
opacity: 1;
}


.popup h2{color:#07839f; line-height:1.8em}
.popup {
	background-image:url(../images/1231.png);
	background-repeat:repeat;
	/*background-color:#FFF;*/
	border: 3px solid #fff;
	display: inline-block;
	left: 50%;
	color: #ff6600;
	opacity: 0;
	padding: 5px;
	position: fixed;
	text-align: justify;
	top: 40%;
	visibility: hidden;
	z-index: 999999;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
	-moz-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
	-ms-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
	-o-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
	box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
	-webkit-transition: opacity .5s, top .5s;
	-moz-transition: opacity .5s, top .5s;
	-ms-transition: opacity .5s, top .5s;
	-o-transition: opacity .5s, top .5s;
	transition: opacity .5s, top .5s;
	height: 600px;
	width: 580px;
	font-family: 'MyriadPro-Regular' !important;
}
.overlay:target+.popup {
top: 50%;
opacity: 1;
visibility: visible;
}
.close {
background-color: rgba(0, 0, 0, 0.8);
height: 30px;
line-height: 30px;
position: absolute;
right: 0;
text-align: center;
text-decoration: none;
top: -15px;
width: 30px;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
-ms-border-radius: 15px;
-o-border-radius: 15px;
border-radius: 15px;
}
.close:before {
color: rgba(255, 255, 255, 0.9);
content: "X";
font-size: 24px;
text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
}
.close:hover {
background-color: rgba(64, 128, 128, 0.8);
}



.popup p, .popup div {
margin-bottom: 4px;
}
.popup label {
display: inline-block;
text-align: left;
width: 180px;
}
.popup input[type="text"], .popup input[type="password"] {
margin: 0;
padding: 4px; background:#d8f6fd;
border: 1px solid #66c8de;
-moz-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff;
-webkit-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff;
box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff;

}
.popup input[type="text"]:hover, .popup input[type="password"]:hover {
background: #fff;
}
input[type=button]{
cursor: pointer;
font: bold 15px Myriad Web Pro;
color: #fafafa;
text-transform: uppercase;
background-color: #0483a0;
background-image: -webkit-gradient(linear, left top, left bottom, from(#31b2c3), to(#0483a0));
background-image: -webkit-linear-gradient(top, #31b2c3, #0483a0);
background-image: -moz-linear-gradient(top, #31b2c3, #0483a0);
background-image: -ms-linear-gradient(top, #31b2c3, #0483a0);
background-image: -o-linear-gradient(top, #31b2c3, #0483a0);
background-image: linear-gradient(top, #31b2c3, #0483a0);
padding:5px;
text-shadow: 0 1px 0 rgba(0, 0 ,0, .3);
-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #fff;
-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #fff;
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #fff;
}
.link{
	text-decoration:none;
	color:#FFF;
	font-weight:bold;
	font-size:20px;
	background-color:#e90e8a;
	margin-right:13px;

}
.link1{
	text-decoration:none;
	color:#ff6600;
	font-weight:bold;
	font-size:14px;
	background-color:#F60;
	margin-left:280px;
}
.login_text{
	font-size:40px; font-weight:bold; color:#ff6600;
}
  
.log_text{
	margin-bottom:15px;
	padding-left:10px; margin-top:15px;
	line-height:20px;
	color:#000;
	font-size:16px;
	
	
}
.alt-target{
	size:200px;
}
  .123{
	  color:#ff6600;
	  font-size:8px;
	  z-index:9999999999999;
	  
  }
    .123:hover{
	  
	  text-decoration:underline;
  }
  .zap{
	text-align: center;
	color: #e90e8a;
	font-size: 20px;
	line-height: 30px;
	padding-top: 10px;
	font-weight:bold;
  }
  .Zap{
	text-align: center;
	color: #e90e8a;
	font-size: 15px;
	
	font-family : 'MyriadPro-Regular' !important;
	
  }
  
  .zap2{
	text-align: center;
	color: #e90e8a;
	font-size: 16px;

  }
 //////////////////////////////////////////////////////////////////////////
 
 
.form {
	float: left;
	width: 500px;
padding-left:5%;
	border: 1px solid #e90e8a;
	background-color: #CCCCCC;

}
/********** contact form **********/
#contactform { margin:0;}
#contactform * {
	color: #000000;
}
#contactform ol { margin:0; padding:0; list-style:none;}
#contactform li { margin:0; padding:0; background:none; border:none; display:block;}
#contactform li.buttons { margin:2px 0 2px 0;}
#contactform label {
	float: left;
	margin: 0;
	width: 200px;
	color: #e90e8a;

	padding-top: 1px;
	padding-right: 0;
	padding-bottom: 0px;
	padding-left: 5%;
	font-family: 'MyriadPro-Regular' !important;
	font-size: 12px;
	font-weight: bold;
	
}
#contactform label span { font:normal 10px 'MyriadPro-Regular' !important;}
#contactform input.text {
	width: 340px;
	border: 1px solid #AFAFAF;
	height: 15px;
	background: #fff;
	margin-top: 2px;
	margin-right: 0;
	margin-bottom: 2px;
	margin-left: 0;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	text-align: left;
	float: left;
	-webkit-appearance: none;
    border-radius: 0;
	-webkit-border-radius: 0;
}
#contactform textarea {
	width:340px;
	border: 1px solid #AFAFAF;
	padding: 2px;
	background: #fff;
	height: 40px;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 0;
	max-width:340px;
	max-height:80px;
	-webkit-appearance: none;
    border-radius: 0;
	-webkit-border-radius: 0;
}
#contactform li.buttons input { padding:3px 0; margin:0 0 0 400; border:0; color:#FFF; -webkit-appearance: none;
    border-radius: 0;}
p.response { text-align:center; color:#2c2c2c; font:bold 11px 'MyriadPro-Regular' !important; line-height:1.8em; width:auto;}

.left  { width:auto; margin:0; padding:5px 5px; } 
 
 
 
 .t1{
	font-size: 15px;
	color: #e90e8a;
	font-family: 'MyriadPro-Regular' !important;
	margin-bottom: 10px;
	text-align:center;
	padding-left:0px;
	}
 
  .t10{
	 font-size:15px;
	 color: #e90e8a;
	 font-family:'MyriadPro-Regular' !important;
	 
	 margin-top:10px;
	

	

	
	
 }
  .t5{
	 font-size:15px;
	 color: #e90e8a;
	 font-family:'MyriadPro-Regular' !important;
	 font-weight:bold;
	 margin:0px;
	 padding-left:15%;
	 padding-bottom:-20px;
	 
	
  }
    .t6{
	 font-size:15px;
	 color: #e90e8a;
	 font-family:'MyriadPro-Regular' !important;
	 font-weight:bold;
	 margin:0px;
	 padding-left:5%;
	 padding-bottom:-20px;
	 
	

	
	
	
 }
	
	

 .t15{
	 font-size:15px;
	 color: #e90e8a;
	 font-family:'MyriadPro-Regular' !important;
	 
	 margin:0px;
	 padding-left:5%;
	 padding-bottom:-20px;
	 
	

	
	
	
 }
 .t2:hover{
	 text-decoration:underline;
 }
 .t2{
 color:#000000;



 }

 .t4{
 color:#000000;
 padding-left:5%;
 text-align:justify;
 font-size:13px;
 width:90%;
 margin-bottom:10px;

 
 }
 
  .t44{
	color: #e90e8a;
	padding-left: 5%;
	font-size: 13px;
	width: 90%;
	margin-bottom: 10px;

 
 }
 
.t3{
padding-right:10px;
}
 
 
#contact input.text {
	width: 170px;
	border: 1px solid #808081;
	height: 13px;
	background: #fff;
	-webkit-appearance: none;
    border-radius: 0;
	-webkit-border-radius: 0;
	
}
#cont input.text {
	width: 170px;
	border: 1px solid #808081;
	height: 13px;
	background: #fff;
	-webkit-appearance: none;
    border-radius: 0;
	-webkit-border-radius: 0;
	
}
.p2{
	color:#666;
	text-decoration:none;
}
.p2:hover{
	text-decoration:underline;
}
 
</style>
